In [1]:
# Import necessary Module
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Define the directory containing the file
data_dir = r'D:\Data Science\Projects\My Projects\Project 12\Horse'

#Get list of all files in the directory
all_files = os.listdir(data_dir)

#Separate the list into horse file and race files
horse_file = [f for f in all_files if f.startswith('horses') and f.endswith('.csv')]

#Initialize empty lists to store DataFrames
horses_list = []

#Read and Concatenate horse files
for file in horse_file:
    df_horse = pd.read_csv(os.path.join(data_dir,file),low_memory=False)
    horses_list.append(df_horse)

all_horses = pd.concat(horses_list,ignore_index=True)

In [3]:
all_horses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4107315 entries, 0 to 4107314
Data columns (total 28 columns):
 #   Column        Dtype
---  ------        -----
 0   rid           int64
 1   horseName     object
 2   age           float64
 3   saddle        float64
 4   decimalPrice  float64
 5   isFav         int64
 6   trainerName   object
 7   jockeyName    object
 8   position      int64
 9   positionL     object
 10  dist          object
 11  weightSt      int64
 12  weightLb      int64
 13  overWeight    float64
 14  outHandicap   float64
 15  headGear      object
 16  RPR           float64
 17  TR            float64
 18  OR            float64
 19  father        object
 20  mother        object
 21  gfather       object
 22  runners       int64
 23  margin        float64
 24  weight        int64
 25  res_win       float64
 26  res_place     float64
 27  price         object
dtypes: float64(11), int64(7), object(10)
memory usage: 877.4+ MB

In [4]:
all_horses.head()

,rid,horseName,age,saddle,decimalPrice,isFav,trainerName,jockeyName,position,positionL,...,OR,father,mother,gfather,runners,margin,weight,res_win,res_place,price
0,271018,Combermere,6.0,0.0,0.222222,0,R G Frost,J Frost,1,NaN,...,NaN,Absalom,Queen's Parade,Sovereign Path,14,1.521003,69,1.0,1.0,NaN
1,271018,Royal Battery,6.0,0.0,0.090909,0,D H Barons,S Earle,2,10,...,NaN,Norfolk Air,All At Sea,Man The Rail,14,1.521003,69,0.0,1.0,NaN
2,271018,Just So,7.0,0.0,0.029412,0,J D Roberts,S Burrough,3,15,...,NaN,Sousa,Just Camilla,Ascertain I,14,1.521003,66,0.0,1.0,NaN
3,271018,Mandraki Shuffle,8.0,0.0,0.090909,0,Oliver Sherwood,M Richards,4,20,...,NaN,Mandalus,Indictment,Desert Call,14,1.521003,69,0.0,0.0,NaN
4,271018,Turnberry Dawn,8.0,0.0,0.047619,0,T B Hallett,P Richards,5,dist,...,NaN,Fair Turn,Shuil Alainn,Levanter,14,1.521003,69,0.0,0.0,NaN

In [5]:
all_horses.isnull().sum()

rid                   0
horseName             0
age                 309
saddle           179168
decimalPrice          0
isFav                 0
trainerName        2850
jockeyName          125
position              0
positionL        783662
dist            1074385
weightSt              0
weightLb              0
overWeight      4012988
outHandicap     3994332
headGear        3119695
RPR              864877
TR              1681610
OR              1795263
father             1289
mother             4480
gfather          119374
runners               0
margin                0
weight                0
res_win               0
res_place             0
price           4012304
dtype: int64

In [6]:
all_horses = all_horses.drop(['overWeight','outHandicap','headGear','price','isFav'],axis=1)

In [7]:
all_horses.head()

,rid,horseName,age,saddle,decimalPrice,trainerName,jockeyName,position,positionL,dist,...,TR,OR,father,mother,gfather,runners,margin,weight,res_win,res_place
0,271018,Combermere,6.0,0.0,0.222222,R G Frost,J Frost,1,NaN,NaN,...,94.0,NaN,Absalom,Queen's Parade,Sovereign Path,14,1.521003,69,1.0,1.0
1,271018,Royal Battery,6.0,0.0,0.090909,D H Barons,S Earle,2,10,NaN,...,88.0,NaN,Norfolk Air,All At Sea,Man The Rail,14,1.521003,69,0.0,1.0
2,271018,Just So,7.0,0.0,0.029412,J D Roberts,S Burrough,3,15,25.0,...,71.0,NaN,Sousa,Just Camilla,Ascertain I,14,1.521003,66,0.0,1.0
3,271018,Mandraki Shuffle,8.0,0.0,0.090909,Oliver Sherwood,M Richards,4,20,45.0,...,65.0,NaN,Mandalus,Indictment,Desert Call,14,1.521003,69,0.0,0.0
4,271018,Turnberry Dawn,8.0,0.0,0.047619,T B Hallett,P Richards,5,dist,75.0,...,45.0,NaN,Fair Turn,Shuil Alainn,Levanter,14,1.521003,69,0.0,0.0

In [8]:
all_horses.isnull().sum()

rid                   0
horseName             0
age                 309
saddle           179168
decimalPrice          0
trainerName        2850
jockeyName          125
position              0
positionL        783662
dist            1074385
weightSt              0
weightLb              0
RPR              864877
TR              1681610
OR              1795263
father             1289
mother             4480
gfather          119374
runners               0
margin                0
weight                0
res_win               0
res_place             0
dtype: int64

In [9]:
all_horses = all_horses.dropna()
all_horses.reset_index(drop=True, inplace=True)

In [10]:
all_horses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167084 entries, 0 to 1167083
Data columns (total 23 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   rid           1167084 non-null  int64
 1   horseName     1167084 non-null  object
 2   age           1167084 non-null  float64
 3   saddle        1167084 non-null  float64
 4   decimalPrice  1167084 non-null  float64
 5   trainerName   1167084 non-null  object
 6   jockeyName    1167084 non-null  object
 7   position      1167084 non-null  int64
 8   positionL     1167084 non-null  object
 9   dist          1167084 non-null  object
 10  weightSt      1167084 non-null  int64
 11  weightLb      1167084 non-null  int64
 12  RPR           1167084 non-null  float64
 13  TR            1167084 non-null  float64
 14  OR            1167084 non-null  float64
 15  father        1167084 non-null  object
 16  mother        1167084 non-null  object
 17  gfather       1167084 non-null  object
 18  runners       1167084 non-null  int64
 19  margin        1167084 non-null  float64
 20  weight        1167084 non-null  int64
 21  res_win       1167084 non-null  float64
 22  res_place     1167084 non-null  float64
dtypes: float64(9), int64(6), object(8)
memory usage: 204.8+ MB

In [11]:
all_horses.head()

,rid,horseName,age,saddle,decimalPrice,trainerName,jockeyName,position,positionL,dist,...,TR,OR,father,mother,gfather,runners,margin,weight,res_win,res_place
0,282203,Impany,11.0,0.0,0.250000,Jonjo O'Neill,Lorcan Wyer,3,5,8.0,...,77.0,111.0,Parasang,Swift Imp,Swift Flight II,3,1.083333,68,0.0,0.0
1,298761,Highland Bounty,6.0,0.0,0.181818,Simon Dow,S Turner,3,15,16.5,...,84.0,131.0,High Line,Segos,Runnymede I,5,1.134199,68,0.0,0.0
2,298761,Wahiba,6.0,0.0,0.266667,R J Holder,N Coleman,4,5,21.5,...,76.0,128.0,Tumble Wind I,Lady Kasbah,Lord Gayle,5,1.134199,66,0.0,0.0
3,298761,Fairfields Cone,7.0,0.0,0.066667,Robin Dickin,Martin Jones,5,5,26.5,...,60.0,121.0,Celtic Cone,Bond's Best,Good BondI,5,1.134199,61,0.0,0.0
4,301118,Mineral Dust,7.0,0.0,0.166667,Mrs Gill E Jones,J Bryan,3,2,5.0,...,88.0,102.0,Callernish,Magnesium,Khalkis,13,1.382585,69,0.0,1.0

In [12]:
all_horses_new = all_horses.copy()

In [13]:
horses = all_horses_new['horseName'].unique()
horses_mapping = {horse: idx + 1 for idx, horse in enumerate(horses)}
horses_mapping

{'Impany': 1,
 'Highland Bounty': 2,
 'Wahiba': 3,
 'Fairfields Cone': 4,
 'Mineral Dust': 5,
 'Rusty Law': 6,
 'Self Aid': 7,
 'Carfax': 8,
 'Copper Streak': 9,
 'Mrs Peopleater': 10,
 'Final Alma': 11,
 'Marradong Brook': 12,
 'Shalchlo Boy': 13,
 'Desert Palm': 14,
 'Side Brace': 15,
 'Sara Lane': 16,
 'Magic Melissa': 17,
 'Jeassu': 18,
 "Tom's Little Bet": 19,
 "Jay Jay's Voyage": 20,
 'What A Wally': 21,
 'Master Attorney': 22,
 'Holly King': 23,
 'Willowesq': 24,
 'Fighting Days': 25,
 'Tadbir': 26,
 'Up The Ladder': 27,
 'Oriental Dream': 28,
 'Radical Request': 29,
 'Trojan Song': 30,
 'Penalty Double': 31,
 'Purple Prince': 32,
 'Five Lamps': 33,
 'Dominion Treasure': 34,
 'Coire Vannich': 35,
 'Prince Klenk': 36,
 'Royalty Bay': 37,
 'The Bear Lover': 38,
 'Ejay Haitch': 39,
 "The Parson's Nun": 40,
 'Nearly Medina': 41,
 'Hope Cove': 42,
 'Mizaj': 43,
 'Elegant Mary': 44,
 'Isobar': 45,
 'Dawn Coyote': 46,
 'Marshlander': 47,
 'Fair Child': 48,
 'Comedy Lane': 49,
 'Dart Over': 50,
 'Good Waters': 51,
 'Cool Reception I': 52,
 'Pit Pony': 53,
 'Tancred Sand': 54,
 'Hazel Bank I': 55,
 'Springholm': 56,
 'Harley Street Man': 57,
 'Dudie I': 58,
 'Karnatak': 59,
 'Heather Moth': 60,
 'Smartie Express': 61,
 'Rogers Princess': 62,
 'Pragada': 63,
 'Concert Paper': 64,
 'Mowthorpe': 65,
 'Taylormade Boy I': 66,
 'Topsoil I': 67,
 'Samfen': 68,
 'Clippers Dream': 69,
 'Lightfall': 70,
 'Carbonate': 71,
 'Telemeter Gem': 72,
 'Wessex': 73,
 'Vale Of Secrecy': 74,
 "Kirsty's Boy": 75,
 'Share A Friend': 76,
 'Gold Flair': 77,
 'Toscana': 78,
 'Sharp Thistle': 79,
 'Under Offer': 80,
 'Deplete': 81,
 'Royal Shepherd': 82,
 'Feeling Rosey': 83,
 'Mangrove': 84,
 'Stormwatch': 85,
 'Excellency': 86,
 'Sharp King': 87,
 'Jaunter': 88,
 'Dunstall': 89,
 'Lakefield': 90,
 'Solar Cloud': 91,
 'Just Mick': 92,
 'Shaheat': 93,
 'Rhodbridge': 94,
 'Furzen Hill': 95,
 'Friendly Henry': 96,
 'Scale Model': 97,
 'More Distinct': 98,
 'PolishI': 99,
 'What About Me': 100,
 'Marcellina': 101,
 'Bonne Arme': 102,
 'Tree Poppy': 103,
 'Rusty Roc': 104,
 'Celtic Bob': 105,
 'Macarthur I': 106,
 'Generals Boy': 107,
 'Trebonkers': 108,
 'In The Breeze': 109,
 'Special Settlement': 110,
 "Alice's Boy": 111,
 'Yorkshire Holly': 112,
 'Directly': 113,
 'Liadett': 114,
 'James My Boy': 115,
 'Instant Tan': 116,
 'Castlevennon': 117,
 'Conscription': 118,
 'Rowlandsons Jewels': 119,
 'Baies': 120,
 'Tarconey': 121,
 'Roll-A-Joint': 122,
 'Team Challenge I': 123,
 'Kodiak Island': 124,
 'Boca Chimes': 125,
 'Into The Red': 126,
 'Captain Ahab': 127,
 'Crashing Bore': 128,
 'Devils Elbow I': 129,
 'Qannaas': 130,
 'Celtic Hambro': 131,
 'Tryumphant Lad': 132,
 'Forest Ranger': 133,
 'Cool Brew': 134,
 'Sicilian Answer': 135,
 'Meshrarf': 136,
 'Youthful Pip': 137,
 'Be Tender': 138,
 'Pansong': 139,
 'Quel Eclat': 140,
 'Campsea-Ash': 141,
 'Cruden Bay': 142,
 'Mr Entertainer': 143,
 'Ardra Duke': 144,
 'Taxi Lad': 145,
 'Gingerland': 146,
 'Basil Thyme': 147,
 'Bee Garden': 148,
 'Knockbrack': 149,
 'Only Trouble': 150,
 'Wont Be Gone Long': 151,
 'Sergeant Sprite': 152,
 'Ickworth': 153,
 'Mister Christian': 154,
 'Charter Hardware': 155,
 'Sandicliffe Boy': 156,
 'Rausal': 157,
 'Sidbury Hill I': 158,
 'Outside Edge': 159,
 'Gallic Prince': 160,
 'Red Columbia': 161,
 'Mr Majinty': 162,
 'Nonsuch Palace': 163,
 'Lurex Girl': 164,
 'Old Deer Park': 165,
 'Stone Madness': 166,
 'Fourth Protocol': 167,
 'Tongsunian': 168,
 'Another Brownie': 169,
 'Emmadill': 170,
 'Cloud Chaser': 171,
 'Leg Up': 172,
 'Kashill': 173,
 'Playfields': 174,
 'Sir Lester': 175,
 'Little Ripper': 176,
 'Pondered Bid': 177,
 'Crown And Horns': 178,
 'Noble Eyre': 179,
 'Horatian': 180,
 'Mighty Prince': 181,
 "Garda's Gold": 182,
 'Into The Trees': 183,
 'Brendan Olivia': 184,
 'Belliver Prince': 185,
 'Moore Stylish': 186,
 'High Bid': 187,
 'Bickerman': 188,
 'Dolly Wardance': 189,
 'Tsarella': 190,
 'Crock-Na-Nee': 191,
 'Inspector Ben': 192,
 'Socks Downe': 193,
 "Sally's Son": 194,
 'Gothic Ford': 195,
 'Hawthorn Jacks': 196,
 'Tumble Jack': 197,
 'Sir Wager': 198,
 'The Langholm Dyer': 199,
 'Jelupe': 200,
 'Tasar': 201,
 'Starjestic I': 202,
 'Carousel Rocket': 203,
 'Pyjamas': 204,
 'Tavern Time': 205,
 'Sohail': 206,
 'Green Marble': 207,
 'Shangoseer': 208,
 'Rushluan': 209,
 'Hamper': 210,
 'Baby Boy': 211,
 'Thurlestone': 212,
 'Atig': 213,
 'Wiltshire Yeoman': 214,
 'Vandenberg': 215,
 'The Grifter I': 216,
 'Tremmin': 217,
 'Fence Judge': 218,
 'Bumbles Folly': 219,
 'Market Leader I': 220,
 'Runaway Train': 221,
 'Macroom': 222,
 'Bob Tisdall': 223,
 'Mr Frisk': 224,
 'The Bakewell Boy': 225,
 'Against The Grain I': 226,
 'Ramilie': 227,
 'Failiq': 228,
 'Meritmoore': 229,
 'Rose Tableau': 230,
 'New Kingsgrove': 231,
 'Kates Fling': 232,
 'Kaim Park': 233,
 'Numerate I': 234,
 'Kersil': 235,
 'See You There': 236,
 'Swirl Howe': 237,
 'A Lad Insane': 238,
 'Herbert United': 239,
 'London Windows': 240,
 'Sterne': 241,
 'Pertemps Network': 242,
 'Sketcher': 243,
 'Withy Bank': 244,
 'Mahana': 245,
 'Regal Brass': 246,
 'Itma': 247,
 'Parsons Green I': 248,
 'Basket Weave': 249,
 'Viscount Tully': 250,
 'The Gaelcharn': 251,
 'Taberna Lord': 252,
 'Es-Port': 253,
 "Prince's Drive": 254,
 "Gala's Image": 255,
 'Fusilier I': 256,
 'Comino Girl': 257,
 'Gibbot': 258,
 'Cut A Caper': 259,
 'Butter Fingers': 260,
 'Incola': 261,
 'Villierstown': 262,
 'Harley I': 263,
 'Ibn Majed': 264,
 'Aughavogue': 265,
 'Pucks Place': 266,
 'Ruststone': 267,
 'The Argonaut': 268,
 'Cash Crisis': 269,
 "Traveller's Trip": 270,
 'Change The Name': 271,
 'Rosie Cone': 272,
 'Monrita': 273,
 'Panto Prince': 274,
 "Star's Delight": 275,
 'Pearlyman': 276,
 'Blueberry King': 277,
 'Long Engagement': 278,
 'Nohalmdun': 279,
 "Norton's Coin": 280,
 'Soybean': 281,
 'Alaicbrun': 282,
 'Some Hero': 283,
 'Bush Maid': 284,
 'Hackforth': 285,
 'Evening Star': 286,
 'Master Tyke': 287,
 'Hit The High Spots': 288,
 'Go South': 289,
 'Algaihabane': 290,
 'Sparkler Gebe': 291,
 'Looting': 292,
 'Champion Girl': 293,
 'Murmuring': 294,
 'Corncharm': 295,
 'Time Share': 296,
 "Orchard's Pet": 297,
 'Caoran Mona': 298,
 'Coral Harbour': 299,
 'Emrys I': 300,
 'Denboy': 301,
 'Generous Scot': 302,
 'Bumptious Boy': 303,
 "Don't Tell Ruth": 304,
 'Dashing Dominoe': 305,
 'Black Comedy': 306,
 'Lake Mission': 307,
 'Buckswill': 308,
 "Mariner's Star": 309,
 'Thin Red Line': 310,
 'Big White Chief': 311,
 'Armagret': 312,
 'Dual Venture': 313,
 'South Cross': 314,
 'Masnoon': 315,
 "L'Uomo Piu": 316,
 'Creeager': 317,
 'Moody Man': 318,
 'Battalion I': 319,
 'Afaristoun': 320,
 'Regal Castle': 321,
 'Daily Sport Soon': 322,
 "Fu's Lady": 323,
 'Why So Hasty': 324,
 'Bessacarr Boy': 325,
 'Flodden Field I': 326,
 'Macho Man': 327,
 'Anbak': 328,
 'Kingswood Kitchens': 329,
 'Sunset Sam': 330,
 'Seaton Girl': 331,
 'Another Season': 332,
 'Spring Play': 333,
 'Castle Jester': 334,
 'Star Of Kuwait': 335,
 'Bravo Star': 336,
 'Senojoj': 337,
 'Ketti': 338,
 'Affaire De Coeur I': 339,
 'Othet': 340,
 'Ringyboy': 341,
 'Tribal Drum': 342,
 'Fearless Fighter': 343,
 'Johns Present': 344,
 'Wharry Burn': 345,
 'Fell Climb': 346,
 'Farm Week': 347,
 'Diego Rivera I': 348,
 'Furnace Mill': 349,
 'Eye Bee Aitch': 350,
 'Stream Bridge': 351,
 'Darton Ri': 352,
 'Coppett Song': 353,
 'Primrose Star': 354,
 'Billilla': 355,
 'Owen': 356,
 'Billion Melody': 357,
 'Almondbury': 358,
 'Oisins Castle': 359,
 'Festive Fling': 360,
 "Directors' Choice": 361,
 'War Child I': 362,
 'Zagazig': 363,
 'Sir Humphrey': 364,
 'Treasure Lord': 365,
 'XylophoneI': 366,
 'Solent Lad': 367,
 'Jazzy Jumper': 368,
 'The Doormaker': 369,
 "Paddy's Pond": 370,
 'Amethea': 371,
 'Another Seeker': 372,
 'Monaru': 373,
 'High Chateau': 374,
 'Guarena': 375,
 'Kingfisher Bay': 376,
 'Strictly Business I': 377,
 'Problem Child': 378,
 'Moss Connell': 379,
 'Brasseys Copse': 380,
 'Dollar Seeker': 381,
 'Hospitable': 382,
 'Crystal Spray': 383,
 'Burn Bridge': 384,
 'Forcello': 385,
 'Times Are Hard': 386,
 'Beechwood Cottage': 387,
 'Breezed Well': 388,
 'Safari Keeper': 389,
 'Sing The Blues': 390,
 'Solitary Reaper': 391,
 'Averon': 392,
 'Suivez Moi': 393,
 'Gullane': 394,
 'Royal Hunt': 395,
 'Great Service': 396,
 'Psycho Sonny': 397,
 'Butlers Pet': 398,
 'Broad Beam': 399,
 'Super Express': 400,
 'Military Band': 401,
 'Necochea': 402,
 'General Chryson': 403,
 'Fort Wapping': 404,
 'Fib': 405,
 'Sirrah Jay': 406,
 'Greenore Pride': 407,
 'Lady Of Baldwin': 408,
 'Tarahumara': 409,
 'Major Match': 410,
 'Breakfast Car': 411,
 'High Aloft': 412,
 'Valverde': 413,
 'Milinetta': 414,
 'Glebe Spinney': 415,
 'Abbreviation': 416,
 'Nodforms Dilemma': 417,
 'First Bout': 418,
 'Red Timber': 419,
 'Pommardy': 420,
 'Deep Sensation': 421,
 'Without A Doubt I': 422,
 'Wonder Man': 423,
 'Kadan': 424,
 'Out Of Range I': 425,
 'Austhorpe Sunset': 426,
 'Royal Illusion': 427,
 'Cool Ground': 428,
 'Woodgate': 429,
 'Remedy The Malady': 430,
 'Sam Da Vinci': 431,
 'Dercander': 432,
 'Straight Down': 433,
 'Knock Thrice': 434,
 'Principal I': 435,
 'Jussoli': 436,
 'Cosmic Ray I': 437,
 'Colombiere': 438,
 'Moloch': 439,
 'Appellant': 440,
 'Premier Princess': 441,
 'Borufus': 442,
 'Abbotts View': 443,
 'Silent Ring': 444,
 'Leave It To Bally': 445,
 "Jupiter's Glory": 446,
 'Spark Of Peace': 447,
 'Wargame': 448,
 'Miss LambI': 449,
 'Strong Gold': 450,
 'Henry Mann': 451,
 'Whistling Tiger': 452,
 'Urizen': 453,
 'Broctune Grey': 454,
 'Direct': 455,
 'Givus A Buck': 456,
 'Yahoo': 457,
 'Rusch De Farges': 458,
 'Ramsdell': 459,
 'Proplus': 460,
 'Green Ridge I': 461,
 'Notre Cheval': 462,
 'Emerald Sunset': 463,
 'Palais De Danse': 464,
 'Sundaysport Scoop': 465,
 "Doctor's Remedy": 466,
 'Carjujen': 467,
 'Lilac Time': 468,
 'Bon Retour': 469,
 'Incredible Lady': 470,
 'Golden Fancy': 471,
 'Bit Of A Chance': 472,
 'True Spartan': 473,
 'Dark Sirona': 474,
 'Good Point': 475,
 'Colonel James': 476,
 "Sailor's Delight": 477,
 'Yamanouchi': 478,
 'Doubtless I': 479,
 'Matrace': 480,
 'Fred Splendid': 481,
 'Tilt Tech Flyer': 482,
 'Winabuck': 483,
 'Stephens Pet': 484,
 'Weetmans Wagon': 485,
 'Hydeonius': 486,
 'Hope Diamond': 487,
 'Rubika': 488,
 'Crosby Place': 489,
 'Realism': 490,
 'Eccolina': 491,
 'The Oil Baron': 492,
 "Daddy's Darling": 493,
 'Talk Of Glory': 494,
 'Denitz': 495,
 'Petite Butterfly': 496,
 'Blazing Sunset': 497,
 'Meziara': 498,
 'Fanny Dillon': 499,
 'Valiant Saint': 500,
 'Kabcast': 501,
 'Ration Of Passion': 502,
 'Gadbrook': 503,
 'Eastern Player': 504,
 'Mister Hartigan': 505,
 'Anglointernational': 506,
 'Sirse': 507,
 'Final Harvest': 508,
 'Masella': 509,
 'Head Groom': 510,
 'Roadster I': 511,
 'Barony Isle': 512,
 'Lightwater Again': 513,
 'Master Vulgan': 514,
 'Gennaro': 515,
 'Good To See You': 516,
 'Queens Palace': 517,
 'Gan On Lad': 518,
 'Enchanted Court': 519,
 'Bixio': 520,
 'Rampallion I': 521,
 'Capulet': 522,
 'Might Move': 523,
 'Earl Hansel': 524,
 'Celtic Remorse': 525,
 'Ten Of Clubs': 526,
 'Sikera Spy': 527,
 'Tiptonian': 528,
 'Moons Quadrille': 529,
 'Ground Master': 530,
 'Lingham Duke': 531,
 'Lor Moss': 532,
 'Stardust Roc': 533,
 'Mister Feathers': 534,
 'Sterling Silver': 535,
 'Valley Of Danuata': 536,
 'Rickeston Lad': 537,
 'Generally Right': 538,
 'Our Nobby': 539,
 'Mighty Falcon': 540,
 'Shaston': 541,
 'Arctic Baron': 542,
 'G W Superstar': 543,
 'Splitthedifference I': 544,
 'Power Punch': 545,
 'Rare Bid': 546,
 'Scarlet Dymond': 547,
 'Our Survivor': 548,
 'Beachamwell': 549,
 'Chico Valdez': 550,
 'Rubydora': 551,
 'Deadline': 552,
 'Pernickety I': 553,
 'Florence May I': 554,
 'Sharp Order': 555,
 'Bel Course': 556,
 'Godounov': 557,
 'Hazy Sunset': 558,
 'Baluchi': 559,
 'Killbanon': 560,
 'Teniente': 561,
 'Western Divide': 562,
 'Alto Cumulus': 563,
 'Oh Dear': 564,
 'Mils Mij': 565,
 'Mirandinha': 566,
 'The Fink Sisters': 567,
 'Takdeer': 568,
 "Sully's Choice": 569,
 'Royal Cracker': 570,
 'Gold Options': 571,
 'Spritebrand': 572,
 'Gaelic Cherry': 573,
 'No One To Blame': 574,
 'Kittinger': 575,
 'Snow Blessed': 576,
 'Galadine': 577,
 'Sidvic': 578,
 'Bunnyloch': 579,
 'My Pal Popeye': 580,
 'Crail Harbour': 581,
 'Grand Party': 582,
 'Little Toro': 583,
 'Pealla': 584,
 'Hill-Street-Blues': 585,
 'Fandango Boy I': 586,
 'Chelsea Man': 587,
 'Weight Problem': 588,
 'Duhallow Boy': 589,
 'Edwards Vision': 590,
 'After The Gloom': 591,
 'Nae Bother': 592,
 'Arable Land': 593,
 'Highland Laird': 594,
 'Bustamente': 595,
 'Reach Me Down': 596,
 'Miss Muck': 597,
 'Cadford Girl': 598,
 "Scylla's Chip": 599,
 'Wycombe Lady': 600,
 'Freelance': 601,
 'Is Reg In': 602,
 'Galterio': 603,
 'Bad Habits': 604,
 'Crowecopper': 605,
 'Mallypha': 606,
 'Squadron': 607,
 'Wantage': 608,
 'None Too Dear': 609,
 'Men Of Yorkshire': 610,
 'Lauderdale Lad': 611,
 'Sunny Slave': 612,
 'Bally Knight': 613,
 'Bendicks': 614,
 'Flag Of Truce I': 615,
 'Kilford': 616,
 'Blue Danube': 617,
 'Rapporteur': 618,
 'Secret Liason': 619,
 'Blue Dart': 620,
 'Krystle Saint': 621,
 'Farmlea Boy': 622,
 "Solomon's Song": 623,
 'Black Spur': 624,
 'High Edge Grey': 625,
 'Nautical Joke': 626,
 'Shilgrove Place': 627,
 'Great Law': 628,
 'Delpiombo': 629,
 'Wide Receiver': 630,
 'Roman Dart': 631,
 'Sevens Out': 632,
 'Parsons Pleasure': 633,
 'Corbally Bess': 634,
 'Winart': 635,
 'Jabrut': 636,
 'Rebel Song': 637,
 'Silver Pale': 638,
 'The Buckwheat': 639,
 'Gillanbone': 640,
 'Drovers Road I': 641,
 'Trojan Debut': 642,
 'Long Bay': 643,
 'Shoon Wind': 644,
 'Over The Road': 645,
 'Memberson': 646,
 'Marejo': 647,
 'The Welder I': 648,
 'Furlana Wonder': 649,
 'Doronicum': 650,
 'Tylers Wood': 651,
 'Inswinger': 652,
 'Sarum': 653,
 'My Diamond Ring': 654,
 'Rivertino': 655,
 'Rustic Comedy': 656,
 "Man O'Magic": 657,
 'Ballyhane': 658,
 'Record Flight': 659,
 'Dawn Prince': 660,
 'Versatile I': 661,
 'The Quietstan': 662,
 'Came Down': 663,
 'Dress Up': 664,
 'Aisholt': 665,
 'Crancheter': 666,
 'Humdecola': 667,
 'Samovar': 668,
 'Ghofar': 669,
 'Royal Hero I': 670,
 'Coworth Park': 671,
 'Eskimo Mite': 672,
 'Eastern Oasis': 673,
 'Golden Minstrel': 674,
 'Boraceva': 675,
 'Canford Palm': 676,
 'Candlebright': 677,
 'Izadyar': 678,
 'Unex-Plained': 679,
 'Mountain Crash': 680,
 "Jane's Joy": 681,
 'Kings Quest': 682,
 'Celtic Bombshell': 683,
 'Peacework': 684,
 'Secret Finale': 685,
 'Lothian Admiral': 686,
 'Fingest': 687,
 'Celtic Flame I': 688,
 'Auntie Dot': 689,
 'Bucko': 690,
 'Centre Attraction': 691,
 'Aban Way': 692,
 'Smart Performer': 693,
 'Gurteen Boy': 694,
 'Colsan Boy': 695,
 'Easy Time': 696,
 'Island Jetsetter': 697,
 'Glenderry': 698,
 'Ruscaroff': 699,
 'Imperial Brush': 700,
 'Jinxy Jack': 701,
 'Royal Derbi': 702,
 'Sudden Victory': 703,
 'Persillant': 704,
 'Hill Street': 705,
 'Magnus Pym': 706,
 'Dunloring': 707,
 'Mr Quick': 708,
 'Faithful Don': 709,
 'Asturias I': 710,
 'Musical Mystery': 711,
 "Solicitor's Choice": 712,
 'Ringmore': 713,
 'Timminion': 714,
 'Mister Boot': 715,
 'Titus Gold': 716,
 'Old Applejack': 717,
 'Swardean': 718,
 'Monanore': 719,
 'Randomly': 720,
 'Akrotiri Bay': 721,
 'Dynamic Star': 722,
 'Forest Fawn': 723,
 'Sales Promoter': 724,
 'Andy Boy': 725,
 'Golden Sound I': 726,
 'Third Son': 727,
 'Way Clear': 728,
 'Papajoto': 729,
 'Gaelgoir': 730,
 'Chantry Boy': 731,
 'Bold Cadet': 732,
 'Kevinsfort': 733,
 'High Imp': 734,
 'Cima': 735,
 'Meditator': 736,
 'Jarras': 737,
 'Playpen': 738,
 'This Nettle Danger': 739,
 'Rein De Tout': 740,
 'Uncle Raggy': 741,
 'Chatsby': 742,
 'Compton Park I': 743,
 'Bartres': 744,
 'Eastshaw': 745,
 'Another Schedule': 746,
 'Larry-O': 747,
 'Lover Bill': 748,
 'Never A Penny': 749,
 'Reggae Beat': 750,
 'Lingfield Lass': 751,
 "Hunza's Choice": 752,
 'Cinnamon Run': 753,
 "Homme D'Affaire": 754,
 'Take Issue': 755,
 'Run High': 756,
 'Greenhills Pride': 757,
 'Dat Train': 758,
 'Social Climber': 759,
 'Munjarid': 760,
 'Cardinal Ralph': 761,
 'Nathan Blake': 762,
 "Annette's Venture": 763,
 'Tepylon': 764,
 'La Plume': 765,
 'Mixed Blessing I': 766,
 "Ida's Delight": 767,
 'Winning Dancer': 768,
 "Monk's Mistake": 769,
 'Donosti': 770,
 'Dipyn Bach': 771,
 'Royal Mile': 772,
 'Tharaleos': 773,
 'Watertight': 774,
 'Bejayjay': 775,
 'Midnight Madness': 776,
 'Ardesee': 777,
 'Polar Nomad': 778,
 'Peanuts Pet': 779,
 'Lumberjack': 780,
 'Four Trix': 781,
 'Kamal Siddiqi': 782,
 'Outcast': 783,
 'Ice Valley': 784,
 'Free Justice': 785,
 'Between The Sheets': 786,
 'Sunset Reins Free': 787,
 'Captain Mannering': 788,
 'Morpion': 789,
 'Celtic Barle': 790,
 'Pearl Run': 791,
 'Fourth Tudor': 792,
 "Annette's Delight": 793,
 'Snitterfield': 794,
 'Travel Over': 795,
 'Sacred Path I': 796,
 'West Tip': 797,
 'Chais Du Fondateur': 798,
 'Qualitair Aviator': 799,
 'Hotplate': 800,
 'Petticoat Power': 801,
 'Al Shany': 802,
 'Mr Dudley': 803,
 'Red Planet I': 804,
 'Rymer King': 805,
 'Greenwood Lad': 806,
 'Pembrokeshire Lad': 807,
 'Jimstro': 808,
 'M I Babe': 809,
 'Norwich Castle': 810,
 'Knighton Lad': 811,
 'Dandy Minstrel': 812,
 'Sweet City': 813,
 'Sherwood Gunner': 814,
 'Midnight Count': 815,
 'Raise An Argument': 816,
 'Pukka Major': 817,
 'Mandraki Shuffle': 818,
 'Shannagary': 819,
 'Terra Di Siena': 820,
 'Randolph Crescent': 821,
 'Jim Bowie': 822,
 'Martial Commander': 823,
 'Squeeze Play': 824,
 'Sister-In-Law': 825,
 'Zeppelin': 826,
 'Tycoon Moon': 827,
 'Zuko': 828,
 'Popeswood': 829,
 'Miramac': 830,
 'Ardbrin': 831,
 'Clear Call': 832,
 'Raven Venture': 833,
 'Narana': 834,
 'Seagram': 835,
 'Solidasarock I': 836,
 'Twin Oaks': 837,
 'Master Vince': 838,
 'Hope End': 839,
 'Jelly Jill': 840,
 'Tamertown Lad': 841,
 'Up-A-Point': 842,
 'Strong Language': 843,
 'High River': 844,
 'Hettinger': 845,
 'Glenside Jerry': 846,
 'Mubaaris': 847,
 'Randolph Place': 848,
 'Lapiaffe': 849,
 'Pop Song I': 850,
 'Flutter Money': 851,
 'Chantilly Lace': 852,
 'Jayells Dream': 853,
 'Falworth': 854,
 'Grace Moore': 855,
 'Ragtime Solo': 856,
 'Pendley Gold': 857,
 'Halcanor': 858,
 'Singlesole': 859,
 'Ghadbbaan I': 860,
 'Tresidder': 861,
 'Abbeydore': 862,
 'I Wonder When': 863,
 'Starrlyn': 864,
 'Thabeh': 865,
 'Bashaq': 866,
 'Rich Remorse': 867,
 'Weirpool': 868,
 'London Standard': 869,
 'Grey Rum': 870,
 'Sir Rufus': 871,
 'My Pilot': 872,
 "Ard T'Match": 873,
 'Senegalais': 874,
 'General Tinker': 875,
 'Betrim': 876,
 'Badrakhani': 877,
 'Star Of The Glen': 878,
 'Lexden': 879,
 'Neeha': 880,
 'Robbie Burns': 881,
 'One For The Pot': 882,
 'Gunner Mac': 883,
 'General Chandos': 884,
 'Vodkatini I': 885,
 'Badihar': 886,
 'Inde Pulse': 887,
 'Santella Bobkes': 888,
 'Bishops Yarn': 889,
 'Highway Express': 890,
 'Moe Greene': 891,
 'Chief IronsideI': 892,
 'Clever Folly': 893,
 'Cool Strike': 894,
 'Penny Forum': 895,
 'Hard To Live': 896,
 'Pactolus': 897,
 'Operatic Score': 898,
 'Tarkovsky': 899,
 'Party Boy': 900,
 'Setter Country': 901,
 'Blue Rainbow': 902,
 'Rondeau': 903,
 'Fit For Firing': 904,
 'Sheer Steel': 905,
 'Boreen King': 906,
 'Waterhay': 907,
 'Montgomery I': 908,
 'My Skiway': 909,
 'Ballinaveen': 910,
 'Canon Class': 911,
 'Express Air': 912,
 'Westway': 913,
 "L'Ane Rouge": 914,
 "It's A Pry": 915,
 'Indamu': 916,
 'Grafton Maisey': 917,
 'Take No Trash': 918,
 'Close Escape': 919,
 'Thamesdown Tootsie': 920,
 'Asticot': 921,
 'Equator I': 922,
 'Sonsie Mo': 923,
 'Tremar Lad': 924,
 "Rosie's Member": 925,
 'Fond Kiss': 926,
 'Tudor Ace': 927,
 'The Fixer': 928,
 'Susan Henchard': 929,
 'Sonalto': 930,
 'Crackle Moor': 931,
 'Fili Folia': 932,
 'Tenesaint': 933,
 'Polyfemus': 934,
 'Huntworth': 935,
 'Authorship': 936,
 'Reindeer Walk': 937,
 'Singing Gold': 938,
 'Concert Pitch': 939,
 'Bad Trade': 940,
 'Wingcommander Eats': 941,
 'Warwick Suite': 942,
 'Mandray': 943,
 'Corn Merchant': 944,
 'Wiggburn': 945,
 'Pikeman': 946,
 'Tartan Trademark': 947,
 'Raisabillion': 948,
 'Smiley': 949,
 'Tudor Romance': 950,
 'The Leggett': 951,
 'The Fruit': 952,

In [14]:
all_horses_new['horseName'] = all_horses_new['horseName'].map(horses_mapping)
all_horses_new.head()

,rid,horseName,age,saddle,decimalPrice,trainerName,jockeyName,position,positionL,dist,...,TR,OR,father,mother,gfather,runners,margin,weight,res_win,res_place
0,282203,1,11.0,0.0,0.250000,Jonjo O'Neill,Lorcan Wyer,3,5,8.0,...,77.0,111.0,Parasang,Swift Imp,Swift Flight II,3,1.083333,68,0.0,0.0
1,298761,2,6.0,0.0,0.181818,Simon Dow,S Turner,3,15,16.5,...,84.0,131.0,High Line,Segos,Runnymede I,5,1.134199,68,0.0,0.0
2,298761,3,6.0,0.0,0.266667,R J Holder,N Coleman,4,5,21.5,...,76.0,128.0,Tumble Wind I,Lady Kasbah,Lord Gayle,5,1.134199,66,0.0,0.0
3,298761,4,7.0,0.0,0.066667,Robin Dickin,Martin Jones,5,5,26.5,...,60.0,121.0,Celtic Cone,Bond's Best,Good BondI,5,1.134199,61,0.0,0.0
4,301118,5,7.0,0.0,0.166667,Mrs Gill E Jones,J Bryan,3,2,5.0,...,88.0,102.0,Callernish,Magnesium,Khalkis,13,1.382585,69,0.0,1.0

In [15]:
trainers = all_horses_new['trainerName'].unique()
trainers_mapping = {trainer: idx + 1 for idx, trainer in enumerate(trainers)}
trainers_mapping

{"Jonjo O'Neill": 1,
 'Simon Dow': 2,
 'R J Holder': 3,
 'Robin Dickin': 4,
 'Mrs Gill E Jones': 5,
 'Michael Banks': 6,
 'J D Roberts': 7,
 'R P C Hoad': 8,
 'T A Forster': 9,
 'Paul Howling': 10,
 'Philip Mitchell': 11,
 'Ron Hodges': 12,
 'D H Barons': 13,
 'Nick Ayliffe': 14,
 'Jim Wilson': 15,
 'W R Williams': 16,
 'M Oliver': 17,
 'D McCain': 18,
 'J A C Edwards': 19,
 'Dai Williams': 20,
 'A Moore': 21,
 'Willie Musson': 22,
 'D J Wintle': 23,
 'W G Morris': 24,
 'Graeme Roe': 25,
 'F Gorman': 26,
 'Charlie Brooks': 27,
 'P Leach': 28,
 'Oliver Sherwood': 29,
 'J H Baker': 30,
 'Philip Hobbs': 31,
 'A R Davison': 32,
 'John Spearing': 33,
 'T Kersey': 34,
 'R J Eckley': 35,
 'N A Gaselee': 36,
 'George Moore': 37,
 'B E Wilkinson': 38,
 'S J Muldoon': 39,
 'Sue Bradburne': 40,
 'D R Gandolfo': 41,
 'D J G Murray Smith': 42,
 'S Christian': 43,
 'W A Stephenson': 44,
 'J S Wilson': 45,
 'Malcolm Jefferson': 46,
 'P Monteith': 47,
 'D Nicholson': 48,
 'M C Pipe': 49,
 'R Akehurst': 50,
 'Mrs P M Joynes': 51,
 'T W Cunningham': 52,
 'M Tate': 53,
 'J T Gifford': 54,
 'Miss S J Wilton': 55,
 'Michael Easterby': 56,
 'Denys Smith': 57,
 'M H Easterby': 58,
 'Dick Allan': 59,
 'Roger Fisher': 60,
 'Nigel Tinkler': 61,
 'G Richards': 62,
 'Paul Cole': 63,
 'D Marks': 64,
 'P G Bailey': 65,
 'J W Blundell': 66,
 'G B Balding': 67,
 'D T Todd': 68,
 'J R Jenkins': 69,
 'Kevin Morgan': 70,
 'W Holden': 71,
 'B C Morgan': 72,
 'J M Bukovets': 73,
 'M J Charles': 74,
 'Mrs H B Dowson': 75,
 'J S King': 76,
 'Jimmy Fox': 77,
 'J Roper': 78,
 'Mrs S A Bramall': 79,
 'Eric Alston': 80,
 "O O'Neill": 81,
 'Richard Lee': 82,
 'M W Davies': 83,
 'R B Francis': 84,
 'Mrs M Reveley': 85,
 'Mowbray Dickinson': 86,
 'J P Leigh': 87,
 'Peter Cundell': 88,
 'C L Popham': 89,
 'Mrs J Pitman': 90,
 'C C Trietline': 91,
 'S Mellor': 92,
 'Mrs D Haine': 93,
 'T M Jones': 94,
 'R Paisley': 95,
 'C R Beever': 96,
 'John Wainwright': 97,
 'T Fairhurst': 98,
 'Brian Ellison': 99,
 'G A Hubbard': 100,
 'Mrs T J McInnes Skinner': 101,
 'F Jordan': 102,
 'R G Brazington': 103,
 'Nicky Henderson': 104,
 'T N Bailey': 105,
 'H Wellstead': 106,
 'T J Houlbrooke': 107,
 'P Ransom': 108,
 'Stewart Pike': 109,
 'Ken Wingrove': 110,
 'Mrs H Fullerton': 111,
 'Richard Mitchell': 112,
 'D R Tucker': 113,
 'L G Cottrell': 114,
 'J B Shears': 115,
 'Mrs J Wonnacott': 116,
 'Brian Forsey': 117,
 'Jackie Retter': 118,
 'Paul Burgoyne': 119,
 'C W Nash': 120,
 'Mark Usher': 121,
 'I P Wardle': 122,
 'T B Hallett': 123,
 'J Ringer': 124,
 'William Price': 125,
 'T W Donnelly': 126,
 'J P Smith': 127,
 "W A O'Gorman": 128,
 'Colin Tinkler': 129,
 'G Ripley': 130,
 'B Byford': 131,
 'Mrs L Clay': 132,
 'R P Sandys-Clarke': 133,
 'N Bradley': 134,
 'J White': 135,
 'P Hayward': 136,
 'Michael Madgwick': 137,
 'R J Manning': 138,
 'Kim Bailey': 139,
 'R G Frost': 140,
 'Mrs H S Wells': 141,
 'Ian Semple': 142,
 'P Davis': 143,
 'J E Swiers': 144,
 'J G Fitzgerald': 145,
 'Miss E Sneyd': 146,
 'P A Blockley': 147,
 'C F C Jackson': 148,
 'Bryn Palling': 149,
 'J C McConnochie': 150,
 'T Thomson Jones': 151,
 'A Hide': 152,
 "R J O'Sullivan": 153,
 'J-M Capitte': 154,
 'Henry Candy': 155,
 'C D Broad': 156,
 'Reginald Brown': 157,
 'F Walwyn': 158,
 'A Barrow': 159,
 'John Mackie': 160,
 'Pam Sly': 161,
 'C J Bell': 162,
 'Andy Turnell': 163,
 'Sirrell Griffiths': 164,
 'A C Batey': 165,
 'R Earnshaw': 166,
 'P Liddle': 167,
 'James Bethell': 168,
 'John Dunlop': 169,
 'Miss A J Whitfield': 170,
 'Alan Bailey': 171,
 'D C Jermy': 172,
 'David Arbuthnot': 173,
 'Bill Turner': 174,
 'B Stevens': 175,
 'Mrs S Oliver': 176,
 'R F Hanks': 177,
 'Mrs Barbara Waring': 178,
 'J R Bosley': 179,
 'B A McMahon': 180,
 'J Wharton': 181,
 'M B James': 182,
 'R Callow': 183,
 'D W Browning': 184,
 'A W Denson': 185,
 'J P D Elliott': 186,
 'D M Grissell': 187,
 'J Ffitch-Heyes': 188,
 'Gerry Enright': 189,
 'A P Stringer': 190,
 'Wilf Storey': 191,
 'G Price': 192,
 'Bryan Smart': 193,
 'A W Jones': 194,
 'Howard Johnson': 195,
 'W Carter': 196,
 'I Campbell': 197,
 'Eric Wheeler': 198,
 'Miss L Bower': 199,
 'Gerald Ham': 200,
 'E Parslow': 201,
 'R Simpson': 202,
 'Mrs I McKie': 203,
 'Miss J Horwood': 204,
 'William Haggas': 205,
 'Dai Burchell': 206,
 'Conrad Allen': 207,
 'M J Wilkinson': 208,
 'C J Benstead': 209,
 'Miss B Sanders': 210,
 'C P Wildman': 211,
 'Allan Smith': 212,
 'Ronald Thompson': 213,
 'Mrs T White': 214,
 'T R Greathead': 215,
 'T Casey': 216,
 'Mrs J H Chadwick': 217,
 'Tom Tate': 218,
 'Mark H Tompkins': 219,
 'David Elsworth': 220,
 'Mrs R Wharton': 221,
 'Michael O Robinson': 222,
 'Lady Herries': 223,
 'Mrs P A Barker': 224,
 'Sally Hall': 225,
 'Mrs V A Aconley': 226,
 'Mrs S M Austin': 227,
 'D H Topley': 228,
 'W Bentley': 229,
 'R Thompson': 230,
 'Peter Hedger': 231,
 'P J Bevan': 232,
 'J Honeyball': 233,
 'A W Potts': 234,
 'William Clay': 235,
 'B Preece': 236,
 'Reg Hollinshead': 237,
 'J Parkes': 238,
 'C J T Alexander': 239,
 'R W Hartop': 240,
 'Nikki Evans': 241,
 'J S Haldane': 242,
 'Jeremy Glover': 243,
 'M J Haynes': 244,
 'Ken Cunningham-Brown': 245,
 'C Holmes': 246,
 'D A Wilson': 247,
 'D W Chapman': 248,
 'John Bridger': 249,
 'Miss G M Rees': 250,
 'R W Stubbs': 251,
 'J W Hills': 252,
 'C W Thornton': 253,
 'Geoffrey Oldroyd': 254,
 'J I A Charlton': 255,
 'C James': 256,
 'R D E Woodhouse': 257,
 'C T Nash': 258,
 'Mrs A R Hewitt': 259,
 'K S Bridgwater': 260,
 'Mrs S J Gospel': 261,
 'Major W N Sample': 262,
 'A F Leighton': 263,
 'Milton Bradley': 264,
 'Miss J Thorne': 265,
 'W T Kemp': 266,
 'Henrietta Knight': 267,
 'M Skinner': 268,
 'Michael Chapman': 269,
 'Mrs S Richardson': 270,
 'J Perrett': 271,
 'T T Bill': 272,
 'K T Ivory': 273,
 'Mark Johnston': 274,
 'A S Ridout': 275,
 'John Upson': 276,
 'John Pickering': 277,
 'Nigel Twiston-Davies': 278,
 'N J Wheeler': 279,
 'Kevin Bishop': 280,
 'Jeff Pearce': 281,
 'C Weedon': 282,
 'J R Shaw': 283,
 'C C Elsey': 284,
 'J K M Oliver': 285,
 'Mrs S A Ward': 286,
 'M Scudamore': 287,
 'Patrick Rodford': 288,
 'Mrs M A Kendall': 289,
 'N Waggott': 290,
 'M J Ryan': 291,
 'Hugh Collingridge': 292,
 'P Dufosee': 293,
 'F T Walton': 294,
 'W G R Wightman': 295,
 'Tim Etherington': 296,
 'L Boulard': 297,
 'J Andrews': 298,
 'W L Barker': 299,
 'Neville Bycroft': 300,
 'J R Fort': 301,
 'David Evans': 302,
 'P W Harris': 303,
 'J Webber': 304,
 'D Dutton': 305,
 'N A Callaghan': 306,
 'B W Hills': 307,
 'Mrs L H M Hall': 308,
 'M Avison': 309,
 'R C Price': 310,
 "M O'Neill": 311,
 'Jim Old': 312,
 'W M Perrin': 313,
 'J Sutcliffe': 314,
 'P Beaumont': 315,
 'L Wordingham': 316,
 'Thomas Patrick McGovern': 317,
 'Fred Watson': 318,
 'D Bloomfield': 319,
 'J R Cox': 320,
 'L J Codd': 321,
 'H B Hodge': 322,
 'George Gracey': 323,
 'Roger Curtis': 324,
 'J F Bottomley': 325,
 'F S Storey': 326,
 'J Chugg': 327,
 'C Sporborg': 328,
 'Owen Brennan': 329,
 'Mark Bradstock': 330,
 'Mrs D Thomson': 331,
 'Barney Curley': 332,
 'D Lee': 333,
 'Hilary Parrott': 334,
 'F H Lee': 335,
 'J L Harris': 336,
 'B Richmond': 337,
 'Miss G Dollar': 338,
 'Mrs A Knight': 339,
 'M P Naughton': 340,
 'G J Powell': 341,
 'B Beasley': 342,
 'C R Nelson': 343,
 'J Colston': 344,
 'R V Smyth': 345,
 'Mrs J R Ramsden': 346,
 'G Harwood': 347,
 'Miss Judy Eaton': 348,
 'Peter Jones': 349,
 'C J Ells': 350,
 'W G McKenzie-Coles': 351,
 'C R Saunders': 352,
 'Mrs E H Heath': 353,
 'A J Mason': 354,
 'A P Jones': 355,
 'Mrs C Postlethwaite': 356,
 'C A Cyzer': 357,
 'Pat Mitchell': 358,
 'R W Swiers': 359,
 'J Joseph': 360,
 'M W Eckley': 361,
 'M Williams': 362,
 'R R Ledger': 363,
 'Roy Brotherton': 364,
 'K White': 365,
 'Anabel K Murphy': 366,
 'J L Goulding': 367,
 'James Turner': 368,
 'K M Brassey': 369,
 'Charles Smith': 370,
 'J Carden': 371,
 'Dr Jon Scargill': 372,
 'A L T Moore': 373,
 'Chris Wall': 374,
 'James Bennett': 375,
 'Victor Thompson': 376,
 'J W Walmsley': 377,
 'R W Dods': 378,
 'Paul Davies': 379,
 'Derrick Scott': 380,
 'B McLean': 381,
 'John D Thomas': 382,
 'Thomas Cuthbert': 383,
 'J R Bostock': 384,
 'A J Bealby': 385,
 'W H Bissill': 386,
 'H Alexander': 387,
 'Mrs S Armytage': 388,
 'R Shail': 389,
 'W F Caudwell': 390,
 'P M Cowley': 391,
 'Karen George': 392,
 'Jason Parfitt': 393,
 'W G Reed': 394,
 'Joseph Redmond': 395,
 'R F Johnson Houghton': 396,
 'W Wilson': 397,
 'Thomas Weller': 398,
 'C Parker': 399,
 'S G Payne': 400,
 'Mrs L Piggott': 401,
 'Mel Brittain': 402,
 'S G Norton': 403,
 'F Gibson': 404,
 'Dennis Bell': 405,
 'James Payne': 406,
 'D H L Nugent': 407,
 'J D J Davies': 408,
 'B R Cambidge': 409,
 'David Barron': 410,
 'T Morton': 411,
 'Clive Brittain': 412,
 'P J Arthur': 413,
 'Mrs N Macauley': 414,
 'Adrian Chamberlain': 415,
 'T Craig': 416,
 'K B McCauley': 417,
 'G Lewis': 418,
 'D T Thom': 419,
 'Mick Channon': 420,
 'Mrs J E Croft': 421,
 'E H Owen Jun': 422,
 'Dr G M Thelwall Jones': 423,
 'G McGuinness': 424,
 'C A Horgan': 425,
 'A M Robson': 426,
 'Terry Caldwell': 427,
 'Mrs A E Ratcliff': 428,
 'F Jestin': 429,
 'Tim Walford': 430,
 'J Berry': 431,
 'Rod Millman': 432,
 'W G Turner': 433,
 "J O'Donoghue": 434,
 'Jonathan Haynes': 435,
 'Miss Z A Green': 436,
 'Mrs B K Broad': 437,
 'Richard Hannon Snr': 438,
 'Robin Bastiman': 439,
 'K A Ryan (Past)': 440,
 'N A Smith': 441,
 'C J Vernon Miller': 442,
 'P Calver': 443,
 'Michael Blanshard': 444,
 'Roy Bowring': 445,
 'Peter Makin': 446,
 'Paddy Butler': 447,
 'Lord Head': 448,
 'I A Balding': 449,
 'Richard Whitaker': 450,
 'R Boss': 451,
 'P D Connors': 452,
 'N A Graham': 453,
 'N Miller': 454,
 'Andrew Reid': 455,
 'Dr P Pritchard': 456,
 'C J Hill': 457,
 'R A Bennett': 458,
 'Rae Guest': 459,
 'Sir Mark Prescott Bt': 460,
 'L C Corbett': 461,
 'N B Thomson': 462,
 'Michael Bell': 463,
 'Richard Price': 464,
 'C G Roach': 465,
 'P Mullins': 466,
 'John Crowley': 467,
 'R J R Williams': 468,
 'M J Fetherston-Godley': 469,
 'S E Kettlewell': 470,
 'Capt J Wilson': 471,
 'P J Anderson': 472,
 'Althea Barclay': 473,
 'J W Payne': 474,
 'C W C Elsey': 475,
 'J W Watts': 476,
 'Sir Michael Stoute': 477,
 'S T R Stevens': 478,
 'William Jarvis': 479,
 'F Gray': 480,
 'R Voorspuy': 481,
 'John Gosden': 482,
 'P S Felgate': 483,
 'Clarissa Caroe': 484,
 "F J O'Mahony": 485,
 'E Weymes': 486,
 'Mrs J Bloom': 487,
 'R T Juckes': 488,
 'G Thorner': 489,
 'Lord J Fitzgerald': 490,
 'S A Torr': 491,
 'Ray Peacock': 492,
 'Lord Huntingdon': 493,
 'Luca Cumani': 494,
 'M P Muggeridge': 495,
 'G A Pritchard-Gordon': 496,
 'H Thomson Jones': 497,
 'J Hanson': 498,
 'R W Armstrong': 499,
 'E Eldin': 500,
 'Major W R Hern': 501,
 'J Etherington': 502,
 'M J Camacho': 503,
 'Renee Robeson': 504,
 'W W Haigh': 505,
 'T J Naughton': 506,
 'A A Scott': 507,
 'D Morley': 508,
 'M E D Francis': 509,
 'Michael Jarvis': 510,
 'John Balding': 511,
 'C B B Booth': 512,
 'B M Temple': 513,
 'M McCormack': 514,
 'Mrs J C Weir': 515,
 'P T Walwyn': 516,
 'L J Holt': 517,
 'G A Huffer': 518,
 'D Moffatt': 519,
 "John O'Shea": 520,
 'J Hetherton': 521,
 'H J Gill': 522,
 'M J Bolton': 523,
 'S T Harris': 524,
 'Derek Haydn Jones': 525,
 'Mohamed Moubarak': 526,
 'D C Robinson': 527,
 'M McCourt': 528,
 'F Durr': 529,
 'P J Feilden': 530,
 'M W Ellerby': 531,
 'Don Enrico Incisa': 532,
 'J S Moore': 533,
 'J S Bolger': 534,
 'P A Kelleway': 535,
 'Steve Woodman': 536,
 'Roger Charlton': 537,
 'W G A Brooks': 538,
 'A N Lee': 539,
 'G Wragg': 540,
 'B Hanbury': 541,
 'James Fanshawe': 542,
 'J Norton': 543,
 'A C Stewart': 544,
 'Dave Morris': 545,
 'Miss Kate Milligan': 546,
 'H Barclay': 547,
 'C Spares': 548,
 'Sir Henry Cecil': 549,
 'C N Williams': 550,
 'G H Eden': 551,
 'A Smith': 552,
 'L J Barratt': 553,
 'J Dooler': 554,
 "Ronald O'Leary": 555,
 'J D Czerpak': 556,
 'George Wareham': 557,
 'Lynn Siddall': 558,
 'J J Birkett': 559,
 'T Laxton': 560,
 'G Blum': 561,
 'Mrs Sarah Walwin': 562,
 'F G Hollis': 563,
 'J S Hubbuck': 564,
 'O J Carter': 565,
 'Peter Pritchard': 566,
 'J P Hudson': 567,
 'Roy Robinson': 568,
 'A Harrison': 569,
 'George Jones': 570,
 'Mrs S Hutchings': 571,
 'M F Barraclough': 572,
 'James Toller': 573,
 'F J Yardley': 574,
 'James Eustace': 575,
 'C J Drewe': 576,
 'C A Austin': 577,
 'Richard Lister': 578,
 'D K Weld': 579,
 'Giles Bravery': 580,
 'D Yeoman': 581,
 'Miss P Hall': 582,
 'Micky Hammond': 583,
 'Brian Gubby': 584,
 'R J Muddle': 585,
 'K R Burke': 586,
 'Mrs F Walwyn': 587,
 'John E Long': 588,
 'R R Lamb': 589,
 'Ferdy Murphy': 590,
 'Sir Christopher Wates': 591,
 'A A King': 592,
 'R Barrow': 593,
 'Chris Dwyer': 594,
 'Mrs E M Brooks': 595,
 'Bernard Scriven': 596,
 'John Akehurst': 597,
 'R H Alner': 598,
 'Kevin Prendergast': 599,
 'D D G Welsh': 600,
 'N T Eley': 601,
 "Daniel O'Brien": 602,
 'C R Barwell': 603,
 'B Llewellyn': 604,
 'A P James': 605,
 'J E Brockbank': 606,
 'T Goldie': 607,
 'P C Clarke': 608,
 'Sue Smith': 609,
 'John Wade': 610,
 'A J K Dunn': 611,
 'Les Eyre': 612,
 'Ron Barr': 613,
 'R F Casey': 614,
 'Derek Wellicome': 615,
 'Mrs S D Williams': 616,
 'Mrs M Stirk': 617,
 'N Chamberlain': 618,
 'Paul Dalton': 619,
 'George Yardley': 620,
 'Robert Goldie': 621,
 'Clive Cox': 622,
 'H Edward Haynes': 623,
 'F Taylor': 624,
 'J Sunter': 625,
 'N G H Dunn': 626,
 'R D Townsend': 627,
 'V R Bishop': 628,
 'Mrs G Thorner': 629,
 'J Pilkington': 630,
 'M Brown': 631,
 'Bruce Mactaggart': 632,
 'H A T Whiting': 633,
 'Ray Underhill': 634,
 'Martyn Meade': 635,
 'John Hellens': 636,
 'Neil S McGrath': 637,
 'M Henriques': 638,
 'M F Morris': 639,
 'Mrs M Easton': 640,
 'Miss S Waterman': 641,
 'C V Bravery': 642,
 'Mrs J Szuszkewicz': 643,
 'Susan Johnson': 644,
 'W J Smith': 645,
 'B T Crawford': 646,
 'M R Churches': 647,
 'Mrs S J R Hembrow': 648,
 'S B Avery': 649,
 'John Ryall': 650,
 'Gordon Edwards': 651,
 'R J Bevis': 652,
 'W R Sheedy': 653,
 "James Joseph O'Connor": 654,
 'J K Kinane': 655,
 'R Barton': 656,
 'Miss J E Barclay': 657,
 'C A Smith': 658,
 'N Kernick': 659,
 'Mrs R Murdoch': 660,
 'R Kleparski': 661,
 'R Champion': 662,
 'A Csaky': 663,
 'D C Tucker': 664,
 'D Robertson': 665,
 'Mrs M McCourt': 666,
 'Miss A Formston': 667,
 'W H Tinning': 668,
 'D Morrill': 669,
 'G G A Gregson': 670,
 'S N Cole': 671,
 'T M Gibson': 672,
 'G M R Coatsworth': 673,
 'Roger Ingram': 674,
 'S C Horn': 675,
 'E M Caine': 676,
 'Nerys Dutfield': 677,
 'V Young': 678,
 'R F Marvin': 679,
 'Alan Mactaggart': 680,
 'F Lennon': 681,
 'Bob Buckler': 682,
 'M McDonagh': 683,
 'Mrs S Minns': 684,
 'V Bowens': 685,
 'Miss S B Duffy': 686,
 'W John Smith': 687,
 'John Needham': 688,
 'Mrs A M Woodrow': 689,
 'Mouse Hamilton-Fairley': 690,
 'B Bousfield': 691,
 'L Lungo': 692,
 'Miss A J Aitkin': 693,
 'M A Clutterbuck': 694,
 'B W Murray': 695,
 'W H Crawford': 696,
 'A Eubank': 697,
 'A M Crow': 698,
 'C J Sample': 699,
 'John Panvert': 700,
 'P C Haslam': 701,
 'M P McNeill': 702,
 'Alan Blackmore': 703,
 'J E Collinson': 704,
 'N S Blatchley': 705,
 'H Willis': 706,
 'W R Page': 707,
 'Julie Cecil': 708,
 'S Woods': 709,
 'R Old McDonald': 710,
 'R C Armytage': 711,
 'Mrs R Brackenbury': 712,
 'Simon Sherwood': 713,
 'Mrs C M Budd': 714,
 'Mrs J D Goodfellow': 715,
 'Peter Chapple-Hyam': 716,
 'D McCune': 717,
 'Mrs G S Plowright': 718,
 'Bob Jones': 719,
 'Alistair Whillans': 720,
 'William Muir': 721,
 'J E Banks': 722,
 'D R Laing': 723,
 'Mrs D F Culham': 724,
 'Grenville Richards': 725,
 'Tony Forbes': 726,
 'Michael Dods': 727,
 'Robert Johnson': 728,
 'Mrs P A Tetley': 729,
 'Mrs S Lamyman': 730,
 'Bernard Llewellyn': 731,
 'P F Tulk': 732,
 'Edward P Harty': 733,
 'Brian McMath': 734,
 'G Stickland': 735,
 'C McCready': 736,
 'J H Peacock': 737,
 'Brian Rothwell': 738,
 'D R Bloor': 739,
 'Linda Perratt': 740,
 'P Green': 741,
 'D Scott': 742,
 'Patrick J Flynn': 743,
 'R C Spicer': 744,
 'J P Taplin': 745,
 'Felix Sheridan': 746,
 'Mrs P Yardley': 747,
 'G C Doidge': 748,
 'B R J Young': 749,
 'Linda Stubbs': 750,
 'C Bridgett': 751,
 'J E Forte': 752,
 'Maurice Barnes': 753,
 'Mrs J R French': 754,
 'Richard Rowe': 755,
 'M D McMillan': 756,
 'J C Tuck': 757,
 'Robert Goodall': 758,
 'S G Chadwick': 759,
 'Edward J Kearns': 760,
 'Paul Nicholls': 761,
 'Sue Taylor': 762,
 'T E Jeffrey': 763,
 'Robert Wood': 764,
 'C F Coyne': 765,
 'Patrick G Kelly': 766,
 'R J Weaver': 767,
 'F S Jackson': 768,
 'D G Swindlehurst': 769,
 'C P Billot': 770,
 'S W Campion': 771,
 'D J W Edmunds': 772,
 'G F H Charles-Jones': 773,
 'Colin Mitchell': 774,
 'Robin Mathew': 775,
 'Alan Jarvis': 776,
 'R Dean': 777,
 'C J Hitchings': 778,
 'Miss T A White': 779,
 'Mrs V C Ward': 780,
 'F Doumen': 781,
 'L Waring': 782,
 'C Nigel Gowling': 783,
 'T L A Robson': 784,
 'Mrs J C Dawe': 785,
 'Mrs L J Leggat': 786,
 'Mrs N Goffe': 787,
 'D N Carey': 788,
 'C H Jones': 789,
 'Mrs F E White': 790,
 'D J Deacon': 791,
 'R J Baker': 792,
 'H C Harper': 793,
 'Mrs H Bell': 794,
 'Mrs J S Perrin': 795,
 'D R Franks': 796,
 'M Dixon': 797,
 'Brian Eckley': 798,
 'D A Roxburgh': 799,
 'T J Carr': 800,
 'I Park': 801,
 'W Jenks': 802,
 'Mrs J Sidebottom': 803,
 'Charles Egerton': 804,
 'R Tate': 805,
 'D Esden': 806,
 'Peter M Kiely': 807,
 'Nick Burd': 808,
 'M J Grassick': 809,
 'John Houghton': 810,
 'John Brassil': 811,
 'O R Prince': 812,
 'N M Babbage': 813,
 'Miss D J Baker': 814,
 'D R Wike': 815,
 'S Arthur': 816,
 'Mrs C A Kruse': 817,
 'Anthony Mullins': 818,
 'P R Haley': 819,
 'Francis Berry': 820,
 'T M Walsh': 821,
 'B V Kelly': 822,
 'N W Alexander': 823,
 'Mark Brisbourne': 824,
 'D H Clyde': 825,
 'John Allen': 826,
 'R C Pugh': 827,
 'Robert Waley-Cohen': 828,
 'Gay Kelleway': 829,
 'Mrs E J Woolley': 830,
 'G M Price': 831,
 'H J M Webb': 832,
 'P M McEntee': 833,
 'M J Heaton-Ellis': 834,
 'D Eddy': 835,
 'J M Carr': 836,
 'J Skelton': 837,
 'David Brown': 838,
 'Charlie Mann': 839,
 'Derek Shaw': 840,
 'P Wigham': 841,
 'R Evans': 842,
 'G Barnett': 843,
 'Mrs Pauline Gavin': 844,
 'A S Neaves': 845,
 'D T Garraton': 846,
 'N J Jones': 847,
 'J K Cresswell': 848,
 'S F Turton': 849,
 'K W Hogg': 850,
 'G P Kelly': 851,
 'Donal Nolan': 852,
 'D Sasse': 853,
 'C V Lines': 854,
 'Ms Kay Rees': 855,
 'H M Kavanagh': 856,
 'D J S Cosgrove': 857,
 'G F White': 858,
 'Gruffydd Jones': 859,
 'N H Davis': 860,
 'Giuseppe Fierro': 861,
 'Miss K S Allison': 862,
 'Daniel J Murphy': 863,
 'S M Hillen': 864,
 'Thomas Dyer': 865,
 'N Grainger': 866,
 'J D Hugill': 867,
 'David Loder': 868,
 'H J Manners': 869,
 'Merrita Jones': 870,
 'W M Nelson': 871,
 'Miss C D Richardson': 872,
 'P S Madgwick': 873,
 'J Cosgrave': 874,
 'R Brewis': 875,
 'Mrs J C Breese': 876,
 'Miss R J Patman': 877,
 'D T Turner': 878,
 'D R Greig': 879,
 'N B Mason': 880,
 'Paul Rich': 881,
 'Pat Murphy': 882,
 'W Raw': 883,
 'Malcom Smith': 884,
 'Miss J Southall': 885,
 'H T Cole': 886,
 'Mrs C J Black': 887,
 'J W Curtis': 888,
 'W Williams': 889,
 'G Fleming': 890,
 'G L Roe': 891,
 'Gary Moore': 892,
 'P Cheesbrough': 893,
 'C Cowley': 894,
 'Malcolm Saunders': 895,
 'Miss G Sarah Jennings': 896,
 'J Hurst': 897,
 'P Riddick': 898,
 'John Whyte': 899,
 'F G Tucker': 900,
 'Tom Keddy': 901,
 "E J O'Grady": 902,
 'F Coton': 903,
 'Ann Duffield': 904,
 'G L Humphrey': 905,
 'Lord Oaksey': 906,
 'Mrs M E Long': 907,
 'A A Hambly': 908,
 'J Kirby': 909,
 'Mrs J Renfree-Barons': 910,
 'Miss S L Gallie': 911,
 'Noel Meade': 912,
 'D G Williams': 913,
 'E T Buckley': 914,
 'R M Flower': 915,
 'S I Pittendrigh': 916,
 'S Coathup': 917,
 'Ms J S Doyle': 918,
 'Miss N Berry': 919,
 'T G Mills': 920,
 'Mrs J Scrivens': 921,
 'John Dixon': 922,
 'Brian Baugh': 923,
 'J F C Maxwell': 924,
 'C H P Bell': 925,
 'J H Scott': 926,
 'M C Humby': 927,
 'Linda Jewell': 928,
 'J R Adam': 929,
 'F Lloyd': 930,
 'A Streeter': 931,
 'Barbara Butterworth': 932,
 'R F Stone': 933,
 'Brian Meehan': 934,
 'Steve Gollings': 935,
 'Mrs E Moscrop': 936,
 'Jim Goldie': 937,
 'A J Cottrell': 938,
 'Sandy Thomson': 939,

In [16]:
all_horses_new['trainerName'] = all_horses_new['trainerName'].map(trainers_mapping)
all_horses_new.head()

,rid,horseName,age,saddle,decimalPrice,trainerName,jockeyName,position,positionL,dist,...,TR,OR,father,mother,gfather,runners,margin,weight,res_win,res_place
0,282203,1,11.0,0.0,0.250000,1,Lorcan Wyer,3,5,8.0,...,77.0,111.0,Parasang,Swift Imp,Swift Flight II,3,1.083333,68,0.0,0.0
1,298761,2,6.0,0.0,0.181818,2,S Turner,3,15,16.5,...,84.0,131.0,High Line,Segos,Runnymede I,5,1.134199,68,0.0,0.0
2,298761,3,6.0,0.0,0.266667,3,N Coleman,4,5,21.5,...,76.0,128.0,Tumble Wind I,Lady Kasbah,Lord Gayle,5,1.134199,66,0.0,0.0
3,298761,4,7.0,0.0,0.066667,4,Martin Jones,5,5,26.5,...,60.0,121.0,Celtic Cone,Bond's Best,Good BondI,5,1.134199,61,0.0,0.0
4,301118,5,7.0,0.0,0.166667,5,J Bryan,3,2,5.0,...,88.0,102.0,Callernish,Magnesium,Khalkis,13,1.382585,69,0.0,1.0

In [17]:
jockeys = all_horses_new['jockeyName'].unique()
jockeys_mapping = {jockey: idx + 1 for idx, jockey in enumerate(jockeys)}
jockeys_mapping

{'Lorcan Wyer': 1,
 'S Turner': 2,
 'N Coleman': 3,
 'Martin Jones': 4,
 'J Bryan': 5,
 'D Skyrme': 6,
 'Gee Armytage': 7,
 'M Hoad': 8,
 'H Davies': 9,
 'M Furlong': 10,
 'Mr R Teal': 11,
 'Carl Llewellyn': 12,
 'D Wonnacott': 13,
 'W Irvine': 14,
 'S Earle': 15,
 'M Ayliffe': 16,
 'N Mann': 17,
 'Peter Scudamore': 18,
 'M Richards': 19,
 'W McFarland': 20,
 'R J Beggan': 21,
 'D McCain': 22,
 'T Morgan': 23,
 'D Hood': 24,
 'G Moore': 25,
 'C Smith': 26,
 'P McDermott': 27,
 'W Morris': 28,
 'P Johnson': 29,
 'S Hodgson': 30,
 'Peter Hobbs': 31,
 'D Morris': 32,
 'Derek Byrne': 33,
 'J Railton': 34,
 'Susan Kersey': 35,
 'Mr M Jackson': 36,
 'J Duggan': 37,
 'A Adams': 38,
 'M Hammond': 39,
 'G Harker': 40,
 'N Old Smith': 41,
 'J Hansen': 42,
 'W Humphreys': 43,
 'P Verling': 44,
 'N Hawke': 45,
 'A Tory': 46,
 'A Mulholland': 47,
 'Kenny Johnson': 48,
 'M Hill': 49,
 "L O'Hara": 50,
 'R Dunwoody': 51,
 'Luke Harvey': 52,
 'K Jones': 53,
 'C Maude': 54,
 'S Keightley': 55,
 'R Rowe': 56,
 'S Old Davies': 57,
 'C Ryan': 58,
 'Peter Niven': 59,
 'A Carroll': 60,
 'D Dunne': 61,
 'Russ Garritty': 62,
 'R Hodge': 63,
 'B Powell Snr': 64,
 'G McCourt': 65,
 'C Grant': 66,
 'Mr P Doyle': 67,
 'T Quinn': 68,
 'Jimmy Quinn': 69,
 'M Wigham': 70,
 'B De Haan': 71,
 'M Brennan': 72,
 'J Frost': 73,
 'K Mooney': 74,
 'S McNeill': 75,
 'C Prince': 76,
 'W Bird': 77,
 'J Pullin': 78,
 'S Foster': 79,
 'Steve Smith-Eccles': 80,
 'R Hyett': 81,
 'C Dennis': 82,
 "J O'Gorman": 83,
 'M Alston': 84,
 'Vince Slattery': 85,
 'B Dowling': 86,
 'W Knox': 87,
 'Mr P Craggs': 88,
 'S Cunningham': 89,
 'F Murtagh': 90,
 'Richard Guest': 91,
 'J Lower': 92,
 'Adele Jackson': 93,
 'Gary Lyons': 94,
 'M Bowlby': 95,
 'R Stronge': 96,
 'Jamie Osborne': 97,
 'R Bellamy': 98,
 'P Barnard': 99,
 'Mr T Mitchell': 100,
 'Mr T Morrison': 101,
 'Mr R Hale': 102,
 'B McGiff': 103,
 'Joe Fanning': 104,
 'D Murphy': 105,
 'J Lodder': 106,
 'J White': 107,
 'Mr E Bailey': 108,
 'Graham Bradley': 109,
 'J Shortt': 110,
 'P Holley': 111,
 'W Sterry': 112,
 'Shaun Murphy': 113,
 'A Forte': 114,
 'R Macneice': 115,
 'Peter Caldwell': 116,
 'N Dawe': 117,
 'A Charlton': 118,
 'Mrs P Nash': 119,
 'M Marshall': 120,
 'P Richards': 121,
 'M Pitman': 122,
 'David Eddery': 123,
 'Gary Carter': 124,
 "G 'Old' Martin": 125,
 'Mr R Sandys Clarke': 126,
 'A Orkney': 127,
 'R Supple': 128,
 'Mr C Farrell': 129,
 'Mr N R Mitchell': 130,
 'A McCabe': 131,
 'C Huggan': 132,
 'D Madgwick': 133,
 'A McLellan': 134,
 'Rodi Greene': 135,
 'S Cowley': 136,
 'Mark Dwyer': 137,
 'J Callaghan': 138,
 'Ger Lyons': 139,
 'I Lawrence': 140,
 'S Mackey': 141,
 'D Gallagher': 142,
 'P Midgley': 143,
 'C Dempsey': 144,
 'D Tegg': 145,
 'D Rees': 146,
 'L Mahoney': 147,
 'Billy Newnes': 148,
 'P Masure': 149,
 'C Rutter': 150,
 'J Brown': 151,
 'R Chapman': 152,
 "S J O'Neill": 153,
 'R Fahey': 154,
 'C Kellett': 155,
 'Rachel Halden': 156,
 'R Marley': 157,
 'M Perrett': 158,
 'M Moloney': 159,
 'G Cook': 160,
 'J Williams': 161,
 'Nigel Day': 162,
 'J Carter': 163,
 'S Dawson': 164,
 'T Williams': 165,
 'M Stevens': 166,
 'J Robson': 167,
 'M Bosley': 168,
 'R Goldstein': 169,
 'Mr P McMahon': 170,
 'J Leech': 171,
 'Mr P Clarke': 172,
 'J Akehurst': 173,
 'Mrs C Elliott': 174,
 'P Collins': 175,
 'Penny Ffitch-Heyes': 176,
 'C Cox': 177,
 'R Old Moore': 178,
 'P Harte': 179,
 'K Doolan': 180,
 "S O'Donovan": 181,
 'Miss D Jones': 182,
 'B Storey': 183,
 'D Crossman': 184,
 'Candy Morris': 185,
 'R Campbell': 186,
 'D Lees': 187,
 'C Evans': 188,
 'T Wall': 189,
 'Melody Town': 190,
 'J De Keyser': 191,
 'P Brislen': 192,
 'Ron Hillis': 193,
 'N Adams': 194,
 'Wendy Buxton': 195,
 'Mark Denaro': 196,
 'Gary Bardwell': 197,
 'Dana Mellor': 198,
 'R Morse': 199,
 'R P Elliott': 200,
 'M Ahern': 201,
 "B O'Dowd": 202,
 'G Donaldson': 203,
 'M Foster': 204,
 'Norman Williamson': 205,
 'T Grantham': 206,
 'C Hawkins': 207,
 'D Wilkinson': 208,
 'T Reed': 209,
 'J McLaughlin': 210,
 'R Teague': 211,
 'D J Burchell': 212,
 'M M Lynch': 213,
 'L Ashworth': 214,
 'T Potts': 215,
 'R Bevan': 216,
 'D Bridgwater': 217,
 'A Juckes': 218,
 'S Hazell': 219,
 'J K Kinane': 220,
 'Mr D Duggan': 221,
 'Dean McKeown': 222,
 'S Wood': 223,
 'W Worthington': 224,
 'R Allen': 225,
 'Mr S Swiers': 226,
 'P Dever': 227,
 'Mrs J Brown': 228,
 'Mr C Sample': 229,
 'Mr N Wilson': 230,
 'G Davies': 231,
 'D Shaw': 232,
 'Warren Marston': 233,
 'Martin Kinane': 234,
 'R Wernham': 235,
 "D O'Sullivan": 236,
 'M Bellisario': 237,
 'G Bohane': 238,
 'D Dennis': 239,
 'Philip Hughes': 240,
 'Mr N Wheeler': 241,
 'T Sprake': 242,
 'Rodney Lappin': 243,
 'Willie Ryan': 244,
 'Bernard Dalton': 245,
 'C Burnett-Wells': 246,
 'D Richmond': 247,
 'Mrs M Kendall': 248,
 'J J Quinn': 249,
 'Miss T Waggott': 250,
 'R Fox': 251,
 'Mr D Benneyworth': 252,
 'J Tuite': 253,
 'I Todd': 254,
 'Denise Burland': 255,
 'E Murphy': 256,
 'Mr S Mullins': 257,
 'Mr D J Barry': 258,
 'P Tuck': 259,
 'N Doughty': 260,
 'M Meagher': 261,
 'Mr A Hambly': 262,
 'P Davies': 263,
 'C Campbell': 264,
 'Dale McKeown': 265,
 'Victoria Smith': 266,
 'P Harley': 267,
 'P A Farrell': 268,
 'P Corrigan': 269,
 'T Pinfield': 270,
 'A Webb': 271,
 'N Gwilliams': 272,
 'Mr W Sporborg': 273,
 'J Smith': 274,
 'R Boucher': 275,
 'I Shoemark': 276,
 'Mr D Mactaggart': 277,
 'J A Harris': 278,
 'S Woods': 279,
 'G Knight': 280,
 'J Corkell': 281,
 'Mr A Farrant': 282,
 'Franny Norton': 283,
 'Mr J Bradburne': 284,
 'Sean Fox': 285,
 'Mr A Sansome': 286,
 'Capt A Smith-Maxwell': 287,
 'S Stokes': 288,
 'M Keogh': 289,
 'Tarnya Davis': 290,
 'D Poole': 291,
 'M Fry': 292,
 'Julie Bowker': 293,
 'P Carr': 294,
 'Gwen Edwards': 295,
 'Mr A Walter': 296,
 'Mrs J Musson': 297,
 'S Eiffert': 298,
 'T Carmody': 299,
 'Mrs N Ledger': 300,
 'B Wright': 301,
 'A Jones': 302,
 'B Clifford': 303,
 'J Neaves': 304,
 'Mr W Morgan': 305,
 'T Cloke': 306,
 'W Fry': 307,
 'P Leech': 308,
 'Capt M Sprott': 309,
 'Mr G Oxley': 310,
 'M Leese': 311,
 'N Carlisle': 312,
 'Mr J Beardsall': 313,
 'David Verco': 314,
 'Mr D Naylor-Leyland': 315,
 'Mr J Wingfield-Digby': 316,
 'Mr S Bullard': 317,
 'Mr J Carden': 318,
 'Capt C Ward Thomas': 319,
 'K Rutter': 320,
 'Jacqui Hayes': 321,
 "S O'Gorman": 322,
 'T J Taaffe': 323,
 'Miss Z Davison': 324,
 'Mr M Armytage': 325,
 'A Larnach': 326,
 'R Arnott': 327,
 'Philip Dempsey': 328,
 'Mr T Houlbrooke': 329,
 'Mr P Fenton': 330,
 'A P Price': 331,
 'M Kane': 332,
 'Mick Fitzgerald': 333,
 'D Telfer': 334,
 'Mr J Barton': 335,
 'J P Durkan': 336,
 'Mr R White': 337,
 'Miss A Langton': 338,
 'R Farrant': 339,
 'Diane Clay': 340,
 'Mr G Johnson Houghton': 341,
 'J Clarke': 342,
 'P Kelly': 343,
 'A Heywood': 344,
 'W Carson': 345,
 'John Lowe': 346,
 'John Reid': 347,
 'Frankie Dettori': 348,
 'S Maloney': 349,
 'Kieren Fallon': 350,
 'D Nicholls': 351,
 "M 'Old' Murphy": 352,
 'R Rowell': 353,
 'Mrs H Noonan': 354,
 'G Hind': 355,
 'Ray Cochrane': 356,
 'M Roberts': 357,
 'S Perks': 358,
 'Pat Eddery': 359,
 'W R Swinburn': 360,
 'Alan Munro': 361,
 'Miss S Murgatroyd': 362,
 'Gaye Harwood': 363,
 'Miss L Perratt': 364,
 'Jimmy Fortune': 365,
 'Pat Caldwell': 366,
 'Richard Hills': 367,
 'Dale Gibson': 368,
 'Carol Cuthbert': 369,
 'B Rouse': 370,
 'John Carroll': 371,
 "P D'Arcy": 372,
 'Simon Whitworth': 373,
 'Kim McDonnell': 374,
 'G Baxter': 375,
 'R Turner': 376,
 'Alex Greaves': 377,
 'P Dalton': 378,
 'Kevin Darley': 379,
 'S Webster': 380,
 'Mr D Townsend': 381,
 'S Burrough': 382,
 'Tony Culhane': 383,
 'Paul Eddery': 384,
 'A Tucker': 385,
 'J Ryan': 386,
 'A Morris': 387,
 'M Birch': 388,
 'K Green': 389,
 'Rachel Judge': 390,
 'N Kennedy': 391,
 'G Husband': 392,
 'S Mulvey': 393,
 'D Meredith': 394,
 'C Hodgson': 395,
 'Dr P Pritchard': 396,
 'A Simpson': 397,
 'C Rate': 398,
 'George Duffield': 399,
 'Tracey Purseglove': 400,
 'Claire Balding': 401,
 'Alison Harper': 402,
 'Deborah Powell': 403,
 'Wendy McLaughlin': 404,
 'Heidi Rolfe': 405,
 'Julie Barnicott': 406,
 'Helen Slater': 407,
 'Mark Williams': 408,
 'C Hopwood': 409,
 "Conor O'Dwyer": 410,
 "G M O'Neill": 411,
 'A McGlone': 412,
 'D Biggs': 413,
 'S Haworth': 414,
 'S Cauthen': 415,
 'Mr H Finegan': 416,
 'Mrs A Farrell': 417,
 'B Raymond': 418,
 'D Matthews': 419,
 "M O'Reilly": 420,
 'M Godsafe': 421,
 'N Williams': 422,
 'B Doran': 423,
 'J Birch': 424,
 'Mr P Lewis': 425,
 'Michael Tebbutt': 426,
 'J Carr': 427,
 'M Crosse': 428,
 'D Barrett': 429,
 'Mr J Poulton': 430,
 'J Dillon': 431,
 "Emma O'Gorman": 432,
 'R Goddings': 433,
 'M C G Laurence': 434,
 "K 'OLD' Burke": 435,
 'A Stanford': 436,
 'Mick Kinane': 437,
 'K Comerford': 438,
 'Nick Connorton': 439,
 'Mr W Wales': 440,
 'M Hindley': 441,
 'Princess Royal': 442,
 'B Crossley': 443,
 'Ernie Johnson': 444,
 'Allan Mackay': 445,
 'R Street': 446,
 'S Giles': 447,
 'R Dennis': 448,
 'N Howe': 449,
 'R Perham': 450,
 'W Hood': 451,
 'C Gibbons': 452,
 'Shaun Harris': 453,
 'A Shoults': 454,
 'P Turner': 455,
 'Paul Burke': 456,
 'Tony Clark': 457,
 'M Deering': 458,
 'Michael Hills': 459,
 'P Hill': 460,
 'M A Giles': 461,
 'G Forster': 462,
 'A S Smith': 463,
 'B Marcus': 464,
 'D Gibbs': 465,
 'S Morris': 466,
 'K Hodgson': 467,
 'T Lang': 468,
 'Darryll Holland': 469,
 'J Matthias': 470,
 'Ruth Coulter': 471,
 'Mr G T Morrow': 472,
 'D J Moffatt': 473,
 'J Supple': 474,
 'E Guest': 475,
 'A Whitehall': 476,
 'A Mercer': 477,
 'L Charnock': 478,
 'Miss E Bronson': 479,
 'Mrs S Brook': 480,
 'Miss J Allison': 481,
 'Mr E McMahon': 482,
 'B Procter': 483,
 'A Garth': 484,
 'A Dicks': 485,
 'A Proud': 486,
 'C Asmussen': 487,
 'N Perry': 488,
 'J Weaver': 489,
 'Stephen Davies': 490,
 'A Martinez': 491,
 'Kim Tinkler': 492,
 'J Bleasdale': 493,
 'Mrs K Christopher': 494,
 'Miss S Beard': 495,
 'Miss J Feilden': 496,
 'J Fordham': 497,
 'S Horsfall': 498,
 'Antony Procter': 499,
 "S O'Neill": 500,
 'S Hobbs': 501,
 'W Litwin': 502,
 'K Brownsword': 503,
 'Mick Denaro': 504,
 'A Spence': 505,
 'G Brown': 506,
 'S Porter': 507,
 'Russell Price': 508,
 'Jaki Houston': 509,
 'C Nutter': 510,
 'D Martin': 511,
 'Mr G Robinson': 512,
 'N Leach': 513,
 'E Bentley': 514,
 'R Carson': 515,
 "L O'Hare": 516,
 'S Youlden': 517,
 'Miss V Keogh': 518,
 'Miss A Harwood': 519,
 'S Richardson': 520,
 'Mrs M Cowdrey': 521,
 'Abigail Peate': 522,
 'T Ashley': 523,
 'Miss C Balding': 524,
 'Miss Alyson Deniel': 525,
 'Brett Doyle': 526,
 'Mrs C Wonnacott': 527,
 'A Whitham': 528,
 'L Newton': 529,
 'D Tierney': 530,
 'Mr A Hickman': 531,
 'Miss Sue Nichol': 532,
 'M Robinson': 533,
 'T McKeown': 534,
 'Miss C Radband': 535,
 "E O'Donovan": 536,
 'Nicola Parker': 537,
 'Lorna Vincent': 538,
 'Miss K Rimell': 539,
 'Ann Stokell': 540,
 'Miss H McCaull': 541,
 'Helen Scorer': 542,
 'Kiri Beeching': 543,
 'Mrs L Fahey': 544,
 'D Miller': 545,
 'G Foster': 546,
 'G McGrath': 547,
 "D D'Arcy": 548,
 'Miss C Yardley': 549,
 'Mr P Macewan': 550,
 'Miss J Southall': 551,
 'R McGhin': 552,
 'Miss Y Haynes': 553,
 'Mrs J Crossley': 554,
 'Mr G Kille': 555,
 'P A Johnson': 556,
 'M Hunt': 557,
 'Richard Smith': 558,
 'R Sidebottom': 559,
 'C Dwyer': 560,
 'Johnny Murtagh': 561,
 'S Buckton': 562,
 'Mrs S Easterby': 563,
 'M Humphries': 564,
 'Miss R Lowes': 565,
 'Miss M Davies': 566,
 'T Jenks': 567,
 'D R Thompson': 568,
 'G Milligan': 569,
 'R Curant': 570,
 'N Old Hall': 571,
 'Miss J Russell': 572,
 'Mr M Portman': 573,
 'B Lane': 574,
 'Deanna Wilkins': 575,
 'Stephen Cairns': 576,
 'Seb Sanders': 577,
 'B Lynch': 578,
 'M Herrington': 579,
 'Mrs L Pearce': 580,
 'Mr R Pritchard-Gordon': 581,
 'Mr L Spink': 582,
 'Mr P Close': 583,
 'P Brette': 584,
 'D Parker': 585,
 'Miss S Storey': 586,
 'Rachel Bridger': 587,
 'Debbie Biggs': 588,
 'S Lanigan': 589,
 'Miss S Gladders': 590,
 'Miss S Farrant': 591,
 'Miss V Bradshaw': 592,
 'Miss K Marks': 593,
 'Tony Dobbin': 594,
 'F Arrowsmith': 595,
 'J Vale': 596,
 'Mr M McGoldrick': 597,
 'Gina Faulkner': 598,
 'Miss T Pile': 599,
 'J Marshall': 600,
 'A Riding': 601,
 'Mrs L Leggat': 602,
 'A Lejeune': 603,
 'G Mitchell': 604,
 'Gyles Parkin': 605,
 'L Carter': 606,
 'B Thomas': 607,
 'Georgina Frost': 608,
 'Mr P Morrison': 609,
 'Mr D Durrant': 610,
 'C Scally': 611,
 'P Morris': 612,
 'G Chandler': 613,
 'J Hunter': 614,
 'G Charles-Jones': 615,
 'Steve Drowne': 616,
 'M Griffiths': 617,
 'Mrs J Thurlow': 618,
 'Susan Webster': 619,
 'H Bastiman': 620,
 'Antoinette Armes': 621,
 'D Want': 622,
 'T Thompson (Old)': 623,
 'C Hawksley': 624,
 'L Davies': 625,
 'G Crone': 626,
 'Leesa Long': 627,
 'Mrs M Morley': 628,
 'P Bowe': 629,
 'Madeleine Smith': 630,
 'Mr J Simo': 631,
 'Mr P G De Capirou': 632,
 'P Sedgwick': 633,
 'William Hollick': 634,
 'Mr J Gillette': 635,
 'Tanya Stone': 636,
 "Mr R O'Neill": 637,
 'Miss L Pope': 638,
 'J Tate': 639,
 'Bethan Prys-Jones': 640,
 'K Brown': 641,
 'F Coetzee': 642,
 'M Wood': 643,
 'Mr A Wonnacott': 644,
 'D Meade': 645,
 'Judy Davies': 646,
 'Miss J Barrow': 647,
 'A Cruz': 648,
 'K Bradshaw': 649,
 'C Avery': 650,
 'F Whittle': 651,
 'D Leahy': 652,
 'Miss E Copeman': 653,
 'Miss L Revell': 654,
 'A Bates': 655,
 'Mr M Harris': 656,
 'Diane Bevan': 657,
 'Mrs E Bethell': 658,
 'Mrs C Peacock': 659,
 'Miss S Kelleway': 660,
 'E Husband': 661,
 'Philip Hide': 662,
 'J Curant': 663,
 'D Bentley': 664,
 'Brough Scott': 665,
 'John Francome': 666,
 'D McKay': 667,
 'Mr M Buckley': 668,
 'T Overall': 669,
 'Caroline Griffiths': 670,
 'Mrs C Wall': 671,
 'Miss J Davies': 672,
 'Miss S Billot': 673,
 'Mr A Walsh': 674,
 'D Harrison': 675,
 'Miss L Blackford': 676,
 'S Hawkes': 677,
 'Mr A Welsh': 678,
 'J H Brown': 679,
 'T Leech': 680,
 'Mr T J Barry': 681,
 'B Eatwell': 682,
 'G Upton': 683,
 'Donal Nolan': 684,
 'A David': 685,
 'J Darby': 686,
 'C Swift': 687,
 'Mr C Segner': 688,
 'Mr R Pritchard Gordon': 689,
 'A Linton': 690,
 'L Piggott': 691,
 'E McKinley': 692,
 'E Tierney': 693,
 "G O'Neill": 694,
 'Miss L Peate': 695,
 'J Dennis': 696,
 'S McKeever': 697,
 'Mrs S Hobbs': 698,
 'Miss T Spearing': 699,
 'R Darke': 700,
 'Heather Mumford': 701,
 'G Rowe': 702,
 'M McAndrew': 703,
 'Mr N Tutty': 704,
 'A Whelan': 705,
 'P Walsh': 706,
 'N Thomas': 707,
 'V Bray': 708,
 'A J Quinn': 709,
 'Wendy Jones': 710,
 'Sean Curran': 711,
 'P Williams': 712,
 'Jacqui Oliver': 713,
 'A Wingate': 714,
 'C Quinn': 715,
 'L Dace': 716,
 'P Waggott': 717,
 'Leanne Eldredge': 718,
 'S Hobson': 719,
 "S 'Old' Donohoe": 720,
 "A O'Hagan": 721,
 'Mark Munday': 722,
 'Lynne Dykes': 723,
 'A Merrigan': 724,
 'J Burton': 725,
 'M Cassidy': 726,
 'M Ranger': 727,
 'J R Kavanagh': 728,
 'Charlie Swan': 729,
 'Mr P Worrall': 730,
 'Mrs T Bailey': 731,
 'Mr Simon Andrews': 732,
 'Mr G Densley': 733,
 'B Russell': 734,
 'S Mason': 735,
 'K Kasaev': 736,
 'N Amelchenko': 737,
 'M Tokov': 738,
 'Mr T McCarthy': 739,
 'S Wynne': 740,
 'Mr R Davis': 741,
 'Miss S Waterman': 742,
 'M McGonagle': 743,
 'T Kent': 744,
 'D Condell': 745,
 "T D'Arcy": 746,
 'R Farmer': 747,
 'J Manson': 748,
 'J Barlow': 749,
 'P Dennis': 750,
 'Mr G Cosgrove': 751,
 'Mr G Edwards': 752,
 'Mr Simon Walker': 753,
 'Mr P Looker': 754,
 "J O'Hanlon": 755,
 'G Thomson': 756,
 'G Heaver': 757,
 'M P Fitzgerald': 758,
 "D H O'Connor": 759,
 'C Old Williams': 760,
 'J Hurst': 761,
 'Haydar Yuce': 762,
 'A T Byrne': 763,
 "J J O'Dwyer": 764,
 'R Moogan': 765,
 'S Cusack': 766,
 'F Perratt': 767,
 'E Byrne': 768,
 'Steve Harris': 769,
 'Mr D Gray': 770,
 'H Hillion': 771,
 'C Roberts': 772,
 "J 'Old' Burke": 773,
 'G Scope': 774,
 'P Thompson': 775,
 'B Ellison': 776,
 'Jimmy McCarthy': 777,
 'P Devlin': 778,
 'Mr S Heslop': 779,
 'Miss P Robson': 780,
 'Miss J Thurlow': 781,
 'M Allen': 782,
 'Mr F Monnier': 783,
 'Mr L Jefford': 784,
 'Mr S Deasley': 785,
 'A G Smith': 786,
 'Mr M Rimell': 787,
 'Mr C Hamblin': 788,
 'N Roche': 789,
 'D Smith': 790,
 'J Twomey': 791,
 'Maj C Lane': 792,
 'Mr J Wingfield Digby': 793,
 'Lt Col O Ellwood': 794,
 'N Bentley': 795,
 'Miss S Forster': 796,
 'Mr P Dempsey': 797,
 'Mr J A Berry': 798,
 'T Cranley': 799,
 'Brendan Sheridan': 800,
 'Mr J Smith': 801,
 'M Hazell': 802,
 'J Tully': 803,
 'Miss E Deen': 804,
 'D Wright': 805,
 'S D Williams': 806,
 'Mr J Rees': 807,
 'Miss S Chittenden': 808,
 'Tracy Smith': 809,
 'G Crealock': 810,
 'J Driscoll': 811,
 'S Ryan': 812,
 'A Nixon': 813,
 'Mark Roberts': 814,
 'M Field': 815,
 'Kate Mason': 816,
 'Mr E J Kearns Jnr': 817,
 'Adrian Maguire': 818,
 'Mr A J Martin': 819,
 'Mr C Hancock': 820,
 'Ollie Pears': 821,
 'P Roberts': 822,
 'Mr Paul Murphy': 823,
 'Mr B Leavy': 824,
 'Mr R Byrne': 825,
 'C Munday': 826,
 'P Smith Eccles': 827,
 'D Fortt': 828,
 'S Lyons': 829,
 'Mr C Campbell': 830,
 'R Cumberbatch': 831,
 'Fionnuala Madden': 832,
 'J McCabe': 833,
 'Gail Collingwood': 834,
 'Mrs H Bissill': 835,
 'Miss H Carrington': 836,
 'Mr S Joynes': 837,
 'Mr T A Tynan': 838,
 'A Flannigan': 839,
 'J McKeown': 840,
 'C Baker': 841,
 'Debbie Gibbs': 842,
 'T Fuller': 843,
 'W Elderfield': 844,
 'V Halliday': 845,
 'T Eley': 846,
 'Mrs C Dods': 847,
 'Jane Findlay': 848,
 'Mr P Johnson': 849,
 'T Marsden': 850,
 'David Cuthbert': 851,
 'Miss C Spearing': 852,
 'Mr S Astaire': 853,
 'R Lamplugh': 854,
 'C Pollard': 855,
 'Mrs L Turnell': 856,
 'D Thompson': 857,
 'W Currie': 858,
 'Mr N Miles': 859,
 'Sian Williams': 860,
 'Miss E Johnson Houghton': 861,
 'Miss J Southcombe': 862,
 'Mr P Daw': 863,
 'Tom McLaughlin': 864,
 'W Frost': 865,
 'Karen Cogley': 866,
 'P Shanahan': 867,
 'Mrs E Evans': 868,
 'Amanda Neill': 869,
 'T Rogers': 870,
 'Kate Ahern': 871,
 'Samantha Benney': 872,
 'C K Tse': 873,
 'Mrs J Banks': 874,
 'Miss S Smithson': 875,
 'Miss A Bycroft': 876,
 'Stanley Chin': 877,
 'Kate Dovey': 878,
 'Marie Plowright': 879,
 'Miss L Hide': 880,
 'Miss T Bracegirdle': 881,
 'Mr R Wilkinson': 882,
 'T Wilson': 883,
 'J D Smith': 884,
 'P Hutton': 885,
 'Miss J Slater': 886,
 'Mrs A Usher': 887,
 'Mrs G Rees': 888,
 'T Ives': 889,
 'A Dicken': 890,
 'Mr G Haine': 891,
 'Martin Lynch': 892,
 'S Knott': 893,
 'Jose C Ferrer': 894,
 'Miss T Dudley-Smith': 895,
 'Mr S Blackwell': 896,
 'Philip McEntee': 897,
 'Michael Hunt': 898,
 'A Skingle': 899,
 'K Brennan': 900,
 'Nicola Haworth': 901,
 'P Wilson': 902,
 'Miss S Francome': 903,
 'Robert Havlin': 904,
 'Mr S Pittendrigh': 905,
 'Miss S Dalton': 906,
 'Miss D Pomeroy': 907,
 'M Hourigan': 908,
 'Mr G Fallon': 909,
 'D Salter': 910,
 'Miss D J Jones': 911,
 'Mr D Costello': 912,
 'Nicola Howarth': 913,
 'S Taylor': 914,
 'Miss V Haigh': 915,
 'Guy Lewis': 916,
 'Mr T George': 917,
 'Mr N Bradley': 918,
 'L Mullaney': 919,
 'Mr R Griffiths': 920,
 'Terry Lucas': 921,
 'Andrew Thornton': 922,
 'Mr G White': 923,
 'P Houghton': 924,
 'Miss M Clark': 925,
 'Mrs B Tory': 926,
 'Mr R Braham': 927,
 'Dominic Toole': 928,
 'P Ward': 929,
 'Spencer Robinson': 930,
 'Georgina Hart': 931,
 'D Stather': 932,
 'Miss S French': 933,
 'R Martin': 934,
 'Mrs J Horton': 935,
 'Mr E Kearns': 936,
 'Mr C Ewart': 937,
 'Mr K Davies': 938,
 'D Carson': 939,
 'S Raymont': 940,
 'M Flynn': 941,
 'N Parker': 942,
 'P Moore': 943,
 'Helen Brennan': 944,
 'Mr Adrian Brown': 945,
 'Mr T Jeffrey': 946,
 'S Bailey': 947,
 'Mr P J McLoughlin': 948,
 'T Dascombe': 949,
 'B Miles': 950,
 'Mr J L Llewellyn': 951,
 'Mr J Young': 952,
 'Miss S Rowe': 953,
 'Mr K Whiting': 954,
 'Mr D Swindlehurst': 955,
 'Capt D Cockram': 956,
 'Mr R Dyer': 957,
 'Mr R J Davis': 958,
 'Mr I McInnes': 959,
 'Mr W Dixon': 960,
 'Miss A Purdy': 961,
 'G Robertson': 962,
 'L Reynolds': 963,
 'Mr P McLoughlin': 964,
 'W Dwan': 965,
 'Adam Kondrat': 966,
 'M Jermy': 967,
 'Mr N Moore': 968,
 'Major Felix Wheeler': 969,
 'J Stenning': 970,
 'A Manners': 971,
 'J Murphy': 972,
 'Mr R Payne': 973,
 'V P Donoghue': 974,
 'H Jenkins': 975,
 'Mr R Ford': 976,
 'Ms A Embiricos': 977,
 'Mr J Barclay': 978,
 'M Maloney': 979,
 'J Bramhill': 980,
 'P D Carey': 981,
 'K Hartnett': 982,
 'Mr A Walton': 983,
 'B Johnson': 984,

In [18]:
all_horses_new['jockeyName'] = all_horses_new['jockeyName'].map(jockeys_mapping)
all_horses_new.head()

,rid,horseName,age,saddle,decimalPrice,trainerName,jockeyName,position,positionL,dist,...,TR,OR,father,mother,gfather,runners,margin,weight,res_win,res_place
0,282203,1,11.0,0.0,0.250000,1,1,3,5,8.0,...,77.0,111.0,Parasang,Swift Imp,Swift Flight II,3,1.083333,68,0.0,0.0
1,298761,2,6.0,0.0,0.181818,2,2,3,15,16.5,...,84.0,131.0,High Line,Segos,Runnymede I,5,1.134199,68,0.0,0.0
2,298761,3,6.0,0.0,0.266667,3,3,4,5,21.5,...,76.0,128.0,Tumble Wind I,Lady Kasbah,Lord Gayle,5,1.134199,66,0.0,0.0
3,298761,4,7.0,0.0,0.066667,4,4,5,5,26.5,...,60.0,121.0,Celtic Cone,Bond's Best,Good BondI,5,1.134199,61,0.0,0.0
4,301118,5,7.0,0.0,0.166667,5,5,3,2,5.0,...,88.0,102.0,Callernish,Magnesium,Khalkis,13,1.382585,69,0.0,1.0

In [19]:
fathers = all_horses_new['father'].unique()
fathers_mapping = {father: idx + 1 for idx, father in enumerate(fathers)}
fathers_mapping

{'Parasang': 1,
 'High Line': 2,
 'Tumble Wind I': 3,
 'Celtic Cone': 4,
 'Callernish': 5,
 'Rusticaro': 6,
 'Fine Blade': 7,
 'Tachypous': 8,
 'Streak I': 9,
 'Ancient Monro': 10,
 'Final Straw': 11,
 'Giacometti': 12,
 'Palm Track': 13,
 'Mayo Mellay': 14,
 'Sagaro': 15,
 'New Member': 16,
 'Whistlefield': 17,
 'Scallywag': 18,
 'Saunter': 19,
 'General Ironside': 20,
 'Key To The Kingdom': 21,
 'Octogenarian': 22,
 'Fit To Fight': 23,
 'Try My Best': 24,
 'Taufan': 25,
 'Northfields': 26,
 'Derring Rose': 27,
 'Troy': 28,
 'Deep Run': 29,
 'Sensitive Prince': 30,
 "Paddy's Stream": 31,
 'Dominion': 32,
 'Random Shot': 33,
 'Royalty': 34,
 'Be My Native': 35,
 'The Parson': 36,
 'Nearly A Hand': 37,
 'Thatching': 38,
 'Grey Ghost I': 39,
 'Another Realm': 40,
 'Grey Dawn II': 41,
 'Sheshoon': 42,
 'Le Bavard': 43,
 'Comedy Star': 44,
 'Hardraw Scar': 45,
 'Decent Fellow': 46,
 'Hittite Glory': 47,
 'Nicholas Bill': 48,
 'Fair Mix': 49,
 'Mandalus': 50,
 'Maris Piper': 51,
 'Karabas': 52,
 'Artaius': 53,
 'Candy Cane': 54,
 'Pony Express': 55,
 'Owen Anthony': 56,
 'Pragmatic': 57,
 'Over The River': 58,
 'Ballad Rock': 59,
 'Josr Algarhoud': 60,
 'Relkino': 61,
 'Sonnen Gold': 62,
 'Heroic Air': 63,
 'Forli': 64,
 'Mr Fluorocarbon': 65,
 'Free State I': 66,
 'Majestic Streak': 67,
 'Ascertain I': 68,
 'Tap On Wood': 69,
 'Town And Country': 70,
 'Sharpo': 71,
 'Rhodomantade': 72,
 'Red Regent': 73,
 'Uncle Pokey': 74,
 'Kambalda': 75,
 'Cut Above': 76,
 'Sharpman': 77,
 'St Columbus': 78,
 'Bivouac': 79,
 'Pitpan': 80,
 'Tycoon II': 81,
 'Parole': 82,
 'Jimsun I': 83,
 'Be Friendly': 84,
 'Latest Model': 85,
 'Class Distinction': 86,
 'Condorcet': 87,
 'Welsh Pageant': 88,
 'Bonne Noel': 89,
 'Rolfe': 90,
 'Rustingo': 91,
 'Ardross': 92,
 'Treboro': 93,
 'Mount Hagen': 94,
 'Riva Ridge': 95,
 'Bay Express': 96,
 'Lydian': 97,
 'Jimmy Reppin': 98,
 'Tanfirion': 99,
 'Kemal': 100,
 'Gunner B': 101,
 'Avocat': 102,
 'Raise You Ten': 103,
 'Take A Reef': 104,
 'Laurence O': 105,
 'Green Shoon': 106,
 'Welsh Saint': 107,
 'Balinger': 108,
 'Boreen': 109,
 'Remezzo': 110,
 'Kris': 111,
 'Roselier': 112,
 'Menelek': 113,
 'No Arguement': 114,
 'Young Generation': 115,
 'Prince Tenderfoot': 116,
 'Absalom': 117,
 'Creetown': 118,
 'Lucky Wednesday': 119,
 'Neltino': 120,
 'Dublin Taxi': 121,
 'Bustino': 122,
 'Giolla Mear': 123,
 "Trasi's Son": 124,
 'Captain Jason': 125,
 'Hardboy': 126,
 'Jaazeiro': 127,
 'Lauso': 128,
 'Cheval': 129,
 'Kinglet': 130,
 'Formidable I': 131,
 'Glint Of Gold': 132,
 'Camden Town': 133,
 'Blakeney': 134,
 'Yukon Eric': 135,
 'Gay Fandango': 136,
 'Moulton': 137,
 'Hardgreen': 138,
 'Quality Fair': 139,
 'Gulf Pearl': 140,
 'Bend A Bow': 141,
 'Belfort': 142,
 'Auction Ring': 143,
 'Song': 144,
 'Aristocracy': 145,
 'Horage': 146,
 'Pharly': 147,
 "Garda's Revenge": 148,
 'Belfalas': 149,
 'Rugantino': 150,
 'Moorestyle': 151,
 "Mummy's Pet": 152,
 'Warpath': 153,
 'Bold As Brass': 154,
 'Beldale Flutter': 155,
 'Stanford': 156,
 'Immortal Knight': 157,
 'Crash Course': 158,
 'Timber King I': 159,
 'Pongee I': 160,
 'Whistling Deer': 161,
 'Lighter': 162,
 'Topsider': 163,
 'Record Token': 164,
 'Kalaglow': 165,
 'Balkan Knight': 166,
 'Kenmare': 167,
 'Derrylin': 168,
 'Le Fripon': 169,
 'Sea Anchor': 170,
 'Kala Shikari': 171,
 'Furry Glen': 172,
 'Oats': 173,
 'Rambah': 174,
 'Ballymore': 175,
 'Quiet Fling': 176,
 'Ovac': 177,
 'Keren': 178,
 'Prominer': 179,
 'Tug Of War': 180,
 'Al Sirat I': 181,
 'Sir Herbert': 182,
 'Balliol I': 183,
 'Arctic Tern': 184,
 'Touching Wood': 185,
 'Candyboy': 186,
 'Tepukei': 187,
 'Royal Palace': 188,
 'Weavers Hall': 189,
 'Prince Bee': 190,
 "Le Coq D'Or": 191,
 "Mummy's Game": 192,
 'Sovereign Path': 193,
 'Gala Performance': 194,
 'Habitat': 195,
 'Indian King': 196,
 'Cragador': 197,
 'Liboi': 198,
 'Cranley': 199,
 'Godswalk': 200,
 'Golden Love': 201,
 'Midsummer Night II': 202,
 "Hell's Gate": 203,
 'Royal Trip': 204,
 'Monksfield': 205,
 'Lepanto': 206,
 'John De Coombe': 207,
 'Mandamus': 208,
 'Sunyboy': 209,
 'Dragonara Palace': 210,
 'Mount Cassino': 211,
 'Boreen Beag': 212,
 'Flatbush': 213,
 'Hard Fought': 214,
 'Red Sunset': 215,
 'Flying Tyke': 216,
 'High Top': 217,
 'Roberto': 218,
 "Pirate's Bounty": 219,
 'Blazing Saddles': 220,
 'Kind Of Hush': 221,
 'Thatch': 222,
 'Known Fact': 223,
 'Petong': 224,
 'On Your Mark': 225,
 'Rarity': 226,
 'Miami Springs': 227,
 'Sweet Monday': 228,
 'Julio Mariner': 229,
 'Brigadier Gerard': 230,
 'Mandrake Major': 231,
 'Valdez': 232,
 'Sharpen Up': 233,
 'Ela-Mana-Mou': 234,
 'Vaguely Noble': 235,
 'Top Ville': 236,
 'Star Appeal': 237,
 'Netherkelly': 238,
 'Proverb': 239,
 'Ahonoora': 240,
 'New Brig': 241,
 'Riverman': 242,
 'Dolman': 243,
 'Ya Zaman': 244,
 'Castle Keep': 245,
 'Crooner': 246,
 'The Minstrel': 247,
 'Hotfoot I': 248,
 'Imperial Fling': 249,
 'Runnett': 250,
 'Gift Card': 251,
 'Levanter': 252,
 'Shirley Heights': 253,
 'Move Off': 254,
 'Carlburg': 255,
 'Abednego': 256,
 'Tobique': 257,
 'Pollerton': 258,
 'Billion': 259,
 'Blue Rullah': 260,
 'Last Fandango': 261,
 'Skyliner I': 262,
 'Welsh Chanter': 263,
 'Chieftain II': 264,
 'Don': 265,
 'Undulate': 266,
 'Smooth Stepper I': 267,
 'True Song': 268,
 'Status Seeker': 269,
 'Montekin': 270,
 'Amboise': 271,
 'Run The Gantlet': 272,
 'Daring March': 273,
 'Carnival Night': 274,
 'Buckfinder': 275,
 'Be My Guest': 276,
 'Linkage': 277,
 'Malinowski': 278,
 'Wolverlife': 279,
 'Longleat': 280,
 'Blue Cashmere': 281,
 'Valiyar': 282,
 'Averof': 283,
 'Pas De Seul': 284,
 'Mill Reef': 285,
 'Vaigly Great': 286,
 'Aragon': 287,
 'Sassafras': 288,
 'Ile De Bourbon': 289,
 'Soldier Rose': 290,
 'Frassino': 291,
 'Crofter': 292,
 'Milford': 293,
 'Torus': 294,
 'State Dinner': 295,
 'Nishapour': 296,
 'Hardiran': 297,
 'The Wonder': 298,
 'Horst-Herbert': 299,
 'Faraway Times': 300,
 'Majestic Maharaj': 301,
 'Creative Plan I': 302,
 'Quayside I': 303,
 'Saucy Kit': 304,
 'Derek H': 305,
 'Straight Lad': 306,
 'Ballynockan': 307,
 'Sallust': 308,
 'Sunley Builds': 309,
 'Silent Cal': 310,
 'Royal Match': 311,
 'Strong Gale': 312,
 'Buckskin': 313,
 'Trombone': 314,
 'Italic': 315,
 'Dance In Time': 316,
 'Great Nephew': 317,
 'Doc Marten': 318,
 'Gold Form': 319,
 'Lord Ha Ha': 320,
 'Pitskelly': 321,
 'Captain James': 322,
 'Idiots Delight': 323,
 'Nonoalco': 324,
 'Piaffer': 325,
 'Windjammer': 326,
 'Crystal Palace': 327,
 'Sparkler I': 328,
 'Saumon': 329,
 'Orchestra': 330,
 'Kabour': 331,
 'Rymer': 332,
 'Millfontaine': 333,
 'Enchantment I': 334,
 'Shy Groom': 335,
 'Streetfighter': 336,
 'Cagirama': 337,
 'Master Buck': 338,
 'Altosa Palace': 339,
 'Riboboy': 340,
 'Henbit': 341,
 'Harvest Spirit': 342,
 'Quadriga': 343,
 'Master Owen': 344,
 "Duc D'Orleans": 345,
 'Mossberry': 346,
 'Roc Imp': 347,
 'Mcindoe': 348,
 'Baron Blakeney': 349,
 'Black Minstrel': 350,
 'Balak': 351,
 'Trimmingham': 352,
 'Record Run': 353,
 'Grange Melody': 354,
 'Imperius': 355,
 'Paico': 356,
 'Slim Jim': 357,
 'King Pellinore': 358,
 'He Loves Me': 359,
 'Workboy I': 360,
 'Gleason II': 361,
 'So Blessed': 362,
 'Gaberdine': 363,
 'Lochnager': 364,
 'Revlow': 365,
 'Dara Monarch': 366,
 'White Prince': 367,
 'Ardoon': 368,
 'Kampala': 369,
 'Busted': 370,
 'Armagnac Monarch': 371,
 'Free Boy': 372,
 'Christopher R': 373,
 'Habat': 374,
 'Bellypha': 375,
 'Vice Regent': 376,
 'Caro': 377,
 'Politico': 378,
 'Balidar': 379,
 'Arapaho': 380,
 'His Majesty': 381,
 'Ballacashtal': 382,
 'Cantab': 383,
 'Night Shift': 384,
 'Spur On': 385,
 'Precipice Wood': 386,
 'Sea Catch': 387,
 'Posse I': 388,
 'Roman Warrior': 389,
 'Touch Paper': 390,
 'Pry': 391,
 'Saulingo': 392,
 'Scottish Rifle': 393,
 'Baptism': 394,
 'Trojan Fen': 395,
 'Bargello': 396,
 'Homing': 397,
 'Swing Easy': 398,
 "Tina's Pet": 399,
 'Sparkling Boy': 400,
 'Ivotino': 401,
 'Manado': 402,
 'King Of Spain': 403,
 'Cajun': 404,
 'Humdoleila': 405,
 'R B Chesne': 406,
 'Heres': 407,
 'Wolver Hollow': 408,
 'Northern Baby': 409,
 'Anax': 410,
 'Tudor Music': 411,
 'Salluceva': 412,
 'Akarad': 413,
 'Roscoe Blake': 414,
 'Hallodri': 415,
 'Royal Buck': 416,
 'Little Buskins': 417,
 'Aban': 418,
 'Tickled Pink': 419,
 'Remainder Man': 420,
 'Tolomeo': 421,
 'Kings Lake': 422,
 'Persian Bold': 423,
 'Grandchant': 424,
 'Al Nasr': 425,
 'Dunphy': 426,
 'Dawn Flight': 427,
 'Porto Bello': 428,
 'Hot Brandy': 429,
 'Prefairy': 430,
 'Lord Gayle': 431,
 'Tower Walk': 432,
 'Mr Fordette': 433,
 'Goldhill': 434,
 'Bulldozer': 435,
 'Sandhurst Prince': 436,
 'Will Somers': 437,
 'Import': 438,
 'Sit In The Corner': 439,
 'Eastwood Prince': 440,
 'Beau Tudor': 441,
 'Advocator': 442,
 'Exhibitioner': 443,
 'Sexton Blake': 444,
 'Maystreak': 445,
 'Confused': 446,
 'Tyrnavos': 447,
 'Junction': 448,
 'Affirmed': 449,
 'Genuine': 450,
 'Big Spruce': 451,
 'Peacock I': 452,
 'Bronze Hill': 453,
 'Impecunious': 454,
 'Horatius': 455,
 'Petorius': 456,
 'Burslem': 457,
 'Sir Ivor': 458,
 'Le Fabuleux': 459,
 'Manor Farm Boy': 460,
 'Bold Commander': 461,
 'Legal Tender': 462,
 'Limbo': 463,
 'Kimono': 464,
 'Bikala': 465,
 'Jellaby': 466,
 'Joshua I': 467,
 'Maximilian': 468,
 'Chas Sawyer': 469,
 'Hello Gorgeous': 470,
 'High Season': 471,
 'Carwhite': 472,
 'Space King': 473,
 'Raga Navarro': 474,
 'Irish River': 475,
 'Connaught': 476,
 'Rouser': 477,
 'Shareef Dancer': 478,
 'Jalmood': 479,
 'Shack': 480,
 'Quart De Vin': 481,
 'Cleon': 482,
 'Dubassoff': 483,
 'Glenstal': 484,
 'Glen Quaich': 485,
 'Nijinsky': 486,
 'Solford': 487,
 'Corawice': 488,
 'Pardigras': 489,
 'In Fijar': 490,
 'Push On': 491,
 'Newski': 492,
 'Monsanto': 493,
 'Our Mirage': 494,
 'Noalto': 495,
 'Majestic Current': 496,
 'Funny ManI': 497,
 'Balzac': 498,
 'Gold Claim': 499,
 'Winden': 500,
 'Dalesa': 501,
 'Turnpike': 502,
 'Mansingh': 503,
 'Czarist': 504,
 'National Trust I': 505,
 'Fine Blue': 506,
 'Our Jimmy': 507,
 'Viking': 508,
 'No Lute': 509,
 'Capricorn Line': 510,
 'Mon Capitaine': 511,
 'Nadjar': 512,
 'Solo Dancer': 513,
 'Dike': 514,
 'Sayyaf': 515,
 'Grandiose': 516,
 'Bates Motel': 517,
 'Direct Flight': 518,
 'My Dad Tom': 519,
 'Niniski': 520,
 'Northern Value': 521,
 'Coastal': 522,
 'Tender King': 523,
 'Gay Mecene': 524,
 'Raja Baba': 525,
 'Transworld': 526,
 'African Sky I': 527,
 'Tumble Gold': 528,
 'Old Soldier': 529,
 'Alias Smith': 530,
 'Le Moss': 531,
 'Rupert Bear I': 532,
 'Royal Boxer': 533,
 "Paddy's Progress": 534,
 'Matching Pair': 535,
 'Extra': 536,
 'Oakville I': 537,
 'Full Pocket': 538,
 'Conquistador Cielo': 539,
 'General Assembly': 540,
 'Nureyev': 541,
 'Jupiter Pluvius': 542,
 'Tampero': 543,
 'Hard Fact': 544,
 'Hard Frost': 545,
 'Abwah': 546,
 'Pals Passage': 547,
 'Lucifer': 548,
 'Legal Eagle': 549,
 'Hawaii': 550,
 'Cisto': 551,
 'Empery': 552,
 'Halo': 553,
 'Owen Dudley': 554,
 'Main Reef I': 555,
 'Cruise Missile': 556,
 'Welsh Captain': 557,
 'Dawn Review': 558,
 'Simply Great': 559,
 'Octavo': 560,
 'Procida': 561,
 'Nordico': 562,
 'Plum Bold': 563,
 'Sun Rising': 564,
 'Mljet': 565,
 'Brave Shot': 566,
 'Salmon Leap': 567,
 'Pieces Of Eight': 568,
 'Music Boy': 569,
 'Telsmoss': 570,
 'Frimley Park': 571,
 'Dalsaan': 572,
 'Persepolis': 573,
 'Alzao': 574,
 'Crimson Beau': 575,
 'Krayyan': 576,
 'Town Crier': 577,
 'Electric': 578,
 'Rare One': 579,
 'Coquelin': 580,
 'Golden Act': 581,
 'Lypheor': 582,
 'Nain Bleu I': 583,
 'Vital Season': 584,
 'Dunbeath': 585,
 'Raise A Man': 586,
 'Screen King': 587,
 'Chief Singer': 588,
 'Precocious': 589,
 'Kafu': 590,
 'London Bells': 591,
 'Martinmas': 592,
 'Anfield I': 593,
 'J O Tobin': 594,
 'Smartset': 595,
 'Stetchworth': 596,
 'Tantoul': 597,
 'Crofthall': 598,
 'Junius': 599,
 'President': 600,
 'Palemon': 601,
 'Air Trooper I': 602,
 'Wollow': 603,
 'Blue Refrain': 604,
 'Faliraki': 605,
 'Reasonable': 606,
 'Kirchner': 607,
 'Sayf El Arab': 608,
 "Lyphard's Special": 609,
 'Tom Noddy': 610,
 'Legend Of France': 611,
 'Northern Prospect': 612,
 'Diamond Shoal': 613,
 'Grundy': 614,
 'Norwick': 615,
 'Doulab': 616,
 'Prince Regent': 617,
 'Noalcoholic': 618,
 'Nebos': 619,
 'Ashmore': 620,
 'Tap Shoes I': 621,
 'Le Nain Jaune': 622,
 'Redundant': 623,
 'Allgrit I': 624,
 'Starch Reduced': 625,
 'Smackover': 626,
 'Gorytus': 627,
 'Jester': 628,
 'Native Royalty': 629,
 'Vision': 630,
 'Adonijah I': 631,
 'Music Maestro': 632,
 'Good Times': 633,
 'Abercorn': 634,
 'Crespino': 635,
 'Rousillon': 636,
 'Proud Challenge': 637,
 'Bairn': 638,
 'Bold Lad': 639,
 'Robellino': 640,
 'Crow': 641,
 'Dust Commander': 642,
 'Healaugh Fox': 643,
 'Beau Chapeau': 644,
 'Cidrax': 645,
 'Mashhor Dancer': 646,
 'Magic Mirror I': 647,
 'Siberian Express': 648,
 'Lomond': 649,
 'Autre Prince': 650,
 'Alleged': 651,
 'Asandre': 652,
 'Caruso': 653,
 'Mugatpura': 654,
 'Seattle Song': 655,
 'Leander I': 656,
 "Headin' Up": 657,
 'Marching On': 658,
 'Lafontaine I': 659,
 'Superlative': 660,
 'Super Concorde': 661,
 "Tom's Shu": 662,
 "Sadler's Wells": 663,
 'Muscatite': 664,
 'Dreams To Reality I': 665,
 'Wassl': 666,
 "Nijinsky's Secret": 667,
 'Silly Prices': 668,
 'Pablond': 669,
 'Midland Gayle': 670,
 'Diesis': 671,
 'Danzig': 672,
 'Told': 673,
 'Eric I': 674,
 'Beau Charmeur': 675,
 'Rapid Pass': 676,
 'Never So Bold': 677,
 'Chukaroo': 678,
 'Diamante D': 679,
 'Crozier': 680,
 'Lines Of Power': 681,
 'Cree Song': 682,
 'Day Is Done': 683,
 'Mississippi': 684,
 'Lemhi Gold': 685,
 'Grisaille': 686,
 'Rushmere': 687,
 'Caerleon': 688,
 'Verbatim': 689,
 'Riki Lash': 690,
 'Storm Bird': 691,
 'Local Suitor': 692,
 'Teenoso': 693,
 'Timeless Moment': 694,
 'Cure The Blues': 695,
 'Dixieland': 696,
 'Dixieland Band': 697,
 'Brave Invader': 698,
 'Foggy Bell': 699,
 'Wavering Monarch': 700,
 'Northern Jove': 701,
 "Cawston's Clown": 702,
 'Centaurus I': 703,
 'Pamroy': 704,
 'El Gran Senor': 705,
 'Rainbow Quest': 706,
 'What A Guest': 707,
 'Graustark': 708,
 'Konigsstuhl': 709,
 'Harlow': 710,
 'King Of Clubs I': 711,
 'The Brianstan': 712,
 'Homeboy': 713,
 "Hero's Honor": 714,
 'Blushing Groom': 715,
 'Magesterial': 716,
 'Bold Owl': 717,
 "Lyphard's Wish": 718,
 'Some Hand': 719,
 'Head For Heights': 720,
 'Megaturn': 721,
 'Law Society': 722,
 'Private Account': 723,
 'Darshaan': 724,
 'Julius Caesar': 725,
 'Jasmine Star': 726,
 'Melyno': 727,
 'Shaab': 728,
 'Rose Laurel': 729,
 'Well Decorated': 730,
 'Ankara': 731,
 'Barachois': 732,
 'Sharp Deal': 733,
 'Hostage': 734,
 'Claude Monet': 735,
 'Northern Tempest': 736,
 'Say Primula': 737,
 'Skyliner': 738,
 'Blushing Scribe': 739,
 'Le Soleil': 740,
 'Rapid River I': 741,
 'Gabitat': 742,
 'Fappiano': 743,
 'Young Emperor': 744,
 'Assert': 745,
 'Liloy': 746,
 'Raise A Native': 747,
 'Hot Spark': 748,
 'Spin Of A Coin': 749,
 'Majestic Light': 750,
 'Radetzky': 751,
 'Green Dancer': 752,
 'Shernazar': 753,
 'Red Ransom': 754,
 'Barbary Chief': 755,
 'My Top': 756,
 'Pauper': 757,
 'Avgerinos': 758,
 'Nodouble': 759,
 'Bustiki': 760,
 'Main ReefI': 761,
 'Meldrum': 762,
 'Manacle': 763,
 'Bellman': 764,
 'Buzzards Bay': 765,
 'Lear Fan': 766,
 'Diamond Prospect': 767,
 'King Persian': 768,
 'Sunny Clime': 769,
 'Bold Forbes': 770,
 'Commemorate': 771,
 'Tarboosh': 772,
 'Maelstrom Lake': 773,
 'Mr Prospector': 774,
 'Martin John': 775,
 "Queen's Hussar": 776,
 'Hot Grove': 777,
 'Air Forbes Won': 778,
 'Disc Jockey': 779,
 'Believe It': 780,
 'Pleasant Colony': 781,
 'Tiran': 782,
 'Crever': 783,
 "Aloma's Ruler": 784,
 'Monteverdi': 785,
 'Hays': 786,
 'Double Form': 787,
 'Green Forest': 788,
 'Encino': 789,
 'Clever Trick': 790,
 'Secreto': 791,
 'Ring Bidder': 792,
 'Concorde Hero': 793,
 'Royben': 794,
 'Elegant Air': 795,
 'Crystal Glitters': 796,
 'Ginger Brink': 797,
 'Northjet': 798,
 'Irish Castle': 799,
 'Sovereign Dancer': 800,
 "Devil's Bag": 801,
 'Master Willie': 802,
 'Rabdan I': 803,
 'Yashgan': 804,
 'Red Alert I': 805,
 'Decoy Boy': 806,
 'Wattlefield': 807,
 'Deputy Minister': 808,
 'Miswaki': 809,
 'Royal Vulcan': 810,
 'Raise A Cup': 811,
 "Anita's Prince": 812,
 'Czaravich': 813,
 'North Pole': 814,
 'The Noble Player': 815,
 'Stop The Music': 816,
 'Esclavo': 817,
 'Mouktar': 818,
 'Recitation': 819,
 "L'Emigrant": 820,
 'Northern Dancer': 821,
 'Fairy King': 822,
 'Gold Song': 823,
 'Brotherly': 824,
 'Bold Fort': 825,
 'Medicean': 826,
 'Morston': 827,
 'New Express': 828,
 'Positively I': 829,
 'Carr De Naskra': 830,
 'Caveat': 831,
 'El Baba': 832,
 'Broadsword': 833,
 'Grey Mirage I': 834,
 'Shadeed': 835,
 'Commanche Run': 836,
 'Lyphard': 837,
 "Chief's Crown": 838,
 'Youth': 839,
 'All Systems Go': 840,
 'Matsadoon': 841,
 'Sicyos': 842,
 'Alydar': 843,
 'Down The Hatch': 844,
 'Laxton': 845,
 'Our Native': 846,
 'Super Slip': 847,
 'Croghan Hill': 848,
 'Forties Field': 849,
 'Merrymount': 850,
 'Vitiges': 851,
 'Magnolia Lad': 852,
 'Cozzene': 853,
 'Labus': 854,
 'Cormorant': 855,
 "Lot O' Gold": 856,
 'Lashkari': 857,
 'Flash Of Steel': 858,
 'Track Barron': 859,
 'Darby Creek Road': 860,
 'Tarqogan': 861,
 'Van Der Linden': 862,
 'Le Prince I': 863,
 'Nomination': 864,
 'Prince Sabo': 865,
 'Myjinski': 866,
 'Stalker': 867,
 'Reesh': 868,
 'Montelimar': 869,
 'Pine Circle': 870,
 'Green Ruby': 871,
 'Pennine Walk': 872,
 'Last Tycoon': 873,
 'Parade Of Stars': 874,
 'Ragapan': 875,
 'Scottish Reel I': 876,
 'Heraldiste': 877,
 'Northern Treat': 878,
 'Eternal Prince': 879,
 'Primo Dominie': 880,
 'Hatim': 881,
 'Green Desert': 882,
 'Faustus': 883,
 'Pilgrim': 884,
 "Ruthie's Native": 885,
 'Amen': 886,
 'Trampler': 887,
 'Crafty Prospector': 888,
 'Fayruz': 889,
 'Malacate': 890,
 'Greinton': 891,
 'Timolin': 892,
 'Golden Fleece': 893,
 'Far North': 894,
 'Step Together I': 895,
 'Sheer Grit': 896,
 'Tate Gallery': 897,
 'Forlorn River': 898,
 'Tilt Up': 899,
 'Stalwart': 900,
 'Proud Appeal': 901,
 'Reformed Character': 902,
 'Son Of Shaka': 903,
 'Today And Tomorrow': 904,
 'M Double M': 905,
 'Current Magic': 906,
 'Fidel': 907,
 'Domynsky': 908,
 'Alleging': 909,
 'State Trooper': 910,
 'Two Punch': 911,
 "King's Ride": 912,
 'Hawaiian Return': 913,
 'Balsamo': 914,
 'Welsh Term': 915,
 'Tremblant': 916,
 'Glow': 917,
 'Little Current': 918,
 'Tri Jet': 919,
 'No Pass No Sale': 920,
 'Fighting Fit': 921,
 'Wolf Power': 922,
 'Secretariat': 923,
 'Lord Nelson': 924,
 'Son Of Silver': 925,
 'Dusky Boy': 926,
 'Goldhills Pride': 927,
 'Superbity': 928,
 'St Paddy': 929,
 'Lidhame': 930,
 'Easy Gallop I': 931,
 'Fordham': 932,
 'Harbor Prince': 933,
 'Smarten': 934,
 'More Music': 935,
 'Pamponi': 936,
 'Explodent': 937,
 'Petoski': 938,
 'Veloso': 939,
 'Blind Harbour': 940,
 'Spanish Gold I': 941,
 'Bajan Dancer': 942,
 'Home Guard': 943,
 'Domitor': 944,
 'Vayrann': 945,
 'Vacarme': 946,
 'Orange Bay': 947,
 'Track Spare': 948,
 'Snow Knight': 949,
 'Valuta': 950,
 'Baragoi': 951,
 'Pampabird': 952,
 'Maculata': 953,
 'Major Petingo': 954,
 'Full Of Hope': 955,
 'Silver Hawk': 956,
 "Cox's Ridge": 957,
 'Osiris': 958,
 'Hillandale': 959,
 'Sweet Revenge': 960,
 'Tierra Fuego': 961,
 'Riot Helmet': 962,
 'Jig Time': 963,
 'Barrera': 964,
 'Dikusa': 965,
 'Young Nelson': 966,
 'Vivadari': 967,
 'Simbir': 968,
 'Grosvenor': 969,
 'Radical': 970,
 'Princes Gate': 971,
 'Meisir': 972,
 'Flashback': 973,
 'Royal Blend': 974,
 'Mart Lane': 975,
 'Lucky Mickmooch': 976,
 'Kreisler': 977,
 'Reliance II': 978,
 'Sir Lark': 979,
 'Apollo Eight': 980,
 'Ack Ack': 981,
 'Young Man I': 982,
 'Ercolano': 983,
 'Reform': 984,
 'Seymour Hicks': 985,
 'Clev-Er-Tell': 986,
 'Hasty Word': 987,
 'Imperial Crown': 988,
 'Le Johnstan': 989,
 'Sousa': 990,
 'Royal Fountain': 991,
 'Beatic': 992,
 'Sweet Story': 993,
 'Grey Love': 994,
 'Big Burn': 995,
 'Chantro': 996,
 'Happy Lord': 997,
 'King Sitric': 998,
 'Temperence Hill': 999,
 'Mister Thatch': 1000,
 ...}

In [20]:
all_horses_new['father'] = all_horses_new['father'].map(fathers_mapping)
all_horses_new.head()

,rid,horseName,age,saddle,decimalPrice,trainerName,jockeyName,position,positionL,dist,...,TR,OR,father,mother,gfather,runners,margin,weight,res_win,res_place
0,282203,1,11.0,0.0,0.250000,1,1,3,5,8.0,...,77.0,111.0,1,Swift Imp,Swift Flight II,3,1.083333,68,0.0,0.0
1,298761,2,6.0,0.0,0.181818,2,2,3,15,16.5,...,84.0,131.0,2,Segos,Runnymede I,5,1.134199,68,0.0,0.0
2,298761,3,6.0,0.0,0.266667,3,3,4,5,21.5,...,76.0,128.0,3,Lady Kasbah,Lord Gayle,5,1.134199,66,0.0,0.0
3,298761,4,7.0,0.0,0.066667,4,4,5,5,26.5,...,60.0,121.0,4,Bond's Best,Good BondI,5,1.134199,61,0.0,0.0
4,301118,5,7.0,0.0,0.166667,5,5,3,2,5.0,...,88.0,102.0,5,Magnesium,Khalkis,13,1.382585,69,0.0,1.0

In [21]:
mothers = all_horses_new['mother'].unique()
mothers_mapping = {mother: idx + 1 for idx, mother in enumerate(mothers)}
mothers_mapping

{'Swift Imp': 1,
 'Segos': 2,
 'Lady Kasbah': 3,
 "Bond's Best": 4,
 'Magnesium': 5,
 'La Loie Fuller': 6,
 'Laurolin': 7,
 'Montana Moss': 8,
 'Copper Cloud': 9,
 'Flea Pit': 10,
 'Alma Ata': 11,
 'Freuchie': 12,
 'Mala Mala': 13,
 'Diascia': 14,
 'Grey Mist': 15,
 'Maypole Lane': 16,
 'Cape Mandalin*t': 17,
 'Menhaden': 18,
 'Fleet Street Fifty': 19,
 'Traverser': 20,
 'Saint Malva': 21,
 'Miss Leap Year': 22,
 'Chargealero': 23,
 'Tenon Saw*t': 24,
 'August Days': 25,
 'La Grange': 26,
 'Magnesia': 27,
 'Jenny': 28,
 'Kitty Laurence': 29,
 'Melody Hour': 30,
 'Silver Doll': 31,
 'Roses For The Lady': 32,
 'Ballinarose': 33,
 'Chrysicabana': 34,
 'Deepness': 35,
 'Delia Ross': 36,
 'Warham Trout': 37,
 'Miss Mouri': 38,
 'Miss Spencer': 39,
 'Hill Invader': 40,
 'Miss Medina': 41,
 'Bundoran': 42,
 'Stickpin': 43,
 'Mary McQuaker': 44,
 'Lady Eton': 45,
 'Beanery': 46,
 'Dinamarsh': 47,
 'Fair People': 48,
 'Border Lane': 49,
 'Selstone': 50,
 'Good Surprise I': 51,
 'Arctic Daisy': 52,
 'Watch Lady': 53,
 'Another Move': 54,
 'Croaghnacree': 55,
 'Lady Hiltop': 56,
 'Poppy-Jill': 57,
 'En Clair': 58,
 'Karera': 59,
 'Rumdora': 60,
 'Spick And Span I': 61,
 'Ask For Roger': 62,
 'Adare Lady': 63,
 'Simeonova': 64,
 'Bula Rose': 65,
 'Partridge Brook': 66,
 'Ensign Steel': 67,
 'Robbies Girl': 68,
 'Flood Light I': 69,
 'Girl On A Swing': 70,
 'High Energy': 71,
 'Bonandra': 72,
 'Arctic Rhapsody': 73,
 'Cute Peach': 74,
 "Gilly's Folly": 75,
 'Suemette': 76,
 'Constanza': 77,
 'Marphousha': 78,
 'Blue Flash': 79,
 'Elite Lady': 80,
 'Shepherds Bush': 81,
 "Rose's Code": 82,
 'Pine Princess': 83,
 'Glenbrien Dusky': 84,
 'Countess Decima': 85,
 'Princesse Kay': 86,
 'Jaunting': 87,
 'Phillopene': 88,
 'Chamspex': 89,
 'Passing Fancy': 90,
 'Vulrory': 91,
 'Golden Grove': 92,
 'Fossebridge': 93,
 'Lady Maggie': 94,
 'Henrys Lady': 95,
 'Ruby Sherry': 96,
 'Coliemore': 97,
 'Preshine': 98,
 'Aurora Lady': 99,
 'Connarca': 100,
 'Laud': 101,
 'Caribs Love': 102,
 'La Chica': 103,
 'Quaife Sport': 104,
 'Polly Peachum': 105,
 'Even More': 106,
 'Sally Conkers': 107,
 'Starval I': 108,
 'Laura Bell': 109,
 'Small Dragon': 110,
 'Holly Doon': 111,
 'Veracious I': 112,
 'Provincia': 113,
 'College Brief': 114,
 'Instanter': 115,
 'Weavers Fool': 116,
 'Needless': 117,
 'Coolavane': 118,
 'Peppardstown': 119,
 'Tarqoretta': 120,
 'Sark': 121,
 "Maid O'The Wood": 122,
 'Poker Face': 123,
 'Howzat': 124,
 'Legal Fortune': 125,
 'Sea Rambler': 126,
 'Ware Princess': 127,
 "Spartan's Legacy": 128,
 'Red Berry': 129,
 'Ice Bird I': 130,
 'Blackbog Lass': 131,
 'Nora Grany': 132,
 'Maximum Bonus': 133,
 'Sicilian Girl': 134,
 'Lady Wise': 135,
 'Pipina': 136,
 'The Habit Of Being': 137,
 'Sea Chant': 138,
 'Coriace': 139,
 "Lady D'Arbanville I": 140,
 'Floragold': 141,
 'Office Party': 142,
 'Astrella Celeste': 143,
 'Midnight Pansy': 144,
 'Zerbinetta': 145,
 'Savette': 146,
 'Regency View*t': 147,
 'Highway Mistress': 148,
 'Kadella': 149,
 'Most Seen': 150,
 'Miss Sprite': 151,
 'Syrsanta': 152,
 'Grisette': 153,
 'Unsinkable Sarah': 154,
 'Almost': 155,
 'Aur': 156,
 'Watermark II': 157,
 'Smooth Lady': 158,
 'Camargue I': 159,
 'Red Tan*t': 160,
 'Boule De Suif': 161,
 'Starlight Roof': 162,
 'Klairelle': 163,
 'Hurry On Honey': 164,
 'Mingwyn Wood': 165,
 'Miss Golightly': 166,
 'Queens Message': 167,
 'Another Rose': 168,
 'Em Gee Bee': 169,
 'Tudor Zara': 170,
 'Early Echo*t': 171,
 'Wolver Hill': 172,
 'Windo': 173,
 'Treaty Girl': 174,
 'Harem Queen': 175,
 'Ponca': 176,
 'Dash On': 177,
 'Jane Eyre I': 178,
 'Assurance': 179,
 'Anne Stuart': 180,
 'Mielee': 181,
 "Diana's Flyer": 182,
 'Three Rings': 183,
 'Sharon I': 184,
 'Coralivia': 185,
 'High Move': 186,
 'Merry WeatherI': 187,
 'April': 188,
 'Madame Russe': 189,
 'Saucy Slave': 190,
 'Christmas Gorse I': 191,
 'Kincsem': 192,
 'Sally Chase': 193,
 'Gothic Lady': 194,
 'Strawberry Mess': 195,
 'Alli-Bee': 196,
 'Fine Flutter': 197,
 'Belle Artiste': 198,
 'Lights Of London': 199,
 'Foreign Bird': 200,
 'Star Sheba': 201,
 'Fairy Tree': 202,
 'Arctic Dawn': 203,
 'My Copper': 204,
 'Your Nuts': 205,
 'Ten-Cents I': 206,
 'Fly For Home': 207,
 'Labista': 208,
 'Great Care': 209,
 'Lucent': 210,
 'Tabessia': 211,
 'Pardala': 212,
 'Ribo Pride': 213,
 'Elana': 214,
 'Mary Crooner': 215,
 'Ballinavail': 216,
 'Bramble Belle': 217,
 'Casurina': 218,
 'Natflat': 219,
 'Apair': 220,
 'Crashing Juno': 221,
 'Amphibian': 222,
 'Jenny Frisk': 223,
 'Warham Fantasy': 224,
 'Bench Game': 225,
 'Millipede': 226,
 'Salvationist I': 227,
 'More Treasure': 228,
 'Princess Pageant': 229,
 'Maidensgrove': 230,
 'Dancers Fairlight': 231,
 "Liffey's Choice": 232,
 'Flying Music': 233,
 "Queen's Silk I": 234,
 "Mariner's Leap": 235,
 'Couriette': 236,
 'Endora': 237,
 'Anglo United': 238,
 'Chebs Lass': 239,
 'Cesarine': 240,
 'No Relation': 241,
 'Jezebel': 242,
 'Chiltern Lass': 243,
 'Easby Saint': 244,
 'Two Friendly': 245,
 'Civic Duty': 246,
 'Move Along Gypsy': 247,
 'Manyra': 248,
 'Cymbal': 249,
 'Lady Habitat': 250,
 'Norwich Girl': 251,
 'Bella Lisa': 252,
 'Fille De Fizz': 253,
 'Chilita': 254,
 'Formentera I': 255,
 'Arab Art': 256,
 'Gaychimes': 257,
 'Brilliant Gem': 258,
 'Dairy Queen': 259,
 'Sdenka': 260,
 'Chammyville': 261,
 'Harmony Rose': 262,
 'La Meme': 263,
 "Deirdre's Joy": 264,
 "Pirate's Cottage": 265,
 'Newstown': 266,
 'Syalbi': 267,
 'Pound Foolish': 268,
 'Bohemian Girl': 269,
 'Yogurt': 270,
 'Arctic Festival': 271,
 'Narita': 272,
 'Native Wings': 273,
 'Vanity Surprise': 274,
 'Pearlyric': 275,
 'Messalina': 276,
 'Selk Fly': 277,
 'Damsel': 278,
 'Grove Chance': 279,
 'Meanz Beanz': 280,
 'Carrigal': 281,
 'Tipperary Star': 282,
 'Sewing Maid': 283,
 'Sweet And Sour': 284,
 'Avereen': 285,
 'Habatashie': 286,
 'Criminelle': 287,
 'Run To The Sun': 288,
 'Sassabunda': 289,
 'Siliferous': 290,
 'Bank Examiner': 291,
 'Mercy Cure': 292,
 "Beryl's Jewel": 293,
 'Just Larking': 294,
 'Midsummertime': 295,
 'Toccata': 296,
 'Maddelena': 297,
 'Sun Approach': 298,
 'Petal': 299,
 'Galloping Santa': 300,
 'Bellardita': 301,
 'Mount Of Light': 302,
 'Autumn Dream': 303,
 'Laughing Goddess': 304,
 'Missed Blessing': 305,
 'Berganza': 306,
 'Falling Gold': 307,
 'Golden Keep': 308,
 'Compulsion': 309,
 'Friendly Glen': 310,
 'Selham': 311,
 'Blue Cross Nurse': 312,
 'A Twinkling': 313,
 'Easter Vigil': 314,
 'Teenager': 315,
 'Princess Redowa': 316,
 'Blazon': 317,
 'Afrique': 318,
 'Right Mall': 319,
 'Pritillor': 320,
 'Cindyr': 321,
 'Well Caught': 322,
 'Falcade': 323,
 'Tillside': 324,
 'Shoshoni': 325,
 'Virgin': 326,
 'Tyrone Typhoon': 327,
 'Braeval': 328,
 'Forest Music': 329,
 'Another Tune': 330,
 'Spring Snow': 331,
 'Peters Pleasure I': 332,
 'Miss Kuwait': 333,
 'Stellarette': 334,
 'Merency': 335,
 'Nigrel': 336,
 'Creake': 337,
 'Hot Pad': 338,
 'Graunaile': 339,
 'Enchanting': 340,
 'Wild Asset': 341,
 'Kirmeen': 342,
 'Sarum Lady': 343,
 'Rambling I': 344,
 'News Letter': 345,
 'Brazen Faced': 346,
 'Jane Bond': 347,
 'River Petterill': 348,
 'Hay Casta': 349,
 'Boogie Woogie': 350,
 'Sweet Rhythm': 351,
 'Star Attention': 352,
 'Thorganby Bella': 353,
 'Princess Charmere': 354,
 'Thistle I': 355,
 'Phoenix Rose': 356,
 'Japonica': 357,
 'Pandomyne': 358,
 'Hazel Gig': 359,
 'Winter Sunshine': 360,
 "I'llTakeIt": 361,
 'Greek Money': 362,
 'Treasure Ship': 363,
 'Cecily': 364,
 'River Palace': 365,
 'Choralgina': 366,
 'Romany Queen': 367,
 'Clerihan': 368,
 'Foolish Lady': 369,
 'Raubritter': 370,
 'High Seeker': 371,
 'Trenton North': 372,
 'Damiya': 373,
 "Lena's Girl": 374,
 'Doon Mist': 375,
 'Glensharragh': 376,
 'Syrian Song': 377,
 'Harmonise I': 378,
 'Crystal Fountain': 379,
 'Heavenly Bow': 380,
 'Raffinrula': 381,
 'Drora': 382,
 'Precious Baby': 383,
 'Garden Party I': 384,
 'Pulcini': 385,
 'Fardella': 386,
 'Reluctant Maid': 387,
 'Reparata': 388,
 'Olivian': 389,
 'Glass Slipper': 390,
 'Janlarmar': 391,
 'Sunny Reproach': 392,
 'Angel Beam': 393,
 'Gwynfa': 394,
 'Mar Del Plata': 395,
 'Tropical Gold': 396,
 'Hot Press': 397,
 'Ruskaja': 398,
 'Dellasville': 399,
 'Nenagh Belle': 400,
 "Star O'Solway": 401,
 'Cover Your Money': 402,
 'Burks Rainbow': 403,
 'Drawing Room Car': 404,
 'Think Ahead I': 405,
 'Kindle': 406,
 'Golden Linnet': 407,
 'My Darling': 408,
 'Worldling': 409,
 'Princess Jo Jo': 410,
 'Right Swinger': 411,
 'Welsh Miniature': 412,
 'Pomme I': 413,
 'Bannow Bay': 414,
 'Shinaro': 415,
 'Juvenilia': 416,
 'King Lady': 417,
 'Namur': 418,
 'Kings Fillet': 419,
 'Semper Fi I': 420,
 'Merry Spring': 421,
 'Owen Money': 422,
 'Promiscuous I': 423,
 'Fortilage': 424,
 "Canny's Tudor": 425,
 'Down Memory Lane I': 426,
 'Quibba': 427,
 'Lulu Dee': 428,
 'Torino': 429,
 'Hey Skip': 430,
 'Shere Beauty': 431,
 'Carthagian': 432,
 'St Louis Sue': 433,
 'Manntika': 434,
 'Song Of Pride': 435,
 'In View Lass*t': 436,
 'Rafters Ring': 437,
 'Time To Leave': 438,
 'The Blazing Star': 439,
 'Geneva': 440,
 'Sunshine Holyday': 441,
 'Young Lamb': 442,
 'Miss Goldiane': 443,
 'Little Dipper': 444,
 'San Estrella': 445,
 'Off The Reel': 446,
 'Hitesca': 447,
 'Let The Hare Sit': 448,
 'My Pet': 449,
 'Coolroe Aga': 450,
 'Bielly': 451,
 'Castle Treasure': 452,
 'Amazakove': 453,
 'Polar Point': 454,
 "Kelly's Curl": 455,
 'Dunfermline': 456,
 'Heaven Knows I': 457,
 'Champagne Party': 458,
 'Baldritta': 459,
 'Harp Strings': 460,
 'Marphausha': 461,
 'Our Edith': 462,
 'Romany Miss': 463,
 'Madge Spartan': 464,
 'Step You GailyI': 465,
 'Point Gammon': 466,
 'Faraday Girl': 467,
 'Sarasail': 468,
 'Noreena': 469,
 'Consistent': 470,
 'Sospirae': 471,
 'How Splendid': 472,
 'Queen Kate': 473,
 'Mistic Breeze': 474,
 'Mrs Stephens': 475,
 'Judy Green': 476,
 'Razannda': 477,
 'Canaan': 478,
 'Eureka III': 479,
 'Royal Bat': 480,
 'Miss Reasoning': 481,
 'Chili Girl': 482,
 "Ruby's Chance": 483,
 'Annie Get Your Gun': 484,
 'Fiddle-Faddle': 485,
 'Djerba': 486,
 'Girl Of Shiraz': 487,
 'Krishnagar': 488,
 'Abertywi': 489,
 'Sunshot': 490,
 'Corvelle': 491,
 'Final Cast I': 492,
 'Bellagold': 493,
 'Quelles Amours': 494,
 'Cigarette': 495,
 'Fortrition': 496,
 "Brigadier's Nurse": 497,
 'Sea Farer Lake': 498,
 'Gas Only': 499,
 'Winter Resort': 500,
 'Solarina': 501,
 'Malin': 502,
 'Specific Day': 503,
 "Charmer's Girl": 504,
 'Kathleen Beag': 505,
 'Landed Lady': 506,
 'Our Dream': 507,
 'Melche': 508,
 'Fado I': 509,
 'Abercourt': 510,
 'Brescianina': 511,
 'Rampage': 512,
 'Lady Juliet': 513,
 'Strathdearn': 514,
 'Cool Amanda': 515,
 'Armagnac Bay': 516,
 'Sno-Cat': 517,
 'Ida Spider': 518,
 'Pretty Fast': 519,
 'Tailor Don': 520,
 'Background': 521,
 'Soya': 522,
 'Lor Darnie': 523,
 'Mayo Melody': 524,
 'Nikali': 525,
 'Silver Tips': 526,
 'Dane Valley': 527,
 'Jolly Smooth': 528,
 "Nire's Pride": 529,
 'Fair Arctic': 530,
 'Lettuce': 531,
 'Nicaline': 532,
 'Learctic': 533,
 'Miss Lara': 534,
 'Glen Rambler': 535,
 'Kellsboro Star': 536,
 'So Rare': 537,
 'Eight Of Diamonds': 538,
 'Lougharue': 539,
 'Mishabo': 540,
 'Lypatia': 541,
 'Superdora': 542,
 'Countess Charmere': 543,
 'Royal Rally': 544,
 'Florrie Green': 545,
 'Cardinal Palace': 546,
 'Belen': 547,
 'Grilse Run': 548,
 'Sunset Queen': 549,
 'Atlantica': 550,
 'Flail': 551,
 'Ballynavin Run': 552,
 'River Nile': 553,
 'Aughalion': 554,
 'Coniscliff Bell': 555,
 'Katie Grey': 556,
 'Matsui': 557,
 'Mount Hala': 558,
 'Red Gloves': 559,
 'Salute The Coates': 560,
 'French Cracker': 561,
 'Foggy Park': 562,
 'Benedetta Da Castello': 563,
 'Cherry Stack': 564,
 'San Remi': 565,
 'Mandaloch': 566,
 'Snow Tribe': 567,
 'Spring Gala': 568,
 'Olisa*t': 569,
 'Bunnycraft': 570,
 'Staderas': 571,
 'Broccoli': 572,
 'Grand Melody': 573,
 'Little Echo': 574,
 'Nofertiti': 575,
 'Crendle Hill': 576,
 'African Doll': 577,
 'River Spell': 578,
 'Queen Of Killonan': 579,
 'Mallow Isle': 580,
 'Comeragh Vision I': 581,
 'Heaven And Earth': 582,
 'Pirella': 583,
 'Piccadilly Lil': 584,
 'Bonny Hollow': 585,
 'Blessed Damsel': 586,
 'Tangmalangaloo': 587,
 "Emperor's Gift": 588,
 'Claverton': 589,
 'Just Scylla': 590,
 'Facade': 591,
 'Princess Fortina': 592,
 'Torlonia': 593,
 'Oyace': 594,
 'Ribofleur': 595,
 'Cammy': 596,
 'Marzala': 597,
 'Quadrillion': 598,
 'Alma': 599,
 'Service Compris': 600,
 'Hejera': 601,
 'Cannes Beach': 602,
 'Slavetown': 603,
 "Silk's Suggestion": 604,
 'Mint': 605,
 'Darling Smile': 606,
 'Ashaireez': 607,
 'Wintergrace': 608,
 'Sweet Rapport': 609,
 'Midnight Mistress I': 610,
 'Maisie Owen': 611,
 'Clear Thinking I': 612,
 'Nessie B': 613,
 'Judeah': 614,
 'Ravenside': 615,
 'China Bank': 616,
 'Carnival Jest': 617,
 'Petmon': 618,
 'Bedfellow': 619,
 'Precious Petra': 620,
 'Red Partridge': 621,
 'Angodeen': 622,
 'Rosie Probert': 623,
 'Will Preach': 624,
 'Pretty Janey': 625,
 'Alice': 626,
 'Migoletty': 627,
 'Country Tune': 628,
 'Autumn Pearl I': 629,
 'Joplin': 630,
 'Bally Mitty': 631,
 'Debutina Park': 632,
 'Sundream I': 633,
 'Gone': 634,
 'Miss Stalbridge': 635,
 'Sarona': 636,
 'Chantarella': 637,
 'Furlana': 638,
 'May Foliage': 639,
 'Cheri Berry': 640,
 'Contessa': 641,
 'Bells Of St Martin': 642,
 'River Damsel': 643,
 'Cecilia Gallerani': 644,
 'Garrucha': 645,
 'Golden Approach': 646,
 'Lady Relka': 647,
 'The Dupesdawn': 648,
 'Expansive': 649,
 'Viduli': 650,
 'Bellentina': 651,
 'Prink': 652,
 'Bryophila': 653,
 'Nicola Lisa': 654,
 'Scalene': 655,
 'Royale Final': 656,
 'Royal Rondo*t': 657,
 'Sparkling Time': 658,
 'Astania': 659,
 'Casbar Lady': 660,
 "Ethel's Delight": 661,
 'Boreen Queen': 662,
 'Little Tot': 663,
 'Arctic Ander': 664,
 'Ilyaara': 665,
 'Miss Pinkerton I': 666,
 'Cross Pearl': 667,
 'Jaunty Jane': 668,
 'Leapallez': 669,
 'Birds Well': 670,
 'Flower Child': 671,
 'Fox Covert': 672,
 'Lothian Lady': 673,
 'Derry Daughter': 674,
 "Dandy's Last": 675,
 'Dream Isle': 676,
 'Tame Cindy': 677,
 'Money For Fun': 678,
 'Good Way': 679,
 'Brilliant Rosa': 680,
 "Joie D'Or": 681,
 "Wimbledon's Pet": 682,
 'Easily': 683,
 'Baridi': 684,
 'Summer Mist': 685,
 'Fair Or Foul': 686,
 'Queen Of The Brush': 687,
 'True Or False': 688,
 'Royal Birthday': 689,
 'Shebeen': 690,
 'Gauloise': 691,
 'Tetlin': 692,
 'Full Of Reason': 693,
 'Blessingtonia': 694,
 'Tesco Maid': 695,
 'Always Faithful': 696,
 'Tanaka': 697,
 'Last Trip': 698,
 'Girostar': 699,
 'Dirrie Star': 700,
 'My Baby Love': 701,
 'Nevada-Credo': 702,
 'Chemin De Guerre': 703,
 'Windfall VI*t': 704,
 'Katie Little': 705,
 'Mouskouri': 706,
 "Betton's Folly": 707,
 'Felin Geri': 708,
 'Stellarevagh': 709,
 'Red Deer': 710,
 'The Danstan': 711,
 'Killonan Lass': 712,
 'Regal Sound': 713,
 'Welsh Wise': 714,
 'Papukeena': 715,
 'Sagosha': 716,
 'Glebe': 717,
 'Bold Lady': 718,
 'Hinemoa': 719,
 'High Walk': 720,
 'Lemon Blossom': 721,
 'Thoughtful': 722,
 "Hilary's Hut": 723,
 'Blue Nursery': 724,
 'Golden Goose I': 725,
 'Not At All': 726,
 'Lorna Doone': 727,
 'Scotch Oats': 728,
 'Mighty Grand': 729,
 'Gail Borden': 730,
 'What A Duchess': 731,
 'Mo Sgeal Fein': 732,
 'Penthouse Pet': 733,
 'Billeragh Girl': 734,
 'Pilicina': 735,
 'Invery Lady': 736,
 'Royal Caprice': 737,
 'Romantic Air': 738,
 'Clarahill': 739,
 'Abstract': 740,
 'Fleet Noble': 741,
 'Soheir': 742,
 'Early Start I': 743,
 'Connaught Bridge': 744,
 'Alice Minkthorn': 745,
 'Nana': 746,
 'Boon Adventure': 747,
 'Just-A-Honey': 748,
 'Air Queen': 749,
 'Bovey Bells': 750,
 'Ravenshead': 751,
 'Hardyglass Lass': 752,
 'Blue Flame': 753,
 'More Or Less': 754,
 'Royal Rib': 755,
 'Right About': 756,
 'Brookward': 757,
 'Happy Ridan': 758,
 'Indian Madness': 759,
 'Polar Lady I': 760,
 'Sinzinbra': 761,
 'Snip': 762,
 'Merry Chariot': 763,
 'Arctic Sue': 764,
 'Persian Market': 765,
 'Ice Blossom': 766,
 'Old Brief': 767,
 'Miss Chianti': 768,
 'Free Rein I': 769,
 'Independentia': 770,
 'Greenfield Girl*t': 771,
 'Pelant Barle': 772,
 'Deep Down': 773,
 'Fourth Dimension': 774,
 'Lady Conkers': 775,
 'Mile Cross': 776,
 'Crepe Rose': 777,
 'Astryl': 778,
 'Venture More I': 779,
 'Comtec Princess': 780,
 'Pencil Lady': 781,
 'Red Realm': 782,
 'Paradise Regained': 783,
 'Arctic Jewel': 784,
 'Miss Mars': 785,
 'Belinda Pocket': 786,
 'Rathcolman': 787,
 'Lady Columbus': 788,
 'Bistro Blue': 789,
 'Raininsky': 790,
 'Buscarina': 791,
 'Julanda': 792,
 "City's Sister": 793,
 'Wheel Grace': 794,
 'Rising Prices': 795,
 'Ten Again': 796,
 'Pakeha': 797,
 'Indictment': 798,
 'Farranfore': 799,
 'Paddys Tern I': 800,
 'Cailin Meireach': 801,
 'Mijanou': 802,
 'Cherry Leaf': 803,
 'Sister Brown': 804,
 'Zandvoort': 805,
 'Moonbreaker*t': 806,
 'La Saudade': 807,
 'Villarrica': 808,
 'Magical I': 809,
 'Hazels Fancy': 810,
 'Catacomb': 811,
 "Bride's Burn*t": 812,
 'Llanah': 813,
 'Limefield Rita': 814,
 'Oh Babe': 815,
 'Katebird': 816,
 'Petoria': 817,
 'Gay Tamarind': 818,
 'Malmsey': 819,
 'Linguistic': 820,
 'High Value': 821,
 'Fawnamore': 822,
 'Ruckinge Girl': 823,
 'Aloft I': 824,
 'French Cherry': 825,
 'Laval': 826,
 'Top Of The Pops II': 827,
 'Berthe Manet': 828,
 'Frenchouan': 829,
 "Sam's Song": 830,
 'Real Wisdom': 831,
 'Super Cailin': 832,
 'Solentown': 833,
 'Angels Song': 834,
 'Princess Gayle': 835,
 'Milly Kelly': 836,
 'Firework Party': 837,
 'Twenty Two': 838,
 'Cagaleena': 839,
 'Gretna Wonder': 840,
 'Petingalyn': 841,
 'Loveshine': 842,
 'Welwyn': 843,
 'Kero Code': 844,
 'Vulplume': 845,
 'Cuba Libre': 846,
 'La Melodie': 847,
 'Dandyville': 848,
 'Love Match I': 849,
 'Divonne': 850,
 'Tinkers Lane*t': 851,
 'Horoscope': 852,
 'Burnished Gold': 853,
 'Bamstar': 854,
 'Annabella I': 855,
 'Acantha': 856,
 'Gangawayhame': 857,
 'Tea-Pot': 858,
 'Take My Hand': 859,
 'Kitta': 860,
 'Olympic Visualise': 861,
 'Mofida': 862,
 'Divine Thought': 863,
 'Ambiente': 864,
 'Lilac Veil': 865,
 "Hilda's Way": 866,
 'Seabring Lass': 867,
 'Killiney Lady': 868,
 'Coolrobin': 869,
 'Kind Thoughts': 870,
 'Barby Road': 871,
 'Honey Sand': 872,
 'Grand Opera': 873,
 'Fallen Rose': 874,
 'Guyana': 875,
 'Top Soprano': 876,
 'Metaxa': 877,
 'Elizabeth Wales': 878,
 'Flora Finching': 879,
 "Proverb's Bride": 880,
 'Crookhaven I': 881,
 'Mirror Back': 882,
 'Good Way*t': 883,
 'Fugacity': 884,
 'Pallatess': 885,
 'Idle Air': 886,
 'Halcyon Years': 887,
 'Imperial Leather': 888,
 'Clogga Girl': 889,
 'Kilfenora': 890,
 'Amore': 891,
 'Karolette': 892,
 'Tarquann': 893,
 'Lizzie Lightfoot': 894,
 'Noirima': 895,
 'Sound Of Success': 896,
 'Charlotte Amalie': 897,
 'Greyburn': 898,
 'Pinzarose': 899,
 'Firente': 900,
 'Lusaka': 901,
 'Carambola': 902,
 'Let Slip': 903,
 'Sanandrea': 904,
 'Carol Day': 905,
 'Owenansea': 906,
 'Tenella': 907,
 'Bardicate': 908,
 'Tamorina': 909,
 'Piap': 910,
 'Carcajou': 911,
 'Gellifawr': 912,
 'Ballychord': 913,
 'Churchtown Lass': 914,
 'Rhodie Blake': 915,
 'Place To Place': 916,
 'Kimin': 917,
 'Erra': 918,
 'Rayvox': 919,
 'Cavallina': 920,
 'Golden Shuil': 921,
 'Small Problem': 922,
 'Laughing Girl': 923,
 'Dovey': 924,
 'Mrs McNicholas': 925,
 'Beautiful Night': 926,
 'Come On GirlI': 927,
 'Wavetree': 928,
 'Miss Stradavinsky': 929,
 'Pegs Promise': 930,
 'Croatia': 931,
 'Gora Gully': 932,
 'Forest Fun': 933,
 'Langton Water': 934,
 'Cahermone Ivy': 935,
 'Frampton Close': 936,
 'Swinging Mink': 937,
 'Theban Queen': 938,
 'Viverba': 939,
 'Florida Girl': 940,
 'Gresham Girl': 941,
 'Karlaine': 942,
 'Oriental Star': 943,
 "Vul's Money": 944,
 'Flashing Beauty': 945,
 'Flaming Onions': 946,
 'Poppy Day': 947,
 'Blue Delphinium': 948,
 'Ancholia': 949,
 'Quickapenny': 950,
 "Cecilia's Will": 951,
 'Come Aboard': 952,
 'Scholastika': 953,
 "Cassy's Pet": 954,
 'Sunday Purchase': 955,
 'Happy Adventure': 956,
 'Now Or Never': 957,
 'Campagna': 958,
 'Beagle Bay': 959,
 'Jamila': 960,
 'Piethorne': 961,
 'Tumble Royal': 962,
 'Paper Sun': 963,
 "Fleur D'Amour": 964,
 'Ragatina': 965,
 'Farina': 966,
 'Rouge Shack': 967,
 'Belle Zed': 968,
 'Honey Wonder': 969,
 "Chip O'Chocolate": 970,
 'Thwarted': 971,
 'Chanita': 972,
 'Miss Jessica': 973,

In [22]:
all_horses_new['mother'] = all_horses_new['mother'].map(mothers_mapping)
all_horses_new.head()

,rid,horseName,age,saddle,decimalPrice,trainerName,jockeyName,position,positionL,dist,...,TR,OR,father,mother,gfather,runners,margin,weight,res_win,res_place
0,282203,1,11.0,0.0,0.250000,1,1,3,5,8.0,...,77.0,111.0,1,1,Swift Flight II,3,1.083333,68,0.0,0.0
1,298761,2,6.0,0.0,0.181818,2,2,3,15,16.5,...,84.0,131.0,2,2,Runnymede I,5,1.134199,68,0.0,0.0
2,298761,3,6.0,0.0,0.266667,3,3,4,5,21.5,...,76.0,128.0,3,3,Lord Gayle,5,1.134199,66,0.0,0.0
3,298761,4,7.0,0.0,0.066667,4,4,5,5,26.5,...,60.0,121.0,4,4,Good BondI,5,1.134199,61,0.0,0.0
4,301118,5,7.0,0.0,0.166667,5,5,3,2,5.0,...,88.0,102.0,5,5,Khalkis,13,1.382585,69,0.0,1.0

In [23]:
gfathers = all_horses_new['gfather'].unique()
gfathers_mapping = {gfather: idx + 1 for idx, gfather in enumerate(gfathers)}
gfathers_mapping

{'Swift Flight II': 1,
 'Runnymede I': 2,
 'Lord Gayle': 3,
 'Good BondI': 4,
 'Khalkis': 5,
 'Rheffic': 6,
 'Laurence O': 7,
 'Levmoss': 8,
 'Foggy Bell': 9,
 'Sir Lark': 10,
 'Bustino': 11,
 'Vulgan': 12,
 'Crepello': 13,
 'Dike': 14,
 'Karayar': 15,
 'Grundy': 16,
 'Mandamus': 17,
 'Menelek': 18,
 'I Say': 19,
 'Spiritus': 20,
 'Welsh Pageant': 21,
 'Cantab': 22,
 'Native Charger': 23,
 'Songedor': 24,
 'In Reality': 25,
 'Habitat': 26,
 'Upper Case': 27,
 'Red God': 28,
 'Sing Sing': 29,
 'Sovereign Gleam': 30,
 'Buffalo Lark': 31,
 'Arctic Slave': 32,
 'Home Guard': 33,
 'Deep Run': 34,
 'Dalesa': 35,
 'Barolo': 36,
 'Domaha': 37,
 'Imperial Fling': 38,
 'Brave Invader': 39,
 'St Elmo': 40,
 'Bally Royal': 41,
 'Gulf Pearl': 42,
 'Acer': 43,
 "Le Dieu D'Or": 44,
 'Cavan': 45,
 'Nelcius': 46,
 'Varano': 47,
 'Border Legend': 48,
 'Counsel': 49,
 'Maelsheachlainn': 50,
 'Farm Walk': 51,
 'Mister Lord': 52,
 'Prince Hansel': 53,
 'Normandy': 54,
 'Tarqogan': 55,
 'Kalamoun': 56,
 'Rum': 57,
 'Smartie I': 58,
 'Northfields': 59,
 'Alphabatim': 60,
 'Birdbrook': 61,
 'Majority Blue': 62,
 'Rubor': 63,
 'Bold Lad': 64,
 'High Top': 65,
 'Andrea Mantegna': 66,
 'Bargello': 67,
 'Hardicanute': 68,
 'Sikandar': 69,
 'Danseur': 70,
 'Sun Prince': 71,
 'Shirley Heights': 72,
 'Blue Lightning I': 73,
 'Shooting Chant': 74,
 'True Code': 75,
 'Neron': 76,
 'Dusky Boy': 77,
 'Sir Gaylord': 78,
 'Roi Lear': 79,
 'Jolly Jet': 80,
 'Wilwyn': 81,
 'Perspex': 82,
 'Buckpasser': 83,
 'Roan Rocket': 84,
 'Straight Lad': 85,
 'Distinctive': 86,
 'Henry The Seventh': 87,
 'Straight Cut': 88,
 'Coliseum I': 89,
 'Specific I': 90,
 'Beau Chapeau': 91,
 'Connaught': 92,
 'Dual': 93,
 'Caliban': 94,
 'El Cid': 95,
 'Quayside I': 96,
 'Singing Strand': 97,
 'Even Money': 98,
 'Val De Loir': 99,
 'Jacinto I': 100,
 'Pendragon': 101,
 'Doon': 102,
 'Astec': 103,
 'Balconaje': 104,
 'Lucky Brief': 105,
 'Morston': 106,
 'Weavers Hall': 107,
 'Petingo': 108,
 'David Jack': 109,
 'Javelot': 110,
 'Chamier': 111,
 'Borealis': 112,
 'Habat': 113,
 'Cash And Courage': 114,
 'Crash Course': 115,
 'Spartan General': 116,
 'Great Nephew': 117,
 'Fighting Charlie': 118,
 'Le Tricolore': 119,
 'Wrekin Rambler': 120,
 'Sicilian Prince': 121,
 'Busted': 122,
 'Julio Mariner': 123,
 'Prince Consort': 124,
 'Luthier': 125,
 'Floribunda': 126,
 'Deadly Nightshade': 127,
 'Frigid Aire': 128,
 'Royal Highway': 129,
 'Kadir Cup': 130,
 'Mustang': 131,
 'Bowsprit': 132,
 'Santa Claus': 133,
 'Arctic Explorer': 134,
 'Mon Capitaine': 135,
 'Aureole': 136,
 "Sadler's Wells": 137,
 'Combat': 138,
 'Crespin Rouge': 139,
 'Major Portion': 140,
 'Northern Dancer': 141,
 'Klairon': 142,
 'Be Friendly': 143,
 'Pirate King I': 144,
 'Jimmy Reppin': 145,
 'Town Crier': 146,
 'Trouville': 147,
 'Ben Hawke': 148,
 'Tudor Melody': 149,
 'Bleep': 150,
 'Wolver Hollow': 151,
 'Derring-Do': 152,
 'Pardal': 153,
 'Prince Regent': 154,
 'Jim French': 155,
 'Master Buck': 156,
 'Timmy Lad': 157,
 'Bolkonski': 158,
 'Le Levanstell': 159,
 'Charlottesvilles Flyer': 160,
 'Sunny Way': 161,
 'Will Somers': 162,
 'Silly Season': 163,
 'Bally Russe': 164,
 'Woodcut': 165,
 'Sallust': 166,
 'Godswalk': 167,
 "Violon D'Ingres": 168,
 'Flush Royal': 169,
 "Artist's Son": 170,
 'London Scottish': 171,
 'Lauso': 172,
 'Pampered King': 173,
 'Sunacelli': 174,
 'Creme Dela Creme': 175,
 'Taste Of Honey': 176,
 'Crowned Prince': 177,
 'Irish Ball': 178,
 'As Before': 179,
 'Ribero': 180,
 'Trictrac': 181,
 'Crooner': 182,
 'Rarity': 183,
 'Oakville I': 184,
 'Barrons Court': 185,
 'Red Slipper': 186,
 'Zarathustra': 187,
 "King's Bench": 188,
 'Military': 189,
 'Mill Reef': 190,
 'Ballymore': 191,
 'Canadel II': 192,
 'Dancing Dervish': 193,
 'Little Buskins': 194,
 'Pongee I': 195,
 "King's Leap": 196,
 'Bleep-Bleep': 197,
 'Royal Palm': 198,
 "Cheb's Lad": 199,
 'Royal Palace': 200,
 'Ardistan': 201,
 'High Hat': 202,
 'Saintly Song': 203,
 'Averof': 204,
 'Abdos': 205,
 'Green God': 206,
 'River Chanter': 207,
 'Ragusa': 208,
 'Ribot': 209,
 'Artaius': 210,
 'Steel Heart I': 211,
 'Charlottown': 212,
 "Queen's Hussar": 213,
 'Drumbeg': 214,
 'Pall Mall': 215,
 'Cadmus II': 216,
 'London Gazette': 217,
 'Sobig': 218,
 'Pardao': 219,
 'Saint Denys': 220,
 'Narrator': 221,
 "Al-'Alawi": 222,
 'Blakeney': 223,
 'Eastern Lyric I': 224,
 'Selko': 225,
 'Danzero': 226,
 'St Columbus': 227,
 'Arcticeelagh': 228,
 'So Blessed': 229,
 'Sharpen Up': 230,
 'Run The Gantlet': 231,
 'Sassafras': 232,
 'Sandy Creek': 233,
 'Buckfinder': 234,
 'No Mercy II': 235,
 'Siliconn': 236,
 'Sea Bird II': 237,
 'Midsummer Night II': 238,
 'Mr. Leader': 239,
 'Whistler I': 240,
 'Sparkler I': 241,
 'Primo Dominie': 242,
 'Grey Sovereign': 243,
 'High Echelon': 244,
 'Worden II': 245,
 'Bertolini': 246,
 'Furry Glen': 247,
 'Needles': 248,
 'Prince John': 249,
 'Young Ern': 250,
 'Ack Ack': 251,
 'Exbury': 252,
 'Privy Councillor': 253,
 'Ritudyr': 254,
 'Golden Vision': 255,
 'Falcon': 256,
 'Indian Ridge': 257,
 'Zeddaan': 258,
 'Typhoon': 259,
 'Quorum': 260,
 'Tudor Music': 261,
 'Reliance II': 262,
 'Jimsun I': 263,
 'The Brianstan': 264,
 'Tentam': 265,
 'Meldrum': 266,
 'Sovereign Path': 267,
 'Hotfoot I': 268,
 'Proud Chieftain': 269,
 'Behistoun': 270,
 'Charlottesville': 271,
 'Bold And Free I': 272,
 'Another River': 273,
 'Will Hays': 274,
 'No Arguement': 275,
 'My Swanee': 276,
 'Porto Bello': 277,
 'Tepukei': 278,
 'Highland Melody': 279,
 'Frankincense': 280,
 'Vic Day': 281,
 'Pandofell': 282,
 "Captain's Gig": 283,
 'Crisp And Even': 284,
 'Langfuhr': 285,
 'Sovereign Lord': 286,
 'Oasis Dream': 287,
 'Choral Society': 288,
 'Romany Air': 289,
 'Immortality I': 290,
 'Foolish Pleasure': 291,
 'Herbager': 292,
 'Direct Flight': 293,
 'Never Say Die': 294,
 'Damascus': 295,
 'Gun Bow': 296,
 'Raffingora': 297,
 'African Sky I': 298,
 'Reform': 299,
 'Quartette': 300,
 'Molvedo': 301,
 'Relko': 302,
 'Jukebox': 303,
 'Hornbeam': 304,
 'Star Moss': 305,
 'Precipice Wood': 306,
 'Weyand': 307,
 'Chingacgook': 308,
 'Selkirk': 309,
 'Ela-Mana-Mou': 310,
 'Linacre': 311,
 'Forward Pass': 312,
 'Owen Anthony': 313,
 'Polic': 314,
 'Straight Deal': 315,
 'Kashmir II': 316,
 'Marduk': 317,
 'Amber Rama': 318,
 'Above Suspicion': 319,
 'Merrymount': 320,
 'Master Owen': 321,
 'Tower Walk': 322,
 'Fortina': 323,
 'Tudor Cliff': 324,
 'Star Gazer': 325,
 'Bandolier': 326,
 'Firestreak I': 327,
 'Bold Skipper': 328,
 "Mummy's Pet": 329,
 'Thatch': 330,
 'Nonoalco': 331,
 'Goldhills Pride': 332,
 'Delta Judge': 333,
 'Proverb': 334,
 'Three Wishes I': 335,
 'Sea Hawk II': 336,
 'Baragoi': 337,
 'Silent Screen': 338,
 'Tesco Boy': 339,
 'Politico': 340,
 'Phalorain': 341,
 'St Paddy': 342,
 'Giolla Mear': 343,
 'Arctic Prince': 344,
 'Pitskelly': 345,
 'Yellow God': 346,
 'Pivotal': 347,
 'Baldric II': 348,
 'Kings Company': 349,
 'Hitting Away': 350,
 'Sandford Lad': 351,
 'John Splendid': 352,
 'Master Stephen': 353,
 'Labus': 354,
 'Vieux Chateau': 355,
 'Bold Reasoning': 356,
 'Skymaster': 357,
 'Dancing Spree': 358,
 'My Swallow': 359,
 'Kris': 360,
 'Bounteous': 361,
 'Candy Cane': 362,
 'Saulingo': 363,
 'Rheingold': 364,
 'Miralgo': 365,
 'Brigadier Gerard': 366,
 'Gairloch': 367,
 'Miami Springs': 368,
 'Solinus': 369,
 'Beau Sabreur': 370,
 'Pappatea': 371,
 'Realm': 372,
 'Abernant': 373,
 'Hugh Lupus': 374,
 'Gallant Man': 375,
 'Saritamer': 376,
 'Armagnac Monarch': 377,
 'Ben Novus': 378,
 'Fighting Don': 379,
 'Black Tarquin': 380,
 'Silnet': 381,
 'Dumbarnie': 382,
 'Simbir': 383,
 'Beau Tudor': 384,
 'High Line': 385,
 'Lepanto': 386,
 'Coxcomb': 387,
 'Silent Spring': 388,
 'Royalty': 389,
 'Lyphard': 390,
 'Super Slip': 391,
 'Royal Record II': 392,
 'Florescence': 393,
 'Milesian': 394,
 'Stupendous': 395,
 'Tulyar': 396,
 'Hill Gail': 397,
 'Pals Passage': 398,
 "Rise N'Shine II": 399,
 'Mount Hagen': 400,
 'Solar Salute': 401,
 'Raise You Ten': 402,
 'Ancient Monro': 403,
 'The Go-Between': 404,
 'Windjammer': 405,
 'Welsh Saint': 406,
 'Song': 407,
 'French Beige': 408,
 'Ossian II': 409,
 'Young Emperor': 410,
 'Gold Form': 411,
 'Jock Scot': 412,
 'Double Jump': 413,
 'Hogarth': 414,
 'Honest Pleasure': 415,
 'Quadrangle': 416,
 'Shiny Tenth': 417,
 'Real Value': 418,
 'Shantung': 419,
 'Bahamian Bounty': 420,
 'Star Signal': 421,
 'Round Table': 422,
 'Articulate': 423,
 'Marcus Superbus': 424,
 'Carnival Dancer': 425,
 'Eudaemon': 426,
 'Bing II': 427,
 'Aberdeen': 428,
 'Rambo Dancer': 429,
 'Oats': 430,
 'Autumn GoldI': 431,
 'Whistling Wind I': 432,
 'Eastern Venture': 433,
 'Lord Of Verona': 434,
 'Fortino II': 435,
 'Barman II': 436,
 'Air Trooper I': 437,
 'Peleid': 438,
 'Martinmas': 439,
 'Forlorn River': 440,
 'Pinturischio': 441,
 'Prince Taj': 442,
 'Rugantino': 443,
 'Stage Door Johnny': 444,
 'Breakspear II': 445,
 'Jefferson I': 446,
 'Prince Barle': 447,
 'Olden Times': 448,
 'Arratos': 449,
 'Native Bazaar': 450,
 'Tiepolo II': 451,
 'Boreen': 452,
 'Leander': 453,
 'Huntercombe': 454,
 'Pearl Orient': 455,
 'Con Brio II': 456,
 'Hallez': 457,
 'Brother': 458,
 'Gigantic': 459,
 'New Brig': 460,
 'Prefairy': 461,
 'Jupiter Island': 462,
 'Whittingham': 463,
 'Good Apple': 464,
 'Swing Easy': 465,
 'Patch': 466,
 'Aragon': 467,
 'Apollo Eight': 468,
 'Bold Reason': 469,
 'Super Sam II': 470,
 'Tapalque': 471,
 'Dunoon Star': 472,
 'Superior Premium': 473,
 'Credo': 474,
 'Warpath': 475,
 'Nulli Secundus': 476,
 'Kirkland Lake': 477,
 'The Parson': 478,
 'Irish Love I': 479,
 'Tacitus': 480,
 'Never So Bold': 481,
 'Acropolis': 482,
 'Blue Rullah': 483,
 'Border Chief': 484,
 'Blue Chariot': 485,
 'Kabale': 486,
 'Swaps': 487,
 'He Loves Me': 488,
 'Vaguely Noble': 489,
 'Track Spare': 490,
 'Husyan': 491,
 'Party Mink': 492,
 'Vulgans Air': 493,
 'Supreme Sovereign': 494,
 'Crimson Satan': 495,
 'Citation': 496,
 'Stevward': 497,
 'Ridan': 498,
 'Indian Ruler': 499,
 'Taj Dewan': 500,
 'Royben': 501,
 'Sagaro': 502,
 'Time Tested': 503,
 'Domenico Fuoco': 504,
 'North Stoke': 505,
 'Royal Buck': 506,
 'Blue Streak': 507,
 'Nijinsky': 508,
 'Tarboosh': 509,
 'Maystreak': 510,
 'Desert Call': 511,
 'Gallant Romeo': 512,
 'Murrayfield': 513,
 'Arjon': 514,
 'Twilight Alley': 515,
 'Candaules': 516,
 'Dan Cupid': 517,
 'Aggressor': 518,
 'Halo': 519,
 "Bishop's Move": 520,
 'Tamerlane': 521,
 'Eborneezer': 522,
 'Escart III': 523,
 'Cheval': 524,
 'Hanover': 525,
 'Cagirama': 526,
 'Elopement': 527,
 'Affiliate': 528,
 'Breton': 529,
 'Prince Tenderfoot': 530,
 'Lochnager': 531,
 'Ragstone': 532,
 'Imperial Dancer': 533,
 'Right Tack': 534,
 'Three Dons': 535,
 'Light Year': 536,
 'Tin Whistle': 537,
 'Windy Sands': 538,
 'Lucky Guy': 539,
 'Sugared': 540,
 'Coronation Year': 541,
 'Levanter': 542,
 'Tribal Chief': 543,
 'Konigssee': 544,
 'Elegant Stephen': 545,
 'Successor I': 546,
 'Pinzan': 547,
 'Hul-A-Hul': 548,
 'Second Empire': 549,
 "L'Aiglon I": 550,
 'Ballymoss': 551,
 'No Robbery': 552,
 'Kibenka': 553,
 'Sheshoon': 554,
 'Auction Ring': 555,
 'Tumble Wind I': 556,
 'Hot Brandy': 557,
 'Langton Heath': 558,
 'Punchinello': 559,
 'Pindari': 560,
 'Sanctus': 561,
 'Owen Dudley': 562,
 'Tutankhamen': 563,
 'Bal Harbour': 564,
 'Espresso': 565,
 'Crocket': 566,
 'Alpenkonig': 567,
 'T V Lark': 568,
 'Romulus': 569,
 'Fine Blade': 570,
 'Match III': 571,
 'Shackleton': 572,
 'Winden': 573,
 'Cornish Prince': 574,
 'The Ditton': 575,
 'Mon Fetiche': 576,
 'Tyrant': 577,
 'Goldhill': 578,
 'Presenting': 579,
 'His Majesty': 580,
 'Young Christopher': 581,
 'Ward Drill': 582,
 'Trullah': 583,
 'High Rank': 584,
 'Ballyciptic': 585,
 'Rockavon': 586,
 'Sound Track': 587,
 'Nodouble': 588,
 'Joshua I': 589,
 'El Gallo': 590,
 'Orchardist': 591,
 'Quadriga': 592,
 'Headland I': 593,
 'Parthia': 594,
 'Manado': 595,
 'Manacle': 596,
 'Lightning': 597,
 'Honest Boy I': 598,
 'Grey Love': 599,
 'St Alphage': 600,
 'Grit': 601,
 'Wollow': 602,
 'Abwah': 603,
 "O'Grady": 604,
 'Fable Amusant': 605,
 'Diritto': 606,
 'Pyrenean I': 607,
 'Klondyke Bill': 608,
 'Saint Crespin III': 609,
 'In The Wings': 610,
 'Quiet Fling': 611,
 'Dear Gazelle': 612,
 'Rising Market': 613,
 'Vertex': 614,
 'Galivanter': 615,
 'Daybrook Lad': 616,
 'Tudor Treasure I': 617,
 'Royal Levee': 618,
 'Daring Display': 619,
 'Be My Guest': 620,
 'Country Retreat': 621,
 'Primera': 622,
 'Bassompierre': 623,
 'Mugatpura': 624,
 'Ardoon': 625,
 'Nureyev': 626,
 'Transworld': 627,
 'Decimator': 628,
 'Canonero': 629,
 'Live Spirit': 630,
 'Garland Knight': 631,
 'Tycoon II': 632,
 'Desert Prince': 633,
 'Tudor Wood': 634,
 'King Emperor': 635,
 'Comedy Star': 636,
 'Most Secret': 637,
 'No Mercy I': 638,
 'Lear Jet': 639,
 'Go Marching': 640,
 'Blushing Groom': 641,
 'Mansingh': 642,
 'Double-U-Jay': 643,
 'Philip Of Spain': 644,
 'Dragonara Palace': 645,
 'Tapioca II': 646,
 'Constable': 647,
 'Hittite Glory': 648,
 'Dr. Fager': 649,
 'Twist The Axe': 650,
 'Miracle Hill': 651,
 'Derrylin': 652,
 'King Pellinore': 653,
 'Skymaster I': 654,
 'Gunner B': 655,
 'Royal Gunner': 656,
 'Alcide': 657,
 'Carlingford Castle': 658,
 'Nashua': 659,
 'Balidar': 660,
 'On Your Mark': 661,
 'Octagonal': 662,
 'Pontifex': 663,
 "Val De L'Orne": 664,
 'Green Dancer': 665,
 'Hawaii': 666,
 'Jaazeiro': 667,
 'Mountain Call': 668,
 'Burglar': 669,
 'Takawalk': 670,
 'Tudenham': 671,
 'Filiberto': 672,
 "L'Enjoleur": 673,
 'Take A Reef': 674,
 'Roberto': 675,
 'Status Seeker': 676,
 'Sharp Edge': 677,
 'Persaldo': 678,
 'Riverman': 679,
 'Cock Of The North I': 680,
 'Appiani II': 681,
 'Vent Du Nord': 682,
 'Beveled': 683,
 'Melodic Air': 684,
 'Cyane': 685,
 'Fighting Ship': 686,
 'Northern Baby': 687,
 'Pampapaul': 688,
 'Relic': 689,
 'Homing': 690,
 'Sharpman': 691,
 'Mizoram': 692,
 'Faberge II': 693,
 'Canisbay': 694,
 'Tyrone': 695,
 'Dansili': 696,
 'Electrify': 697,
 'Red Alert I': 698,
 'Sir Ivor': 699,
 'Satingo': 700,
 'Palestine': 701,
 'Bucentaur': 702,
 'Three Legs': 703,
 'Continuation': 704,
 'Hot Spark': 705,
 'Gay Fandango': 706,
 'Pamroy': 707,
 'Stanford': 708,
 'Woodborough': 709,
 'Arctic Tern': 710,
 'Sahib': 711,
 'Ashmore': 712,
 'Vice Regal': 713,
 'Some Hand': 714,
 'Apalachee': 715,
 'Bellypha': 716,
 'Starch Reduced': 717,
 'Rage Royal': 718,
 'Vimy': 719,
 'Baldski': 720,
 'Deep Diver': 721,
 'Star Appeal': 722,
 'Laser Light': 723,
 'Graustark': 724,
 'Meadow Court': 725,
 'Guillaume Tell': 726,
 'Dicta Drake': 727,
 'Dominion': 728,
 'Roi Soleil I': 729,
 'Rusticaro': 730,
 'Quack': 731,
 'Scottish Rifle': 732,
 'Bay Express': 733,
 'Monsanto': 734,
 'Fleet Nasrullah': 735,
 'Psidium': 736,
 'Assagai': 737,
 "King's Bishop": 738,
 'Irish Castle': 739,
 'Nearly A Hand': 740,
 'Golden Dipper': 741,
 'Gift Card': 742,
 'Darling Boy': 743,
 'Colonist II': 744,
 'Troy': 745,
 'Mossborough': 746,
 'Zank': 747,
 'Foxhound': 748,
 'Right Royal V': 749,
 'Breeders Dream': 750,
 'Slippered': 751,
 'Intikhab': 752,
 'Ahonoora': 753,
 'Intentionally': 754,
 'Honey Hot': 755,
 'Salvo I': 756,
 'Rapace': 757,
 'Pitcairn': 758,
 'Caro': 759,
 'The Minstrel': 760,
 'Native Prince': 761,
 'Homeric': 762,
 'Flair Path': 763,
 'Super Concorde': 764,
 'Absalom': 765,
 "Marshua's Dancer": 766,
 'Malicious': 767,
 'Blast I': 768,
 'Chinatown': 769,
 'Jan Ekels': 770,
 'Canadian Gil': 771,
 'Philoctetes': 772,
 'Clever Fella': 773,
 'Nishapour': 774,
 'Grange Melody': 775,
 'Al Hattab': 776,
 'Spanish Gold I': 777,
 'Athens Wood': 778,
 'Rhythmic I': 779,
 'Eton Rambler': 780,
 'Kautokeino': 781,
 'Mr Prospector': 782,
 'Ercolano': 783,
 'Snow Knight': 784,
 'Random Shot': 785,
 'Sayfar': 786,
 'Hello Gorgeous': 787,
 'Runnett': 788,
 'Legal Eagle': 789,
 'Music Boy': 790,
 'Della Strada': 791,
 'In The Purple': 792,
 "Cawston's Clown": 793,
 'Chieftain II': 794,
 'Don': 795,
 'Verbatim': 796,
 'Su Ka Wa': 797,
 'Determine': 798,
 'Indian Hemp': 799,
 'Tenterhooks': 800,
 'Martial': 801,
 'Great Heron': 802,
 'Petong': 803,
 'Son Pardo': 804,
 'Matador': 805,
 'Rock Of Gibraltar': 806,
 'Kenmare': 807,
 'Mister Gus': 808,
 'Reviewer': 809,
 'Tiepoletto': 810,
 'Sir Tor': 811,
 'Tap On Wood': 812,
 'What Luck': 813,
 'Young Generation': 814,
 'Vice Regent': 815,
 'Space King': 816,
 'Fantastic Light': 817,
 'Sexton Blake': 818,
 'Prince Ippi': 819,
 'Seaepic': 820,
 'Formidable I': 821,
 'Daring March': 822,
 'Valid Appeal': 823,
 'Antiquarian': 824,
 'Pablond': 825,
 'Babu': 826,
 'Sir Herbert': 827,
 'Zimone': 828,
 'Forli': 829,
 'Pretense': 830,
 'Persian Bold': 831,
 'Chieftain': 832,
 'Timimi': 833,
 'Monet': 834,
 'Celtic Cone': 835,
 'Warning': 836,
 'Try My Best': 837,
 'Targowice': 838,
 'Haveroid': 839,
 'Kronzeuge': 840,
 'Iron Duke': 841,
 'Touch Paper': 842,
 'Pieces Of Eight': 843,
 'Hail To Reason': 844,
 'Yankee Gold': 845,
 'Fortissimo': 846,
 'Versailles II': 847,
 'Minshaanshu Amad': 848,
 'Silver Cloud I': 849,
 'Full Of Hope': 850,
 'Hill Rise': 851,
 'Hill Clown': 852,
 'Broxted': 853,
 'Raja Baba': 854,
 'Sanctus II': 855,
 'Explodent': 856,
 'Key To The Mint': 857,
 'Mourne': 858,
 'Meadow Mint': 859,
 'Dairialatan': 860,
 'Faraway Son': 861,
 'Empery': 862,
 'St Chad': 863,
 'Sweet Revenge': 864,
 'Stop The Music': 865,
 'Raise A Native': 866,
 'Cavo Doro': 867,
 'Fifth Marine': 868,
 'Raise A Cup': 869,
 'Import': 870,
 'Roi Dagobert': 871,
 'Lorenzaccio': 872,
 'To Market': 873,
 "Dancer's Image": 874,
 "Chief's Crown": 875,
 'Inverness Drive': 876,
 'Nebbiolo': 877,
 'Without Fear I': 878,
 'General Assembly': 879,
 'Game Rights': 880,
 'Floriana I': 881,
 'Workboy I': 882,
 'Tisab': 883,
 'Valdez': 884,
 'Riboboy': 885,
 'Giacometti': 886,
 'Silver Shark': 887,
 'Seminole II': 888,
 'Mossberry': 889,
 'Perpendicular': 890,
 'Gratitude': 891,
 'Frontal': 892,
 'Royal And Regal': 893,
 'Knightly Dawn': 894,
 'Pharly': 895,
 'Grey Dawn II': 896,
 'Panaslipper': 897,
 'Right Boy': 898,
 'Singh': 899,
 'Tom Fool': 900,
 'Youth': 901,
 'Lurullah': 902,
 'Stradavinsky': 903,
 'Monseigneur': 904,
 'Stratus': 905,
 'El Relicario': 906,
 'Zafonic': 907,
 'Bahadur Shah': 908,
 'Condorcet': 909,
 'Camden Town': 910,
 'Blue Cashmere': 911,
 'Zeus Boy': 912,
 'Hard Ridden': 913,
 'Native Dancer': 914,
 'Scotland': 915,
 'King Of The Castle': 916,
 'Classic Cliche': 917,
 'Ocarina': 918,
 'Kings Troop': 919,
 'Raga Navarro': 920,
 'Run Dusty Run': 921,
 'Free State I': 922,
 'Allangrange': 923,
 'Plenty Old': 924,
 'Stephen George': 925,
 'Relkino': 926,
 'Far North': 927,
 'Bold Bidder': 928,
 'Dance In Time': 929,
 'Dankaro': 930,
 'Deputy Minister': 931,
 'Reneged': 932,
 'Barachois': 933,
 'Bruni': 934,
 'Sigebert': 935,
 'Jester': 936,
 'Great Dane': 937,
 'Dr Fong': 938,
 'Illustrious': 939,
 'Karabas': 940,
 'The Axe II': 941,
 'Hatchet Man': 942,
 "Hyperion's Curls": 943,
 'Dilum': 944,
 'Dewan': 945,
 'Brave Shot': 946,
 'Decoy Boy': 947,
 'Record Token': 948,
 'Diplomat Way': 949,
 'Beaugency': 950,
 'Arctic Storm': 951,
 'Rainbow Quest': 952,
 'Le Prince': 953,
 'Djakao': 954,
 'English Prince': 955,
 'Tom Rolfe': 956,
 'Reliance': 957,
 'Master Derby': 958,
 'Affirmed': 959,
 'Bonne Noel': 960,
 'Ile De Bourbon': 961,
 'Pronto': 962,
 'Northern Jove': 963,
 'Gay Mecene': 964,
 'Faristan': 965,
 'What A Pleasure': 966,
 'Music Maestro': 967,
 'Sterling Bay': 968,
 'Secretariat': 969,
 'Crozier': 970,
 'Prominer': 971,
 'Young Man I': 972,
 'Oxford Flight': 973,
 'Delaware Chief': 974,
 'Dom Racine': 975,
 'Divine Gift': 976,
 'CracksmanI': 977,
 'Traffic Judge': 978,
 'Dublin Taxi': 979,
 'Hook Money': 980,
 'Double Form': 981,
 'Capistrano I': 982,
 'Palm Track': 983,
 'Moulton': 984,
 'Fleece I': 985,
 'Lypheor': 986,
 'Chestergate': 987,
 'Posse I': 988,
 'Kaiseradler': 989,
 'Hautain': 990,
 'Riva Ridge': 991,
 'Outing Class': 992,
 'Cutlass': 993,
 'Mariacci': 994,
 'Card King': 995,
 'Mind Games': 996,
 'Seattle Slew': 997,
 'Tierceron': 998,
 'Gun Shot': 999,
 'Bon Mot III': 1000,
 ...}

In [24]:
all_horses_new['gfather'] = all_horses_new['gfather'].map(gfathers_mapping)
all_horses_new.head()

,rid,horseName,age,saddle,decimalPrice,trainerName,jockeyName,position,positionL,dist,...,TR,OR,father,mother,gfather,runners,margin,weight,res_win,res_place
0,282203,1,11.0,0.0,0.250000,1,1,3,5,8.0,...,77.0,111.0,1,1,1,3,1.083333,68,0.0,0.0
1,298761,2,6.0,0.0,0.181818,2,2,3,15,16.5,...,84.0,131.0,2,2,2,5,1.134199,68,0.0,0.0
2,298761,3,6.0,0.0,0.266667,3,3,4,5,21.5,...,76.0,128.0,3,3,3,5,1.134199,66,0.0,0.0
3,298761,4,7.0,0.0,0.066667,4,4,5,5,26.5,...,60.0,121.0,4,4,4,5,1.134199,61,0.0,0.0
4,301118,5,7.0,0.0,0.166667,5,5,3,2,5.0,...,88.0,102.0,5,5,5,13,1.382585,69,0.0,1.0

In [25]:
all_horses['dist'].unique()

array(['8.0', '16.5', '21.5', '26.5', '5.0', '9.0', '9.5', '12.0', '17.0',
       '17.25', '1.5', '21.75', '28.75', '30.75', '32.75', '33.0', '40.0',
       '41.5', '20.0', '23.0', '24.5', '4.5', '12.5', '15.0', '19.0',
       '7.0', '14.0', '18.0', '22.0', '30.0', '32.5', '16.0', '21.0',
       '22.5', '24.75', '37.0', '24.0', '26.0', '26.25', '3.5', '13.5',
       '25.5', '37.5', '39.5', '31.5', '19.5', '20', '15.25', '45.25',
       '57.25', '7.5', '10.5', '17.5', '4.0', '1.0', '2.0', '8.25',
       '12.25', '42.25', '42.75', '43.75', '44.25', '44.75', '10.0',
       '13.0', '28.0', '38.5', '2.5', '8.5', '18.5', '4.25', '7.25',
       '14.25', '20.25', '10.75', '34.75', '37.25', '0.5', '6.5', '27.0',
       '27.25', '28.25', '11.0', '31.0', '43.0', '10.25', '13.25', '25.0',
       '31.25', '33.75', '32.0', '29.5', '30.25', '35.25', '35.75',
       '36.5', '29.0', '34.5', '44.0', '50.0', '53.0', '61.0', '63.5',
       '64.5', '65.5', '30.5', '47.5', '49.5', '23.25', '34.25', '5.5',
       '11.5', '3.25', '5.75', '18.25', '24.25', '25.75', '60.5', '65.0',
       '45.0', '8.75', '9.25', '20.5', '14.5', '36.75', '34.0', '6.0',
       '33.5', '20.75', '40.75', '15.5', '6.25', '35.5', '17.75', '19.75',
       '1.75', '11.75', '12.75', '4.75', '15.75', '42.0', '27.5', '48.25',
       '60.25', '32.25', '38.0', '16.25', '35.0', '55.0', '70.0', '3.0',
       '14.75', '33.25', '22.25', '54.0', '58.0', '2.25', '50.5', '3.75',
       '5.25', '57.5', '60.0', '6.75', '25.25', '29.75', '38.25', '56.25',
       '42.5', '43.25', '62.25', '63.25', '57.0', '13.75', '44.5', '52.5',
       '62.5', '36.0', '2.75', '19.25', '39.25', '49.0', '59.0', '59.25',
       '47.0', '28.5', '40.25', '29', '30', '17', '27', '44', '18', '21',
       '41', '45', 'nk', '2', '5', '45.5', '27.75', '39.75', '41.75',
       '46.0', '41.25', '61.25', '40.5', '1.25', '36.25', '0.75', '41.0',
       '7.75', '59.5', '11.25', '16.75', '23.5', '26.75', '29.25', '69.5',
       '31.75', '46.75', '37.75', '48.0', '21.25', '23.75', '62.0',
       '51.0', '55.25', '38.75', '50.75', '52.25', '54.25', '43.5', '4',
       '16', '18.75', '22.75', '9.75', '46.5', '47.25', '49.25', '64.75',
       '51.5', '3', '6', '11', '15', '24', '32', '48.75', '45.75',
       '49.75', '12', '19', '22', '25', '48.5', '1', '7', '9', '.75',
       '13', '23', '8', '33', '28', '38', '.5', '52.0', '47.75', '55.75',
       '50.25', '26', '37', 'hd', '68.5', '40', '47', '39.0', '56.0',
       '61.5', '39', '34', '14', '35', '10', '60', '36', '46', '52.75',
       '67.75', '48', '54', '55.5', '46.25', '53.5', '59.75', '31', '42',
       '57', '51.25', '51.75', '62.75', '69.25', '63.0', '56.5', '69.75',
       '68.0', '57.75', '64.0', '50', '49', '67.5', '69.0', '43', '66.0',
       '71.75', '78.75', '53.25', '55', '58.5', '70.5', '71.5', '72.0',
       '54.5', '58.75', '81.5', '83.0', '67.0', '54.75', '73.5', '76.25',
       '51', '66.5', '67.25', '79.5', '77.75', '52', '53.75', '71',
       '61.75', '58.25', '64.25', '76.0', '56.75', '68.75', '82.0',
       '70.25', '53', '85.0', '65.75', '64', '77.5', '65', '70.75',
       '71.0', '60.75', '59', '72.25', '73.75', '68.25', '63.75', '66.75',
       '73.0', '56', '66.25', '74.0', '75.5', '66', '96.0', '73.25',
       '88.25', '75.0', '73', '80.75', '63', '58', 'sht-hd', '62', '77',
       '85', '74', '69', '74.5', '80.5', '76.5', '86.75', '84.0', '92.0',
       '79.0', '90.0', '65.25', '61', '81', '78.25', '78.5', '75.25',
       '86.0', '82.5', '84', '68', '86', '93', '71.25', '101.25', '110.5',
       '81.25', '80.0', '82.25', '76', '84.75', '76.75', '74.25', '77.25',
       '67', '81.75', '74.75', '99.5', '75.75', '100.75', '113.75',
       '119.75', '125.75', '78.0', '87.75', '98.5', '77.0', '79.25', '75',
       '94.0', '95.75', '72.75', '83.75', '70', '99.25', '83.5', '79.75',
       '105.0', '80.25', '78', '83', '101', '96.75', '79', '89.0', '80',
       '87.0', '104.0', '88.75', '97', '92.25', '84.5', '72.5', '84.25',
       '87.25', '100.25', '85.5', '85.25', '91.25', '91.0', '86.5',
       '93.0', '94.5', '97.0', '90.75', '106.0', '88.0', '106.5', '81.0',
       '82.75', '94.75', '94.25', '82', '89.5', '108.0', '109.0', '87.5',
       '103.75', '102.25', '93.75', '93.5', '102.5', '107.0', '107.25',
       '132.25', '91.75', '104.75', '117.75', '97.5', '83.25', '105.75',
       '85.75', '95.25', '99.75', '120.25', '88.5', '95.0', '90.5',
       '93.25', '90.25', '96.25', '100.5', '89.75', '132.75', '92',
       '96.5', '123.5', '112.0', '126.25', '97.75', '92.5', '112.75',
       '92.75', '97.25', '111.25', '86.25', '99.0', '102.0', '113.0',
       '118.0', '133.0', '91.5', '72', '90', '89.25', '91', '107.75',
       '120.75', '100.0', '114.0', '87', '95', '99', '109', '101.0',
       '95.5', '104.5', '121.5', '142.5', '98.0', '121.0', '109.75',
       '98.25', '98.75', '113', '108.5', '120.0', '117.0', '138.5',
       '115.75', '105.5', '110.75', '0.25', '114.5', '122.5', '106.75',
       '89', '102', '105.25', '103.5', '109.25', '104.25', '127.0',
       '109.5', '103', '100', '88', '115.0', '102.75', '103.0', '.25',
       '103.25', 'snk', '119', '114.75', '107.5', '116.25', '112',
       '116.75', '115.5', '116.0', '134.75', '125.0', '134.5', '112.25',
       '96', '123.25', '140.0', '108.75', '113.25', '117.25', '94', '114',
       '101.5', '115.25', '124.25', '128.75', '111.0', '142.0', '106.25',
       'nse', '121', '123.75', '138.75', '118.25', '116.5', '111.75',
       '111.5', '98', '131.25', '101.75', '129.25', '104', '122.25',
       '130.75', '134', '132.5', '127.75', '123.0', '139.0', '121.25',
       '106', '122', '164', '120.5', '119.5', '118.75', '135.0', '119.25',
       '108.25', '114.25', '118.5', '126.75', '129.0', '108', '113.5',
       '135.5', '111', '105', '122.75', '148.0', '149.0', '110.0',
       '112.5', '126.5', '110.25', '119.0', '110', '131.5', '125.5',
       '117.5'], dtype=object)

In [26]:
# List of values to remove
values_to_remove = ['nk', 'sht-hd', 'hd']

# Filter the DataFrame to exclude rows with these values in 'column1'
all_horses_new = all_horses_new[~all_horses_new['dist'].isin(values_to_remove)]
all_horses_new.head()

,rid,horseName,age,saddle,decimalPrice,trainerName,jockeyName,position,positionL,dist,...,TR,OR,father,mother,gfather,runners,margin,weight,res_win,res_place
0,282203,1,11.0,0.0,0.250000,1,1,3,5,8.0,...,77.0,111.0,1,1,1,3,1.083333,68,0.0,0.0
1,298761,2,6.0,0.0,0.181818,2,2,3,15,16.5,...,84.0,131.0,2,2,2,5,1.134199,68,0.0,0.0
2,298761,3,6.0,0.0,0.266667,3,3,4,5,21.5,...,76.0,128.0,3,3,3,5,1.134199,66,0.0,0.0
3,298761,4,7.0,0.0,0.066667,4,4,5,5,26.5,...,60.0,121.0,4,4,4,5,1.134199,61,0.0,0.0
4,301118,5,7.0,0.0,0.166667,5,5,3,2,5.0,...,88.0,102.0,5,5,5,13,1.382585,69,0.0,1.0

In [27]:
all_horses_new['positionL'].unique()

array(['5', '15', '2', 'shd', '4', '.5', '2.5', '20', 'hd', '7', '1.5',
       '8', '0.5', '1', '10', '12', '6', '30', 'nk', '3', '.75', '25',
       '0.75', '3.5', 'dist', '11', 'dht', '1.75', '13', '3.0', '2.0',
       '30.0', '7.0', '4.0', '1.25', '9', '2.25', '14', '3.25', '17',
       '1.0', '8.0', '6.0', '9.0', '10.0', '16', '21', '18', '24', '22',
       '28', '26', '19', '29', '27', '23', '20.0', '14.0', '13.0', '5.0',
       '18.0', '10.5', '2.75', '4.5', '5.5', '3.75', '4.25', '7.25',
       '5.75', '4.75', 'nse', '8.75', '9.5', '6.75', '8.25', '9.75',
       '.25', '6.25', '5.25', '7.75', '6.5', '7.5', '8.5', '34', '52',
       '36', '47', '33', '32', '35', '38', '41', '46', '63', '42', '44',
       '54', '37', '57', '69', '43', '40', '31', '65', '58', '71', '59',
       '56', '49', '39', '55', '51', '48', '60', '45', '53', '62', '50',
       '70', '64', '66', '98', '9.25', '0.25', '74', '97', '67', '61',
       '72', '68', '90', '78', '76', '79', '94', '77', '85', '80', '82',
       '84', '17.0', '16.0', '22.0', '11.0', '88', '73', '87', '75', '86',
       '95', '15.5', '13.5', '14.5', '16.5', '10.25', '12.5', '11.5',
       '10.75', '18.25', '83', '91', '99', '93', '96', '11.75', '81',
       '15.25', '19.5', '11.25', '92', '89'], dtype=object)

In [28]:
values_to_remove = ['shd','nk','hd','dist','dht','nse']

# Filter the DataFrame to exclude rows with these values in 'column1'
all_horses_new = all_horses_new[~all_horses_new['positionL'].isin(values_to_remove)]
all_horses_new.head()

,rid,horseName,age,saddle,decimalPrice,trainerName,jockeyName,position,positionL,dist,...,TR,OR,father,mother,gfather,runners,margin,weight,res_win,res_place
0,282203,1,11.0,0.0,0.250000,1,1,3,5,8.0,...,77.0,111.0,1,1,1,3,1.083333,68,0.0,0.0
1,298761,2,6.0,0.0,0.181818,2,2,3,15,16.5,...,84.0,131.0,2,2,2,5,1.134199,68,0.0,0.0
2,298761,3,6.0,0.0,0.266667,3,3,4,5,21.5,...,76.0,128.0,3,3,3,5,1.134199,66,0.0,0.0
3,298761,4,7.0,0.0,0.066667,4,4,5,5,26.5,...,60.0,121.0,4,4,4,5,1.134199,61,0.0,0.0
4,301118,5,7.0,0.0,0.166667,5,5,3,2,5.0,...,88.0,102.0,5,5,5,13,1.382585,69,0.0,1.0

## Race data

In [29]:
#Define the directory containing the file
data_dir = r'D:\Data Science\Projects\My Projects\Project 12\Horse'

#Get list of all files in the directory
all_files = os.listdir(data_dir)

#Separate the list into horse file and race files
race_file = [f for f in all_files if f.startswith('races') and f.endswith('.csv')]

#Initialize empty lists to store DataFrames
races_list = []

#Read and Concatenate race files
for file in race_file:
    df_race = pd.read_csv(os.path.join(data_dir,file))
    races_list.append(df_race)

all_races = pd.concat(races_list,ignore_index=True)

In [30]:
all_races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396572 entries, 0 to 396571
Data columns (total 19 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   rid          396572 non-null  int64
 1   course       396572 non-null  object
 2   time         396572 non-null  object
 3   date         396572 non-null  object
 4   title        396571 non-null  object
 5   rclass       243580 non-null  object
 6   band         165263 non-null  object
 7   ages         383518 non-null  object
 8   distance     396572 non-null  object
 9   condition    396524 non-null  object
 10  hurdles      121619 non-null  object
 11  prizes       396572 non-null  object
 12  winningTime  396572 non-null  float64
 13  prize        376864 non-null  float64
 14  metric       396572 non-null  float64
 15  countryCode  396572 non-null  object
 16  ncond        396572 non-null  object
 17  class        396572 non-null  int64
 18  currency     9281 non-null    object
dtypes: float64(3), int64(2), object(14)
memory usage: 57.5+ MB

In [31]:
all_races.isnull().sum()

rid                 0
course              0
time                0
date                0
title               1
rclass         152992
band           231309
ages            13054
distance            0
condition          48
hurdles        274953
prizes              0
winningTime         0
prize           19708
metric              0
countryCode         0
ncond               0
class               0
currency       387291
dtype: int64

In [32]:
all_races = all_races.drop(['currency','hurdles','band','prizes'],axis=1)

In [33]:
all_races = all_races.dropna()
all_races.reset_index(drop=True, inplace=True)

In [34]:
all_races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243523 entries, 0 to 243522
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   rid          243523 non-null  int64
 1   course       243523 non-null  object
 2   time         243523 non-null  object
 3   date         243523 non-null  object
 4   title        243523 non-null  object
 5   rclass       243523 non-null  object
 6   ages         243523 non-null  object
 7   distance     243523 non-null  object
 8   condition    243523 non-null  object
 9   winningTime  243523 non-null  float64
 10  prize        243523 non-null  float64
 11  metric       243523 non-null  float64
 12  countryCode  243523 non-null  object
 13  ncond        243523 non-null  object
 14  class        243523 non-null  int64
dtypes: float64(3), int64(2), object(10)
memory usage: 27.9+ MB

In [35]:
all_races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243523 entries, 0 to 243522
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   rid          243523 non-null  int64
 1   course       243523 non-null  object
 2   time         243523 non-null  object
 3   date         243523 non-null  object
 4   title        243523 non-null  object
 5   rclass       243523 non-null  object
 6   ages         243523 non-null  object
 7   distance     243523 non-null  object
 8   condition    243523 non-null  object
 9   winningTime  243523 non-null  float64
 10  prize        243523 non-null  float64
 11  metric       243523 non-null  float64
 12  countryCode  243523 non-null  object
 13  ncond        243523 non-null  object
 14  class        243523 non-null  int64
dtypes: float64(3), int64(2), object(10)
memory usage: 27.9+ MB

In [36]:
all_races['distance'].unique()

array(['1m4f', '7f', '1m6f', '1m', '6f', '1m2f', '1m5f', '5f', '1m3f',
       '2m2f', '1m6½f', '2m', '1m7f', '1m4½f', '1m1f', '7½f', '1m½f',
       '1m7½f', '2m1f', '5½f', '1m3½f', '2m5½f', '2m½f', '1m2½f', '2m2½f',
       '1m5½f', '2m1½f', '2m4f', '2m6f', '1m1½f', '2m3f', '6½f', '2m7½f',
       '2m5f', '3m½f', '3m2f', '2m4½f', '3m5f', '2m7f', '3m', '3m1½f',
       '3m1f', '2m3½f', '3m2½f', '3m6f', '2m6½f', '3m4f', '4m½f', '3m4½f',
       '3m3½f', '4m2½f', '3m3f', '4m', '4m2f', '4m1f', '3m7f', '4m1½f',
       '4m4f', '3m5½f', '3m6½f', '3m7½f'], dtype=object)

In [37]:
# Extracting 'm', 'f', and '½f' values
all_races['m'] = all_races['distance'].str.extract(r'(\d+)m').astype(float)  # Extract digits before 'm'
all_races['f'] = all_races['distance'].str.extract(r'(\d+)f').astype(float)  # Extract digits before 'f'
all_races['half_f'] = all_races['distance'].str.extract(r'(\d+)\½').astype(float)  # Extract digits before '½f'

# Replace NaN values in 'f' and 'half_f' with 0 for easy summation
all_races['f'] = all_races['f'].fillna(0)
all_races['half_f'] = all_races['half_f'].fillna(0)

# Sum up 'f' and 'half_f' to get total feet
all_races['f'] += all_races['half_f'] * 0.5

# Initialize the 'distanceFeet' column with dtype float
all_races['distanceFeet'] = 0.0

# Handling NaN cases and calculating 'distanceFeet'
for index, row in all_races.iterrows():
    if pd.notna(row['m']) and row['m'] != 0:  # If 'm' is present and not zero
        all_races.loc[index, 'distanceFeet'] = row['m'] * 3.28 + row['f']
    else:  # If 'm' is NaN or zero
        all_races.loc[index, 'distanceFeet'] = row['f']

# Drop the 'half_f', 'm', and 'f' columns as they are no longer needed
all_races.drop(columns=['half_f', 'm', 'f','distance'], inplace=True)

In [38]:
all_races.head()

,rid,course,time,date,title,rclass,ages,condition,winningTime,prize,metric,countryCode,ncond,class,distanceFeet
0,305728,Epsom,03:45,90/06/06,Ever Ready Derby (Group 1) 3YO Colts And Fillies,Class 1,3yo,Good,157.26,580000.0,2413.0,GB,1,1,7.28
1,292268,Southwell (AW),04:10,91/03/01,'david Scoble' Maiden Stakes Class F,Class 6,4yo+,Standard,89.30,3522.0,1407.0,GB,0,6,7.00
2,339352,Southwell (AW),02:10,91/03/01,'brian Hurd' Handicap Class F,Class 6,4yo+,Standard,186.70,3553.0,2815.0,GB,0,6,9.28
3,346819,Southwell (AW),03:10,91/03/01,'amelia Barry' Maiden Stakes Class F,Class 6,3yo+,Standard,101.20,3926.0,1609.0,GB,0,6,3.28
4,391752,Southwell (AW),04:40,91/03/01,'peter Davies' Handicap Class F,Class 6,4yo+,Standard,103.50,3584.0,1609.0,GB,0,6,3.28

In [39]:
all_races['time'].value_counts()

time
02:30    6736
03:00    6182
03:30    6174
02:00    5941
04:00    5771
         ...
11:05       1
04:37       1
02:02       1
04:28       1
12:27       1
Name: count, Length: 286, dtype: int64

In [40]:
all_races[['hours','minutes']] = all_races['time'].str.split(':',expand=True)

all_races['hours'] = all_races['hours'].astype(int)
all_races['minutes'] = all_races['minutes'].astype(int)

print(all_races['hours'],all_races['minutes'])

0         3
1         4
2         2
3         3
4         4
         ..
243518    6
243519    6
243520    7
243521    7
243522    8
Name: hours, Length: 243523, dtype: int32 0         45
1         10
2         10
3         10
4         40
          ..
243518     0
243519    30
243520     0
243521    30
243522     0
Name: minutes, Length: 243523, dtype: int32

In [41]:
all_races.head()

,rid,course,time,date,title,rclass,ages,condition,winningTime,prize,metric,countryCode,ncond,class,distanceFeet,hours,minutes
0,305728,Epsom,03:45,90/06/06,Ever Ready Derby (Group 1) 3YO Colts And Fillies,Class 1,3yo,Good,157.26,580000.0,2413.0,GB,1,1,7.28,3,45
1,292268,Southwell (AW),04:10,91/03/01,'david Scoble' Maiden Stakes Class F,Class 6,4yo+,Standard,89.30,3522.0,1407.0,GB,0,6,7.00,4,10
2,339352,Southwell (AW),02:10,91/03/01,'brian Hurd' Handicap Class F,Class 6,4yo+,Standard,186.70,3553.0,2815.0,GB,0,6,9.28,2,10
3,346819,Southwell (AW),03:10,91/03/01,'amelia Barry' Maiden Stakes Class F,Class 6,3yo+,Standard,101.20,3926.0,1609.0,GB,0,6,3.28,3,10
4,391752,Southwell (AW),04:40,91/03/01,'peter Davies' Handicap Class F,Class 6,4yo+,Standard,103.50,3584.0,1609.0,GB,0,6,3.28,4,40

In [42]:
all_races['date'].unique()

array(['90/06/06', '91/03/01', '91/03/02', ..., '20/12/03 00:00',
       '20/12/04 00:00', '20/12/05 00:00'], dtype=object)

In [43]:
all_races['date'] = all_races['date'].str.split(' ').str[0]
all_races[['raceYear','raceMonth','raceDate']] = all_races['date'].str.split('/',expand = True)

all_races['raceYear'] = all_races['raceYear'].astype(int)
all_races['raceMonth'] = all_races['raceMonth'].astype(int)
all_races['raceDate'] = all_races['raceDate'].astype(int)

In [44]:
all_races.head()

,rid,course,time,date,title,rclass,ages,condition,winningTime,prize,metric,countryCode,ncond,class,distanceFeet,hours,minutes,raceYear,raceMonth,raceDate
0,305728,Epsom,03:45,90/06/06,Ever Ready Derby (Group 1) 3YO Colts And Fillies,Class 1,3yo,Good,157.26,580000.0,2413.0,GB,1,1,7.28,3,45,90,6,6
1,292268,Southwell (AW),04:10,91/03/01,'david Scoble' Maiden Stakes Class F,Class 6,4yo+,Standard,89.30,3522.0,1407.0,GB,0,6,7.00,4,10,91,3,1
2,339352,Southwell (AW),02:10,91/03/01,'brian Hurd' Handicap Class F,Class 6,4yo+,Standard,186.70,3553.0,2815.0,GB,0,6,9.28,2,10,91,3,1
3,346819,Southwell (AW),03:10,91/03/01,'amelia Barry' Maiden Stakes Class F,Class 6,3yo+,Standard,101.20,3926.0,1609.0,GB,0,6,3.28,3,10,91,3,1
4,391752,Southwell (AW),04:40,91/03/01,'peter Davies' Handicap Class F,Class 6,4yo+,Standard,103.50,3584.0,1609.0,GB,0,6,3.28,4,40,91,3,1

In [45]:
all_races = all_races.drop(['time','date'],axis=1)
all_races.head()

,rid,course,title,rclass,ages,condition,winningTime,prize,metric,countryCode,ncond,class,distanceFeet,hours,minutes,raceYear,raceMonth,raceDate
0,305728,Epsom,Ever Ready Derby (Group 1) 3YO Colts And Fillies,Class 1,3yo,Good,157.26,580000.0,2413.0,GB,1,1,7.28,3,45,90,6,6
1,292268,Southwell (AW),'david Scoble' Maiden Stakes Class F,Class 6,4yo+,Standard,89.30,3522.0,1407.0,GB,0,6,7.00,4,10,91,3,1
2,339352,Southwell (AW),'brian Hurd' Handicap Class F,Class 6,4yo+,Standard,186.70,3553.0,2815.0,GB,0,6,9.28,2,10,91,3,1
3,346819,Southwell (AW),'amelia Barry' Maiden Stakes Class F,Class 6,3yo+,Standard,101.20,3926.0,1609.0,GB,0,6,3.28,3,10,91,3,1
4,391752,Southwell (AW),'peter Davies' Handicap Class F,Class 6,4yo+,Standard,103.50,3584.0,1609.0,GB,0,6,3.28,4,40,91,3,1

In [46]:
all_races_new = all_races.copy()

In [47]:
all_races_new['course'].unique()

array(['Epsom', 'Southwell (AW)', 'Lingfield (AW)', 'Doncaster',
       'Folkestone', 'Leicester', 'Catterick', 'Brighton', 'Carlisle',
       'Kempton', 'Nottingham', 'Warwick', 'Newcastle', 'Hamilton',
       'Pontefract', 'Ripon', 'Beverley', 'Musselburgh', 'Newmarket',
       'Ayr', 'Newbury', 'Thirsk', 'Sandown', 'Wolverhampton', 'Windsor',
       'Bath', 'Ascot', 'Salisbury', 'Redcar', 'Chester', 'Lingfield',
       'York', 'Goodwood', 'Haydock', 'Chepstow', 'Yarmouth',
       'Newmarket (July)', 'Southwell', 'Uttoxeter', 'Wolverhampton (AW)',
       'Exeter', 'Towcester', 'Plumpton', 'Wincanton', 'Cheltenham',
       'Fontwell', 'Ludlow', 'Sedgefield', 'Kelso', 'Wetherby',
       'Market Rasen', 'Huntingdon', 'Hereford', 'Fakenham', 'Taunton',
       'Newton Abbot', 'Hexham', 'Stratford', 'Bangor-on-Dee',
       'Worcester', 'Aintree', 'Perth', 'Cartmel', 'Kempton (AW)',
       'Curragh (IRE)', 'Leopardstown (IRE)', 'Chelmsford (AW)',
       'Ffos Las', 'Newcastle (AW)'], dtype=object)

In [48]:
courses = all_races_new['course'].unique()
courses_mapping = {course: idx + 1 for idx, course in enumerate(courses)}
courses_mapping

{'Epsom': 1,
 'Southwell (AW)': 2,
 'Lingfield (AW)': 3,
 'Doncaster': 4,
 'Folkestone': 5,
 'Leicester': 6,
 'Catterick': 7,
 'Brighton': 8,
 'Carlisle': 9,
 'Kempton': 10,
 'Nottingham': 11,
 'Warwick': 12,
 'Newcastle': 13,
 'Hamilton': 14,
 'Pontefract': 15,
 'Ripon': 16,
 'Beverley': 17,
 'Musselburgh': 18,
 'Newmarket': 19,
 'Ayr': 20,
 'Newbury': 21,
 'Thirsk': 22,
 'Sandown': 23,
 'Wolverhampton': 24,
 'Windsor': 25,
 'Bath': 26,
 'Ascot': 27,
 'Salisbury': 28,
 'Redcar': 29,
 'Chester': 30,
 'Lingfield': 31,
 'York': 32,
 'Goodwood': 33,
 'Haydock': 34,
 'Chepstow': 35,
 'Yarmouth': 36,
 'Newmarket (July)': 37,
 'Southwell': 38,
 'Uttoxeter': 39,
 'Wolverhampton (AW)': 40,
 'Exeter': 41,
 'Towcester': 42,
 'Plumpton': 43,
 'Wincanton': 44,
 'Cheltenham': 45,
 'Fontwell': 46,
 'Ludlow': 47,
 'Sedgefield': 48,
 'Kelso': 49,
 'Wetherby': 50,
 'Market Rasen': 51,
 'Huntingdon': 52,
 'Hereford': 53,
 'Fakenham': 54,
 'Taunton': 55,
 'Newton Abbot': 56,
 'Hexham': 57,
 'Stratford': 58,
 'Bangor-on-Dee': 59,
 'Worcester': 60,
 'Aintree': 61,
 'Perth': 62,
 'Cartmel': 63,
 'Kempton (AW)': 64,
 'Curragh (IRE)': 65,
 'Leopardstown (IRE)': 66,
 'Chelmsford (AW)': 67,
 'Ffos Las': 68,
 'Newcastle (AW)': 69}

In [49]:
all_races_new['course'] = all_races_new['course'].map(courses_mapping)
all_races_new.head()

,rid,course,title,rclass,ages,condition,winningTime,prize,metric,countryCode,ncond,class,distanceFeet,hours,minutes,raceYear,raceMonth,raceDate
0,305728,1,Ever Ready Derby (Group 1) 3YO Colts And Fillies,Class 1,3yo,Good,157.26,580000.0,2413.0,GB,1,1,7.28,3,45,90,6,6
1,292268,2,'david Scoble' Maiden Stakes Class F,Class 6,4yo+,Standard,89.30,3522.0,1407.0,GB,0,6,7.00,4,10,91,3,1
2,339352,2,'brian Hurd' Handicap Class F,Class 6,4yo+,Standard,186.70,3553.0,2815.0,GB,0,6,9.28,2,10,91,3,1
3,346819,2,'amelia Barry' Maiden Stakes Class F,Class 6,3yo+,Standard,101.20,3926.0,1609.0,GB,0,6,3.28,3,10,91,3,1
4,391752,2,'peter Davies' Handicap Class F,Class 6,4yo+,Standard,103.50,3584.0,1609.0,GB,0,6,3.28,4,40,91,3,1

In [50]:
titles = all_races_new['title'].unique()
titles_mapping = {title: idx + 1 for idx, title in enumerate(titles)}
titles_mapping

{'Ever Ready Derby (Group 1) 3YO Colts And Fillies': 1,
 "'david Scoble' Maiden Stakes Class F": 2,
 "'brian Hurd' Handicap Class F": 3,
 "'amelia Barry' Maiden Stakes Class F": 4,
 "'peter Davies' Handicap Class F": 5,
 "'jeffrey Butler' Handicap Class F": 6,
 "'susan Bolton' Claiming Stakes Class F": 7,
 'Osprey Handicap Class F': 8,
 'Merlin Handicap Class F': 9,
 'Barn Owl Handicap Class F': 10,
 'Harrier Claiming Stakes Class F': 11,
 'Sparrowhawk Handicap Class D': 12,
 'Buzzard Maiden Stakes Class F': 13,
 'Vasco Da Gama Maiden Stakes (Div II) Class F': 14,
 'Livingstone Handicap Class E': 15,
 "William Hill 'golden Spurs' Amateur Riders Challenge Handicap Class F": 16,
 'Cook Claiming Stakes Class F': 17,
 'Columbus Handicap Class F': 18,
 'Marco Polo Handicap Class E': 19,
 'Vasco Da Gama Maiden Stakes (Div I) Class F': 20,
 'Tuxford Design Contractors Maiden Stakes Class F': 21,
 'Milton Handicap Class F': 22,
 'Ossington Handicap Class F': 23,
 'Normanton Handicap Class F': 24,
 'Design Contractors Maiden Apprentice Stakes Class F': 25,
 'Skegby Claiming Stakes Class F': 26,
 'Pisces Maiden Stakes Class F': 27,
 'Aquarius Claiming Stakes (Div II) Class F': 28,
 'Aquarius Claiming Stakes (Div I) Class F': 29,
 'Libra Handicap Class D': 30,
 'Saggitarius Handicap Class E': 31,
 'Virgo Handicap Class D': 32,
 'Zodiac Handicap Class B': 33,
 'Wateringbury Apprentice Maiden Stakes Class F': 34,
 'Tunbridge Wells Handicap Class F': 35,
 'Pantiles Handicap Class F': 36,
 'Goodwins Handicap Class E': 37,
 'Tonbridge Claiming Stakes Class F': 38,
 'Spring Handicap Class D': 39,
 'Mansfield Chad Maiden Stakes Class F': 40,
 'Hot Money Handicap Class F': 41,
 'National Plant &amp; Transport Claiming Stakes Class F': 42,
 'Smokescreen Handicap Class F': 43,
 'Banker Claiming Stakes Class F': 44,
 'Dead Cert Handicap Class F': 45,
 'Thrush Handicap Class F': 46,
 'Starling Handicap Class F': 47,
 'Design Contractors Maiden Stakes Class F': 48,
 'Blackbird Maiden Stakes Class F': 49,
 'Blue Tit Handicap Class F': 50,
 'Design Contractors Claiming Stakes Class F': 51,
 'Hall Gate Maiden Stakes Class F': 52,
 'Doncaster Mile (Listed Race) Class A': 53,
 'Raceform Update Handicap Handicap Class D': 54,
 'Northern Handicap Class D': 55,
 'Philip Cornes Brocklesby Stakes Class D': 56,
 'Raceform Apprentice Handicap Class F': 57,
 'Cystic Fibrosis Research Cup Handicap Stakes Class C': 58,
 'Holroyd Construction Group Stakes Handicap Class E': 59,
 'South Yorkshire Maiden Selling Stakes Class F': 60,
 'C. F. Jubilee Handicap Stakes Class D': 61,
 'Yours In Sport Maiden Stakes Class F': 62,
 'Polygon Promotions Ladies Only Handicap Stakes Class F': 63,
 'Lancaster Maiden Stakes Class F': 64,
 'EBF Grey Friars Maiden Stakes Class F': 65,
 'The PeopleSporting Life Championship 3YO Handicap Class D': 66,
 'Tetley Bitter Stakes Formerly The Doncaster Shield Class B': 67,
 'Wellington Claiming Stakes Class F': 68,
 'Doncaster Exhibition Centre Maiden Stakes Class F': 69,
 'William Hill Lincoln Handicap Class B': 70,
 'Mosquito Claiming Stakes Class F': 71,
 'Halifax Handicap Class D': 72,
 'Cammidge Trophy (Listed Race) Class A': 73,
 'March Maiden Stakes Class E': 74,
 'Stirling Handicap Class F': 75,
 'Beaufort Handicap Class E': 76,
 'Kingsnorth Handicap Class F': 77,
 'Alkham Claiming Stakes (Div I) Class F': 78,
 'Levy Board Maiden Stakes Class F': 79,
 'Rochester Auction Graduation Stakes Class F': 80,
 'Aldington Handicap Class F': 81,
 'Shorncliffe Maiden Stakes Class F': 82,
 'Alkham Claiming Stakes (Div II) Class F': 83,
 'Headcorn Maiden Stakes Class F': 84,
 'Bescaby Maiden Stakes Class F': 85,
 'Kibworth Claiming Stakes Class F': 86,
 'Butler Handicap Class F': 87,
 'Greyhound Handicap Class E': 88,
 'Harborough Fillies Graduation Stakes Class E': 89,
 'Keythorpe Maiden Stakes Class F': 90,
 'Forcett Park Selling Stakes Class F': 91,
 'Yarm Handicap Class E': 92,
 'Gods Solution Handicap Class E': 93,
 'Northern Trailer Sales Stakes Class E': 94,
 'Springtime Handicap Class E': 95,
 'EBF Oran Maiden Stakes Class F': 96,
 'Whorlton Maiden Stakes Class F': 97,
 'Sheepcote Valley Handicap Class D': 98,
 'Roedean Handicap Class D': 99,
 'Churchill Square Maiden Stakes Class F': 100,
 'Hollingbury Handicap Class F': 101,
 'Falmer Maiden Stakes Class F': 102,
 'Elm Grove Claiming Stakes Class F': 103,
 'Cummersdale Maiden Stakes Class F': 104,
 'Haydock Park Stakes Class F': 105,
 "Queen's Prize Handicap Class C": 106,
 'Wetheral Handicap Class E': 107,
 'BonusPrint Masaka Stakes Class B': 108,
 'BonusPrint Easter Stakes (Listed Race) Class A': 109,
 'EBF Redfern Maiden Stakes Class E': 110,
 'Ivegill Maiden Stakes Class F': 111,
 'Great Corby Claiming Stakes Class F': 112,
 'Border Garden Centre Handicap Class E': 113,
 'Chatsworth Handicap Class D': 114,
 'Horserace Betting Levy Board Apprentice Handicap Class F': 115,
 'Queen Elizabeth Handicap Class D': 116,
 'Broxtowe Handicap Class F': 117,
 'Lions Club International Handicap Class F': 118,
 'Sherwood Handicap Class F': 119,
 'Pearl Run Handicap Class D': 120,
 'Clumber Graduation Stakes Class D': 121,
 'Quail Stakes Class C': 122,
 'EBF Blanchland Maiden Stakes Class F': 123,
 'John D. Tupper Handicap Class D': 124,
 'Bidford Selling Stakes Class F': 125,
 'Robin Hood Maiden Stakes Class F': 126,
 'Forest Hall Handicap Class F': 127,
 'Durante Handicap Class D': 128,
 'Meldon Maiden Apprentice Stakes Class F': 129,
 'County Claiming Stakes Class F': 130,
 'Redshank Maiden Fillies Stakes Class F': 131,
 'B.B.C. C.W.R. Handicap Class F': 132,
 "Leek Wooton Maiden Fillies' Stakes Class F": 133,
 'Little John Stakes Class D': 134,
 'Teal Handicap Class D': 135,
 'Middlesex Handicap Class D': 136,
 'Candle Meadow Handicap Class F': 137,
 'Newcastle Handicap Class D': 138,
 'Killingworth Maiden Stakes Class F': 139,
 'Marton Graduation Stakes Class D': 140,
 'Northern Handicap Class E': 141,
 'Rosebery Handicap Class B': 142,
 'Fifield Maiden Stakes Class E': 143,
 'Coventry Handicap Class D': 144,
 'Haseley Handicap Class E': 145,
 'Chandler Suite Maiden Stakes Class F': 146,
 'EBF Compton Verney Maiden Two Yr Old Stakes Class F': 147,
 'Castle Suite Maiden Stakes (Div II) Class F': 148,
 'Kingswood Claiming Stakes (Div II) Class F': 149,
 'Kingswood Claiming Stakes (Div I) Class F': 150,
 'Castle Suite Maiden Stakes (Div I) Class F': 151,
 'Chatelherault Maiden Claiming Stakes Class F': 152,
 'Bothwell Road Selling Handicap Class F': 153,
 'EBF Campsie Maiden Stakes Class F': 154,
 'H.E.D.C. Maiden Auction Stakes Class F': 155,
 "'home In On Hamilton' Handicap Class E": 156,
 'Strathclyde Park Apprentice Handicap Class F': 157,
 'Southwick Maiden Stakes Class F': 158,
 'Seven Dials Auction Graduation Stakes Class F': 159,
 'Brighton Festival Handicap Class F': 160,
 'Ovingdean Handicap Class F': 161,
 'Hurstpierpoint Selling Handicap Class F': 162,
 'Pyecombe Apprentice Stakes Class F': 163,
 'Florence Nagle Girl Apprentices Handicap Class E': 164,
 'Magnolia Stakes (Listed Race) Class A': 165,
 'Syringa Handicap Class D': 166,
 'Laburnum Graduation Stakes Class D': 167,
 'Polyanthus Maiden Auction Stakes Class F': 168,
 'Jonnie Mullings Memorial Handicap Class D': 169,
 'April Handicap Class E': 170,
 'East Grinstead Claiming Stakes Class F': 171,
 'William Hill First For Freephone Handicap Class F': 172,
 'Joe Bates Handicap Class F': 173,
 'Oxted Median Auction Graduation Stakes Class F': 174,
 'Westerham Maiden Stakes Class F': 175,
 'Rainbow Rovers Charity Maiden Stakes Class F': 176,
 'Westminster Insurance Spital Tongues Maiden Stakes Class F': 177,
 'Westminster Motor Taxi Insurance Handicap Class D': 178,
 'Taxinews Handicap Class F': 179,
 'John And Aileen Oswell Westminster Agency Handicap Class E': 180,
 'Westminster Claims Recovery Claiming Stakes Class F': 181,
 'Barbican Handicap Class E': 182,
 'Hardwick Handicap Class E': 183,
 'Hey UK Group Trophy Class D': 184,
 'Bentley Memorial Selling Handicap Class F': 185,
 'Beast Fair Maiden Stakes Class F': 186,
 'Spring Three Year Old Maiden Stakes Class E': 187,
 'Spa Welter Auction Graduation Stakes Class F': 188,
 'Hackfall Apprentice Stakes Class F': 189,
 'Studley Royal Handicap Class E': 190,
 'Grewelthorpe Handicap Class D': 191,
 'Danby Selling Handicap Class F': 192,
 'Fountains Auction Stakes Class F': 193,
 'Aldborough Maiden Stakes Class F': 194,
 'Milby Claiming Stakes (Div I) Class F': 195,
 'Markington Handicap Class D': 196,
 'Roecliffe Stakes Class E': 197,
 'Milby Claiming Stakes (Div II) Class F': 198,
 'Kirby Hill Handicap Class D': 199,
 'Langthorpe Handicap Class F': 200,
 'Leconfield Maiden Stakes Class F': 201,
 'Hornsea Mere Handicap Class D': 202,
 'Withernsea Handicap Class D': 203,
 'Hutton Cranswick Maiden Auction Stakes Class F': 204,
 'Bridlington Bay Maiden Stakes Class F': 205,
 'Scarborough Spa Selling Stakes Class F': 206,
 'Kiplingcotes Selling Stakes Class F': 207,
 'Knowle Maiden Fillies Stakes (Div I) Class F': 208,
 'Binton Claiming Stakes (Div I) Class F': 209,
 'Hessle Handicap Class D': 210,
 'Binton Claiming Stakes (Div II) Class F': 211,
 'Old Milverton Maiden Stakes Class F': 212,
 'Knowle Maiden Fillies Stakes (Div II) Class F': 213,
 'A. C. Lloyd Handicap Class D': 214,
 'Coventry Cup Handicap Class D': 215,
 'Corstorphine &amp; Wright Handicap Class D': 216,
 'Filey Stakes Class E': 217,
 'Bygot Wood Handicap Class E': 218,
 'Lamworth Maiden Stakes Class F': 219,
 'Yorkshire Television Handicap Class D': 220,
 'Gravesend Handicap Class F': 221,
 'Call Boy Handicap Class E': 222,
 'Chatham Maiden Stakes (Div II) Class F': 223,
 'Aboyeur Selling Stakes Class F': 224,
 "Levy Board Apprentices' Handicap Class F": 225,
 "Dartford Maiden Fillies' Stakes Class F": 226,
 'Tennents Spring Handicap Class E': 227,
 'Felstead Claiming Stakes (Div II) Class F': 228,
 'Aberlady Selling Handicap Class F': 229,
 'Oh So Sharp Stakes Class D': 230,
 'Gillingham Selling Handicap Class F': 231,
 'Coronach Handicap Class E': 232,
 'Carberry Maiden Auction Stakes Class F': 233,
 'Felstead Claiming Stakes (Div I) Class F': 234,
 'Dalmeny Handicap Class F': 235,
 'Slip Anchor Stakes Class D': 236,
 "'privy Councillor' Stakes Class E": 237,
 'Inveresk Maiden Stakes Class F': 238,
 'Chatham Maiden Stakes (Div I) Class F': 239,
 'North Berwick Maiden Stakes Class F': 240,
 'Saltwood Handicap Class F': 241,
 'Museum Maiden Stakes Class D': 242,
 'Chris Blackwell Memorial Handicap Class D': 243,
 'Shadwell Stud Nell Gwyn Stakes (Group 3) Class A': 244,
 "Keylock's Challenge Trophy Maiden Stakes Class D": 245,
 'Constant Security Maiden Stakes Class D': 246,
 'Ladbroke Handicap Class D': 247,
 'Abernant Stakes (Listed Race) Class A': 248,
 'Johansens Guides Wood Ditton Stakes Class C': 249,
 'Lady Balk Maiden Stakes (Div II) Class F': 250,
 'Geoffrey Barling Maiden Stakes Class D': 251,
 'Ravenspark Handicap Class F': 252,
 'Ossett Selling Stakes Class F': 253,
 'Earl Of Sefton EBF Stakes (Group 3) Class A': 254,
 'Ladbroke European Free Handicap (Listed Race) Class A': 255,
 'Kidsneuk Maiden Stakes Class F': 256,
 'EBF Bartlow Maiden Fillies Stakes Class D': 257,
 'St Giles Handicap Class D': 258,
 'David Scott Pattern Makers Handicap Class D': 259,
 'Greenan Claiming Stakes Class F': 260,
 'Ladykirk Stakes Class E': 261,
 'Strawberry Hill Auction Stakes Class E': 262,
 'Garforth Handicap Class F': 263,
 'Great Western Sprint Handicap Class D': 264,
 'Lady Balk Maiden Stakes (Div I) Class F': 265,
 'Jeyes Bloo Handicap Class D': 266,
 'Garnock Handicap Class D': 267,
 'Smithstone Handicap Class E': 268,
 'Lamlash Selling Stakes Class F': 269,
 'Remy Martin Vsop Cognac Handicap Class D': 270,
 'Feilden Stakes (Listed Race) Class A': 271,
 'EBF Stuntney Maiden Stakes Class D': 272,
 'Auchans Maiden Stakes Class F': 273,
 'Castlehill Apprentice Handicap Class F': 274,
 'Remy Martin Xo Cognac Maiden Stakes Class D': 275,
 'Boadicea Handicap Class D': 276,
 'Craigie Cup Handicap Class D': 277,
 'Western Music Fillies Stakes Class E': 278,
 'Charles Heidsieck Champagne Craven Stakes (Group 3) Class A': 279,
 'Ladbrokes Boldboy Sprint Handicap Class C': 280,
 'Burghclere Stakes Class C': 281,
 'Birdforth Handicap Class D': 282,
 'Thatcham Handicap Class D': 283,
 'Spring Maiden Stakes Class D': 284,
 'Knayton Selling Stakes Class F': 285,
 'Gainsborough Stud Fred Darling Stakes (Group 3) Class A': 286,
 'Sowerby Stakes Class E': 287,
 'Oakstripe Handicap Class D': 288,
 'EBF Briton Maiden Stakes Class F': 289,
 'Hambleton Graduation Stakes Class D': 290,
 'EBF Beckhampton Maiden Stakes Class D': 291,
 'Brentwood Design Median Auction Maiden Stakes Class F': 292,
 'Singer &amp; Friedlander Greenham Stakes (Group 3) Class A': 293,
 'Bridget Maiden Fillies Stakes Class D': 294,
 'Lanes End John Porter EBF Stakes (Group 3) Class A': 295,
 'Clifton Stakes Class E': 296,
 'Compton Maiden Stakes Class D': 297,
 'Thomas Lord Handicap Class F': 298,
 'Michael Foster Memorial Stakes Class C': 299,
 'Straightlace Handicap Class E': 300,
 'Chieveley Handicap Class D': 301,
 'Thirsk Classic Trial Stakes Class C': 302,
 'Miller Construction Spring Cup Handicap Class C': 303,
 'Petworth Handicap Class F': 304,
 'Glen Handicap Class F': 305,
 'Orleans Maiden Fillies Stakes Class F': 306,
 'Prince Of Wales Graduation Stakes Class C': 307,
 'Town Purse Handicap Class F': 308,
 'Avon Handicap Class E': 309,
 'Conflans Handicap Class E': 310,
 'Sidney Thompson Memorial Stakes Class D': 311,
 'Dunwan Maiden Stakes Class F': 312,
 'Earn Claiming Stakes Class F': 313,
 'Levy Board Maiden Stakes (Div II) Class F': 314,
 'Springfield Maiden Stakes Class F': 315,
 'Levy Board Handicap Class F': 316,
 'Levy Board Maiden Stakes (Div I) Class F': 317,
 'Calder Handicap Class E': 318,
 'WestminsterMotor Taxi Insurance City And Suburban Handicap Class B': 319,
 'Cuddington Maiden Auction Stakes Class F': 320,
 'Taxinews Handicap Class D': 321,
 'Princess Elizabeth Stakes (Listed Race) Class A': 322,
 'Warren Stakes (Listed Race) Class A': 323,
 'Ladbroke Credit Handicap Class D': 324,
 'Hurgill Lodge Stakes Class D': 325,
 'Banstead Maiden Stakes (Div II) Class F': 326,
 'Minoru Hanicap Class D': 327,
 'Sedbury Maiden Stakes Class F': 328,
 'Banstead Maiden Stakes (Div I) Class F': 329,
 'Westminster Handicap Class D': 330,
 'Richmond Stakes Class E': 331,
 'Great Metropolitan Handicap Class D': 332,
 "'win With Tote' Handicap Class E": 333,
 'Aspiring Jockeys Apprentice Handicap Class F': 334,
 'Jockey Cap Selling Stakes Class F': 335,
 'Spring Handicap Class F': 336,
 'Spring Meeting Fillies Handicap Class D': 337,
 'Blue Riband Trial Stakes Class C': 338,
 'Ald. William Hodgson Maiden Stakes Class F': 339,
 'Brian Oughtred Handicap Class D': 340,
 'George Cullington Handicap Class D': 341,
 'Captain Storie Maiden Fillies Stakes Class F': 342,
 'Brian Boyes Claiming Stakes Class F': 343,
 'Charles Greig Handicap Class D': 344,
 'Golden Eagle Handicap Class F': 345,
 'Ring &amp; Brymer Handicap Class D': 346,
 'Kestrel Claiming Stakes (Div I) Class F': 347,
 'Harvester Graduation Stakes Class C': 348,
 "Forte Hotels' Handicap Class D": 349,
 'Gardner Merchant Maiden Fillies Stakes Class D': 350,
 'Post House Maiden Fillies Stakes Class D': 351,
 'EBF Buzzard Maiden Stakes Class F': 352,
 'Kestrel Claiming Stakes (Div II) Class F': 353,
 'Trusthouse Forte Mile Guaranteed Minimum Value £60000 (Group Class A': 354,
 "Wheeler's Restaurant Handicap Class D": 355,
 'Peregrine Falcon Handicap Class F': 356,
 "Sparrow Hawk Maiden Fillies' Stakes Class F": 357,
 'Redmile Maiden Stakes (Div I) Class F': 358,
 'Thresher Classic Trial Guaranteed Minimum Value £60000 (Group 3) Class A': 359,
 'Madagans Leicestershire Stakes (Listed Race) Class A': 360,
 'Madagans Handicap Class D': 361,
 'Redmile Maiden Stakes (Div II) Class F': 362,
 'Bishopton Selling Stakes Class F': 363,
 'Woolsthorpe Maiden Stakes Class F': 364,
 'Gadsby Selling Stakes Class F': 365,
 "Rainton Maiden Fillies' Stakes Class F": 366,
 'Newby Handicap Class F': 367,
 'Pizza Hut Maiden Stakes Class D': 368,
 "T.G.I. Friday's Handicap Class B": 369,
 'Cch Gordon Richards EBF Stakes Guaranteed Minimum Value £40000 (Group 3) Class A': 370,
 'Lansbury Handicap Class D': 371,
 'C. B. Hutchinson Memorial Challenge Cup Handicap Stakes Class D': 372,
 'Littlethorpe Maiden Stakes Class F': 373,
 'Watling Street Fillies Stakes Class D': 374,
 'Tote Dual Forecast Handicap Class D': 375,
 'Atherstone Fillies Handicap Class E': 376,
 'Lady Caroline Stakes Class E': 377,
 'Tamworth Selling Stakes Class F': 378,
 'Jock Scott Handicap Class E': 379,
 'Tote Bookmakers Stakes Class D': 380,
 'Levy Board Maiden Stakes Class E': 381,
 'Midland Spring Handicap Class D': 382,
 'Mar Lodge Median Auction Graduation Stakes Class F': 383,
 'Dusty Miller Handicap Class E': 384,
 'Lichfield Maiden Auction Stakes Class F': 385,
 'Rugeley Claiming Stakes Class F': 386,
 'EBF Blue Charm Maiden Stakes Class F': 387,
 'Tote Marathon Handicap Class E': 388,
 'Tote Place Only Maiden Stakes Class E': 389,
 'Tote Placepot Maiden Auction Stakes Class E': 390,
 'Torrish Claiming Stakes Class E': 391,
 'Tote Credit Selling Handicap Class F': 392,
 'Oval Maiden Stakes Class F': 393,
 'Trent Bridge Handicap Class F': 394,
 'Somerset Stakes Class D': 395,
 'Headingley Stakes Class D': 396,
 'Lords Handicap Class F': 397,
 'Blathwayt Maiden Stakes Class F': 398,
 'Edgbaston Handicap Class E': 399,
 'Spa Selling Stakes Class F': 400,
 'Tavern Selling Stakes Class F': 401,
 'Ilchester Handicap Class D': 402,
 'Old Trafford Maiden Stakes Class F': 403,
 'Empire Handicap Class D': 404,
 'EBF Hodcott Maiden Stakes Class F': 405,
 'Insulpak Victoria Cup Handicap Class B': 406,
 'Insulpak Stakes Graduation Class B': 407,
 'Garter Stakes Graduation Class B': 408,
 'Chobham Apprentice Handicap Class D': 409,
 'White Rose Stakes Class B': 410,
 'Insulpak Sagaro EBF Stakes (Group 3) Class A': 411,
 'Lauderdale Handicap Class E': 412,
 'Kilton Claiming Stakes Class F': 413,
 'Lady Jockeys Association Handicap Class F': 414,
 'EBF Morriston Maiden Stakes Class F': 415,
 'McCarthy Information Handicap Class D': 416,
 'B.B.A. Pretty Polly Stakes (Listed Race) Class A': 417,
 'Eston Handicap Class F': 418,
 'Ushers Trophy Handicap Class D': 419,
 'EBF Ayton Maiden Stakes Class F': 420,
 'Pentland Maiden Stakes (Div I) Class F': 421,
 'Rex Cohen Memorial Maiden Stakes Class C': 422,
 'Huntcliffe Handicap Class E': 423,
 'General Accident 1000 Guineas Stakes (Group 1) Class A': 424,
 'Mackinlay Memorial Handicap Class E': 425,
 'Pentland Maiden Stakes (Div II) Class F': 426,
 'Almond Apprentice Handicap Class F': 427,
 'Microsoft Maiden Stakes Class D': 428,
 'Douglas Stakes Class D': 429,
 'Danby Maiden Stakes Class F': 430,
 'Hintlesham Hall May Stakes Class C': 431,
 'Arlington Auction Stakes Class D': 432,
 'Scottish Rifles Handicap Class E': 433,
 'EBF Mandora Maiden Stakes Class F': 434,
 'EBF Wilbraham Maiden Fillies Stakes Class D': 435,
 'Lord Lyndoch Maiden Claiming Stakes Class F': 436,
 'Burwell Handicap Class D': 437,
 'Newmarket Stakes (Listed Race) Class A': 438,
 'General Accident Jockey Club Stakes (Group 2) Class A': 439,
 'Eastern Electricity Handicap Class D': 440,
 'Earl Of Angus Selling Stakes Class F': 441,
 'Blenheim Handicap Class F': 442,
 'Cameronians Handicap Class F': 443,
 'Palace House Stakes (Group 3) Class A': 444,
 'Thornton Handicap Class F': 445,
 'Thirsk Hunt Cup Handicap Class C': 446,
 'Chippenham Park Maiden Stakes Class D': 447,
 'Market Place Median Auction Maiden Stakes Class F': 448,
 'Mayer Parry Handicap Class C': 449,
 'Ladbrokes Handicap Class C': 450,
 'Surfachem Handicap Ladies Class F': 451,
 'Coxwold Handicap Class D': 452,
 'General Accident 2000 Guineas Stakes (Group 1) Class A': 453,
 'May Claiming Stakes Class F': 454,
 'Millgate Maiden Stakes Class F': 455,

In [51]:
all_races_new['title'] = all_races_new['title'].map(titles_mapping)
all_races_new.head()

,rid,course,title,rclass,ages,condition,winningTime,prize,metric,countryCode,ncond,class,distanceFeet,hours,minutes,raceYear,raceMonth,raceDate
0,305728,1,1,Class 1,3yo,Good,157.26,580000.0,2413.0,GB,1,1,7.28,3,45,90,6,6
1,292268,2,2,Class 6,4yo+,Standard,89.30,3522.0,1407.0,GB,0,6,7.00,4,10,91,3,1
2,339352,2,3,Class 6,4yo+,Standard,186.70,3553.0,2815.0,GB,0,6,9.28,2,10,91,3,1
3,346819,2,4,Class 6,3yo+,Standard,101.20,3926.0,1609.0,GB,0,6,3.28,3,10,91,3,1
4,391752,2,5,Class 6,4yo+,Standard,103.50,3584.0,1609.0,GB,0,6,3.28,4,40,91,3,1

In [52]:
conditions = all_races_new['condition'].unique()
conditions_mapping = {condition: idx + 1 for idx, condition in enumerate(conditions)}
conditions_mapping

{'Good': 1,
 'Standard': 2,
 'Soft': 3,
 'Good To Soft': 4,
 'Heavy': 5,
 'Good To Firm': 6,
 'Firm': 7,
 'Hard': 8,
 'Slow': 9,
 'Fast': 10,
 'Yielding': 11,
 'Standard To Slow': 12,
 'Very Soft': 13,
 'Standard To Fast': 14,
 'Yielding To Soft': 15,
 'Soft To Heavy': 16}

In [53]:
all_races_new['condition'] = all_races_new['condition'].map(conditions_mapping)
all_races_new.head()

,rid,course,title,rclass,ages,condition,winningTime,prize,metric,countryCode,ncond,class,distanceFeet,hours,minutes,raceYear,raceMonth,raceDate
0,305728,1,1,Class 1,3yo,1,157.26,580000.0,2413.0,GB,1,1,7.28,3,45,90,6,6
1,292268,2,2,Class 6,4yo+,2,89.30,3522.0,1407.0,GB,0,6,7.00,4,10,91,3,1
2,339352,2,3,Class 6,4yo+,2,186.70,3553.0,2815.0,GB,0,6,9.28,2,10,91,3,1
3,346819,2,4,Class 6,3yo+,2,101.20,3926.0,1609.0,GB,0,6,3.28,3,10,91,3,1
4,391752,2,5,Class 6,4yo+,2,103.50,3584.0,1609.0,GB,0,6,3.28,4,40,91,3,1

In [54]:
classes = all_races_new['rclass'].unique()
classes_mapping = {classe: idx + 1 for idx, classe in enumerate(classes)}
classes_mapping

{'Class 1': 1,
 'Class 6': 2,
 'Class 4': 3,
 'Class 5': 4,
 'Class 2': 5,
 'Class 3': 6,
 'Class 7': 7}

In [55]:
all_races_new['rclass'] = all_races_new['rclass'].map(classes_mapping)
all_races_new.head()

,rid,course,title,rclass,ages,condition,winningTime,prize,metric,countryCode,ncond,class,distanceFeet,hours,minutes,raceYear,raceMonth,raceDate
0,305728,1,1,1,3yo,1,157.26,580000.0,2413.0,GB,1,1,7.28,3,45,90,6,6
1,292268,2,2,2,4yo+,2,89.30,3522.0,1407.0,GB,0,6,7.00,4,10,91,3,1
2,339352,2,3,2,4yo+,2,186.70,3553.0,2815.0,GB,0,6,9.28,2,10,91,3,1
3,346819,2,4,2,3yo+,2,101.20,3926.0,1609.0,GB,0,6,3.28,3,10,91,3,1
4,391752,2,5,2,4yo+,2,103.50,3584.0,1609.0,GB,0,6,3.28,4,40,91,3,1

In [56]:
ages = all_races_new['ages'].unique()
ages_mapping = {age: idx + 1 for idx, age in enumerate(ages)}
ages_mapping

{'3yo': 1,
 '4yo+': 2,
 '3yo+': 3,
 '2yo': 4,
 '3-4yo': 5,
 '4yo': 6,
 '3-5yo': 7,
 '2yo+': 8,
 '2-3yo': 9,
 '5yo+': 10,
 '6yo+': 11,
 '4-6yo': 12,
 '4-7yo': 13,
 '5-7yo': 14,
 '5-8yo': 15,
 '3-6yo': 16,
 '6-8yo': 17,
 '5yo': 18,
 '4-5yo': 19,
 '9yo+': 20,
 '7yo+': 21,
 '6-9yo': 22,
 '8yo+': 23,
 '4-8yo': 24,
 '10yo+': 25,
 '5-6yo': 26}

In [57]:
all_races_new['ages'] = all_races_new['ages'].map(ages_mapping)
all_races_new.head()

,rid,course,title,rclass,ages,condition,winningTime,prize,metric,countryCode,ncond,class,distanceFeet,hours,minutes,raceYear,raceMonth,raceDate
0,305728,1,1,1,1,1,157.26,580000.0,2413.0,GB,1,1,7.28,3,45,90,6,6
1,292268,2,2,2,2,2,89.30,3522.0,1407.0,GB,0,6,7.00,4,10,91,3,1
2,339352,2,3,2,2,2,186.70,3553.0,2815.0,GB,0,6,9.28,2,10,91,3,1
3,346819,2,4,2,3,2,101.20,3926.0,1609.0,GB,0,6,3.28,3,10,91,3,1
4,391752,2,5,2,2,2,103.50,3584.0,1609.0,GB,0,6,3.28,4,40,91,3,1

In [58]:
countrys = all_races_new['countryCode'].unique()
country_mapping = {country: idx + 1 for idx, country in enumerate(countrys)}
country_mapping

{'GB': 1, 'IE': 2}

In [59]:
all_races_new['countryCode'] = all_races_new['countryCode'].map(country_mapping)
all_races_new.head()

,rid,course,title,rclass,ages,condition,winningTime,prize,metric,countryCode,ncond,class,distanceFeet,hours,minutes,raceYear,raceMonth,raceDate
0,305728,1,1,1,1,1,157.26,580000.0,2413.0,1,1,1,7.28,3,45,90,6,6
1,292268,2,2,2,2,2,89.30,3522.0,1407.0,1,0,6,7.00,4,10,91,3,1
2,339352,2,3,2,2,2,186.70,3553.0,2815.0,1,0,6,9.28,2,10,91,3,1
3,346819,2,4,2,3,2,101.20,3926.0,1609.0,1,0,6,3.28,3,10,91,3,1
4,391752,2,5,2,2,2,103.50,3584.0,1609.0,1,0,6,3.28,4,40,91,3,1

In [60]:
all_races_new['ncond'].unique()

array(['1', '0', '5', '10', '9', '2', '8', 'Hard', '17', 0, 7, 2, 8, 5, 1,
       10, 9, 17, 6, '7', 13, 3, 14, '14', '13', 11, 12], dtype=object)

In [61]:
values_to_remove = ['Hard']

# Filter the DataFrame to exclude rows with these values in 'column1'
all_races_new = all_races_new[~all_races_new['ncond'].isin(values_to_remove)]
all_races_new.head()

,rid,course,title,rclass,ages,condition,winningTime,prize,metric,countryCode,ncond,class,distanceFeet,hours,minutes,raceYear,raceMonth,raceDate
0,305728,1,1,1,1,1,157.26,580000.0,2413.0,1,1,1,7.28,3,45,90,6,6
1,292268,2,2,2,2,2,89.30,3522.0,1407.0,1,0,6,7.00,4,10,91,3,1
2,339352,2,3,2,2,2,186.70,3553.0,2815.0,1,0,6,9.28,2,10,91,3,1
3,346819,2,4,2,3,2,101.20,3926.0,1609.0,1,0,6,3.28,3,10,91,3,1
4,391752,2,5,2,2,2,103.50,3584.0,1609.0,1,0,6,3.28,4,40,91,3,1

In [62]:
horses = all_horses_new.copy()
horses

,rid,horseName,age,saddle,decimalPrice,trainerName,jockeyName,position,positionL,dist,...,TR,OR,father,mother,gfather,runners,margin,weight,res_win,res_place
0,282203,1,11.0,0.0,0.250000,1,1,3,5,8.0,...,77.0,111.0,1,1,1,3,1.083333,68,0.0,0.0
1,298761,2,6.0,0.0,0.181818,2,2,3,15,16.5,...,84.0,131.0,2,2,2,5,1.134199,68,0.0,0.0
2,298761,3,6.0,0.0,0.266667,3,3,4,5,21.5,...,76.0,128.0,3,3,3,5,1.134199,66,0.0,0.0
3,298761,4,7.0,0.0,0.066667,4,4,5,5,26.5,...,60.0,121.0,4,4,4,5,1.134199,61,0.0,0.0
4,301118,5,7.0,0.0,0.166667,5,5,3,2,5.0,...,88.0,102.0,5,5,5,13,1.382585,69,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167079,415018,141409,5.0,10.0,0.222222,1155,5485,5,12,21.75,...,48.0,119.0,4053,66130,4547,11,1.168202,66,0.0,0.0
1167080,415018,140249,5.0,3.0,0.014925,1,3920,6,4.5,26.25,...,54.0,130.0,4568,65597,2069,11,1.168202,71,0.0,0.0
1167081,415018,135789,7.0,1.0,0.166667,104,4493,7,1,27.25,...,58.0,135.0,2716,63867,2893,11,1.168202,73,0.0,0.0
1167082,415018,141319,6.0,2.0,0.111111,31,1352,8,3.75,31,...,49.0,130.0,4557,57270,2794,11,1.168202,71,0.0,0.0
1167083,415025,129483,9.0,1.0,0.238095,1910,3154,3,.5,3.5,...,10.0,105.0,4063,61363,2800,8,1.144097,75,0.0,1.0

In [63]:
races = all_races_new.copy()
races

,rid,course,title,rclass,ages,condition,winningTime,prize,metric,countryCode,ncond,class,distanceFeet,hours,minutes,raceYear,raceMonth,raceDate
0,305728,1,1,1,1,1,157.26,580000.0,2413.0,1,1,1,7.28,3,45,90,6,6
1,292268,2,2,2,2,2,89.30,3522.0,1407.0,1,0,6,7.00,4,10,91,3,1
2,339352,2,3,2,2,2,186.70,3553.0,2815.0,1,0,6,9.28,2,10,91,3,1
3,346819,2,4,2,3,2,101.20,3926.0,1609.0,1,0,6,3.28,3,10,91,3,1
4,391752,2,5,2,2,2,103.50,3584.0,1609.0,1,0,6,3.28,4,40,91,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243518,415071,40,139304,3,3,2,74.52,9119.0,1206.0,1,0,4,6.00,6,0,20,12,5
243519,415072,40,139297,3,3,2,73.41,9119.0,1206.0,1,0,4,6.00,6,30,20,12,5
243520,415073,40,123693,6,3,2,156.26,11312.0,2413.0,1,0,3,7.28,7,0,20,12,5
243521,415074,40,151610,3,3,2,119.83,8519.0,1910.5,1,0,4,3.78,7,30,20,12,5
243522,415075,40,140017,4,3,2,160.10,5214.0,2413.0,1,0,5,7.28,8,0,20,12,5

In [64]:
merged_data = pd.merge(horses, races, on='rid', suffixes=('_horse', '_race'))
merged_data

,rid,horseName,age,saddle,decimalPrice,trainerName,jockeyName,position,positionL,dist,...,metric,countryCode,ncond,class,distanceFeet,hours,minutes,raceYear,raceMonth,raceDate
0,339352,4461,4.0,0.0,0.117647,336,165,3,6,7.5,...,2815.0,1,0,6,9.28,2,10,91,3,1
1,339352,2447,6.0,0.0,0.111111,512,556,4,.75,8.25,...,2815.0,1,0,6,9.28,2,10,91,3,1
2,353747,2759,7.0,0.0,0.153846,281,164,4,1,2.0,...,2011.0,1,0,6,5.28,3,25,91,3,2
3,353747,4616,4.0,0.0,0.066667,42,235,5,1.5,3.5,...,2011.0,1,0,6,5.28,3,25,91,3,2
4,353747,4617,8.0,0.0,0.058824,597,322,6,1,4.5,...,2011.0,1,0,6,5.28,3,25,91,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
778971,415018,141409,5.0,10.0,0.222222,1155,5485,5,12,21.75,...,4022.0,1,5,3,10.56,1,50,20,12,4
778972,415018,140249,5.0,3.0,0.014925,1,3920,6,4.5,26.25,...,4022.0,1,5,3,10.56,1,50,20,12,4
778973,415018,135789,7.0,1.0,0.166667,104,4493,7,1,27.25,...,4022.0,1,5,3,10.56,1,50,20,12,4
778974,415018,141319,6.0,2.0,0.111111,31,1352,8,3.75,31,...,4022.0,1,5,3,10.56,1,50,20,12,4
778975,415025,129483,9.0,1.0,0.238095,1910,3154,3,.5,3.5,...,5329.5,1,5,5,10.84,1,40,20,12,4

In [65]:
merged_data.columns

Index(['rid', 'horseName', 'age', 'saddle', 'decimalPrice', 'trainerName',
       'jockeyName', 'position', 'positionL', 'dist', 'weightSt', 'weightLb',
       'RPR', 'TR', 'OR', 'father', 'mother', 'gfather', 'runners', 'margin',
       'weight', 'res_win', 'res_place', 'course', 'title', 'rclass', 'ages',
       'condition', 'winningTime', 'prize', 'metric', 'countryCode', 'ncond',
       'class', 'distanceFeet', 'hours', 'minutes', 'raceYear', 'raceMonth',
       'raceDate'],
      dtype='object')

In [66]:
file_name = 'Clean Horse Race Dataset.csv'
merged_data.to_csv(file_name,index=False)

print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.